Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: test_normalisation
  .pre-commit-config.yaml
  tests/pipelines/core/test_normalisation.py
Due: none

revert: remove py3.10 support
  .github/workflows/tests.yml
Due: none

docs: document EDSLanguage
  docs/languages.md
  mkdocs.yml
Due: Build documentation

feat: log potential tokenization errors
  edsnlp/language.py
Due: Running Pytest, Installation

Update docs/languages.md
  docs/languages.md
Due: Build documentation

fix: stop mutating default param in Sections pipeline
  edsnlp/pipelines/misc/sections/sections.py
Due: none

feat: new custom eds language for french clinical documents
  changelog.md
  demo/app.py
  edsnlp/__init__.py
  edsnlp/language.py
  edsnlp/pipelines/misc/dates/patterns/__init__.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  scripts/serve.py
  setup.py
  tests/conftest.py
  tests/pipelines/misc/test_measure.py
  tests/pipelines/misc/test_reason.py
  tests/pipelines/qualifiers/conftest.py
  tests/processing/test_processing.py
  tests/test_language.py
Due: Running Pytest, Installation

docs: document EDSLanguage
  docs/languages.md
  edsnlp/language.py
Due: Running Pytest, Installation, Build documentation

fix: make streamlit demo install master instead of release
  demo/requirements.txt
Due: none

style: tests workflow definition
  .github/workflows/tests.yml
Due: none

fix: add build requirements
  pyproject.toml
Due: none

refactor: uniformise to "blocs"
  edsnlp/utils/blocs.py
  tests/test_docs.py
Due: Running Pytest

chore: update the changelog
  changelog.md
Due: none

docs: add documentation for utilities
  docs/utilities/tests/blocs.md
  docs/utilities/tests/examples.md
  docs/utilities/tests/index.md
  mkdocs.yml
Due: Build documentation

fix: example code bloc
  docs/utilities/tests/examples.md
Due: none

fix: fastapi examples
  docs/advanced-tutorials/fastapi.md
Due: none

feat: add docstrings to blocks
  changelog.md
  docs/pipelines/core/endlines.md
  edsnlp/utils/blocks.py
  tests/test_docs.py
Due: Running Pytest

fix: sentences examples
  docs/pipelines/core/sentences.md
Due: none

feat: add code blocks testing
  edsnlp/utils/blocks.py
  requirements-dev.txt
  tests/test_docs.py
Due: Running Pytest

fix: qualifier examples
  docs/pipelines/qualifiers/family.md
  docs/pipelines/qualifiers/history.md
  docs/pipelines/qualifiers/hypothesis.md
  docs/pipelines/qualifiers/index.md
  docs/pipelines/qualifiers/negation.md
  docs/pipelines/qualifiers/reported-speech.md
Due: none

fix: dates examples
  docs/pipelines/misc/dates.md
Due: none

fix: multiple-texts examples
  docs/tutorials/multiple-texts.md
Due: none

fix: endlines examples
  docs/tutorials/endlines.md
Due: none

fix: matching tutorial examples
  docs/tutorials/matching-a-terminology.md
Due: none

feat: update tests workflow
  .github/workflows/tests.yml
Due: none

fix: normalisation examples
  docs/pipelines/core/normalisation.md
Due: none

fix: detecting-dates examples
  docs/tutorials/detecting-dates.md
Due: none

fix: spacy101 examples
  docs/tutorials/spacy101.md
Due: none

fix: reason examples
  docs/pipelines/misc/reason.md
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
