Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

feat: new markup_to_doc converter
  changelog.md
  docs/data/converters.md
  docs/data/index.md
  edsnlp/data/converters.py
  pyproject.toml
Due: none

docs: add metrics pages
  changelog.md
  docs/assets/images/ner_metrics_example.png
  docs/assets/stylesheets/extra.css
  docs/assets/termynal/termynal.css
  docs/assets/termynal/termynal.js
  docs/metrics/index.md
  docs/metrics/ner.md
  docs/metrics/span-attribute.md
  docs/scripts/clickable_snippets.py
  edsnlp/__init__.py
  edsnlp/metrics/__init__.py
  edsnlp/metrics/ner.py
  edsnlp/metrics/span_attribute.py
  edsnlp/metrics/span_attributes.py
  mkdocs.yml
  pyproject.toml
  tests/test_docs.py
Due: Running Pytest, Installation, Build documentation

feat: qualifiers can process Span or Doc
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
Due: none

feat: add label_weights parameter
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

feat: handling intra-word linebreak as pollution
  edsnlp/language.py
  edsnlp/pipes/core/normalizer/pollution/patterns.py
  edsnlp/utils/doc_to_text.py
  tests/pipelines/core/test_normalisation.py
Due: Running Pytest, Installation

fix: deduplicate spans between doc.ents and doc.spans during train
  edsnlp/utils/span_getters.py
  tests/utils/test_span_getters.py
Due: none

fix: multiple pattern updates for disorder and behaviors
  changelog.md
  edsnlp/pipes/ner/behaviors/alcohol/alcohol.py
  edsnlp/pipes/ner/behaviors/alcohol/patterns.py
  edsnlp/pipes/ner/disorders/base.py
  edsnlp/pipes/ner/disorders/cerebrovascular_accident/patterns.py
  edsnlp/pipes/ner/disorders/ckd/patterns.py
  edsnlp/pipes/ner/disorders/congestive_heart_failure/patterns.py
  edsnlp/pipes/ner/disorders/connective_tissue_disease/patterns.py
  edsnlp/pipes/ner/disorders/copd/patterns.py
  edsnlp/pipes/ner/disorders/dementia/patterns.py
  edsnlp/pipes/ner/disorders/diabetes/patterns.py
  edsnlp/pipes/ner/disorders/hemiplegia/patterns.py
  edsnlp/pipes/ner/disorders/leukemia/patterns.py
  edsnlp/pipes/ner/disorders/liver_disease/patterns.py
  edsnlp/pipes/ner/disorders/lymphoma/patterns.py
  edsnlp/pipes/ner/disorders/myocardial_infarction/patterns.py
  edsnlp/pipes/ner/disorders/peptic_ulcer_disease/patterns.py
  edsnlp/pipes/ner/disorders/peripheral_vascular_disease/patterns.py
  edsnlp/pipes/ner/disorders/solid_tumor/patterns.py
  pyproject.toml
  tests/pipelines/ner/disorders/CKD.py
  tests/test_docs.py
Due: Running Pytest

fix: entrypoints
  changelog.md
  pyproject.toml
  tests/test_entrypoints.py
Due: Running Pytest

span qualifier with probs
  edsnlp/metrics/span_attributes.py
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/training/dataset2.jsonl
  tests/training/qlf_config.yml
Due: none

[WIP] add TrainableDocClassifier
  edsnlp/pipes/__init__.py
  edsnlp/pipes/trainable/doc_classifier/__init__.py
  edsnlp/pipes/trainable/doc_classifier/doc_classifier.py
  edsnlp/pipes/trainable/doc_classifier/factory.py
  edsnlp/pipes/trainable/embeddings/typing.py
  edsnlp/resources/verbs.csv.gz
  pyproject.toml
Due: none

preprocess_supervised
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

temporal set backend
  edsnlp/training/trainer.py
Due: none

Revert "temporal set backend"
  edsnlp/training/trainer.py
Due: none

weights
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

fix weights
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

fix
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

device
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

fix?
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

feat: support passing spans (not just only docs) to the process method of qualifier pipes
  changelog.md
  edsnlp/pipes/base.py
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
  tests/pipelines/qualifiers/test_family.py
  tests/pipelines/qualifiers/test_history.py
  tests/pipelines/qualifiers/test_hypothesis.py
  tests/pipelines/qualifiers/test_negation.py
  tests/pipelines/qualifiers/test_reported_speech.py
Due: none

test: add test for line-break induced missed matches
  edsnlp/language.py
  tests/matchers/test_regex.py
Due: Running Pytest, Installation

fix: remove tuning study pickle from repo and rebuild them during the tests
  edsnlp/tune.py
  tests/tuning/test_checkpoints/single_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/single_phase_n_trials/study_.pkl
  tests/tuning/test_checkpoints/two_phase_gpu_hour/config.yml
  tests/tuning/test_checkpoints/two_phase_gpu_hour/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/two_phase_n_trials/config.yml
  tests/tuning/test_checkpoints/two_phase_n_trials/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_n_trials/study_.pkl
  tests/tuning/test_end_to_end.py
Due: Running Pytest, Installation

Update main coverage
  coverage.txt
Due: none

add document classif inference
  edsnlp/metrics/doc_classif.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/trainable/doc_classifier/doc_classifier.py
  edsnlp/pipes/trainable/embeddings/doc_pooler/__init__.py
  edsnlp/pipes/trainable/embeddings/doc_pooler/doc_pooler.py
  edsnlp/pipes/trainable/embeddings/doc_pooler/factory.py
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  pyproject.toml
Due: none

chore: bump version to 0.17.2
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
