Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

test: improve coverage
  tests/processing/test_backends.py
  tests/test_pipeline.py
Due: Running Pytest

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/__init__.py
  edsnlp/patch_spacy.py
  edsnlp/pipelines/core/sentences/factory.py
  edsnlp/pipelines/core/sentences/fast_sentences.pxd
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  setup.py
Due: Running Pytest, Installation

fix: update interrogate
  .pre-commit-config.yaml
Due: none

feat: update generic training script & tests
  docs/tutorials/index.md
  docs/tutorials/make-a-training-script.md
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/train.py
  edsnlp/utils/span_getters.py
  mkdocs.yml
  tests/training/dataset/annotation.conf
  tests/training/dataset/dataset.jsonl
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/training/test_train.py
  tests/training/test_training.py
Due: Running Pytest, Installation, Build documentation

test: deduplicate docs tests (reference pages inserted in other pages)
  tests/extract_docs_code.py
Due: Running Pytest

fix: drop bratconnector statefulness to avoid missing ents in 2nd, 3rd, ... ann files
  edsnlp/connectors/brat.py
Due: none

docs: don't wrap inline code blocks in tables
  docs/assets/stylesheets/extra.css
Due: none

chore: update changelog and bump version to 0.10.0beta2
  changelog.md
  edsnlp/__init__.py
Due: Running Pytest, Installation

docs: add custom tutorial cards
  docs/assets/stylesheets/cards.css
  docs/assets/stylesheets/extra.css
  docs/scripts/cards.py
  docs/tutorials/overview.md
  docs/tutorials/training-ner.md
  mkdocs.yml
Due: Build documentation

feat: add load function
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
Due: Running Pytest, Installation

fix: github actions
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

feat: add edsnlp.data support for parquet files with parallel reading / writing
  docs/data/parquet.md
  edsnlp/data/__init__.py
  edsnlp/data/parquet.py
  edsnlp/utils/collections.py
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/data/test_parquet.py
  tests/processing/test_backends.py
  tests/resources/docs.pq
Due: Running Pytest, Build documentation

fix: better support for model pickling (for legacy spacy multiprocessing)
  edsnlp/pipelines/qualifiers/family/family.py
  edsnlp/pipelines/qualifiers/history/history.py
  edsnlp/pipelines/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  edsnlp/utils/deprecation.py
Due: none

feat: override model config in to_disk methods (e.g. finetuned hf model path)
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  tests/test_pipeline.py
Due: Running Pytest

chore: improve coverage and clean entry points
  pyproject.toml
Due: none

docs: autolink component occurences to reference
  docs/index.md
  docs/pipelines/architecture.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/overview.md
  docs/pipelines/misc/overview.md
  docs/pipelines/ner/overview.md
  docs/pipelines/ner/scores/overview.md
  docs/pipelines/overview.md
  docs/pipelines/qualifiers/overview.md
  docs/scripts/plugin.py
  docs/tutorials/detecting-dates.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/qualifying-entities.md
  edsnlp/pipelines/qualifiers/history/history.py
Due: Build documentation

feat: add windowing options to ner crf
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/utils/torch.py
  tests/pipelines/trainable/test_ner.py
Due: none

feat: allow to keep/skip none values during training with keep_none parameter in span qualifier
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  tests/pipelines/trainable/test_span_qualifier.py
Due: none

fix: update numpy build dependency marker to fix poetry installs
  pyproject.toml
Due: none

feat: support bitsandbytes quantization in transformer init
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

feat: add simple and multiprocessing (cpu & gpu) accelerators
  edsnlp/accelerators/__init__.py
  edsnlp/accelerators/base.py
  edsnlp/accelerators/multiprocessing.py
  edsnlp/accelerators/simple.py
  pyproject.toml
Due: none

fix: update pipeline system
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
Due: none

refacto: rewrite trainable ner with a torch component (also eds.nested_ner -> eds.ner)
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/pipelines/trainable/nested_ner/__init__.py
  edsnlp/pipelines/trainable/nested_ner/factory.py
  edsnlp/pipelines/trainable/nested_ner/nested_ner.py
  edsnlp/pipelines/trainable/nested_ner/stack_crf_ner.py
  edsnlp/pipelines/trainable/pytorch_wrapper.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_nested_ner.py
Due: none

feat: expose 'eds' tokenizer
  pyproject.toml
Due: none

tests: improve coverage
  edsnlp/patch_spacy.py
  edsnlp/utils/colors.py
  edsnlp/utils/regex.py
  pyproject.toml
Due: Running Pytest, Installation

feat: update confit (deprecation param)
  pyproject.toml
Due: none

fix: switch SimpleQueues for Queues to avoid pipe buffer overflow induced locking
  edsnlp/processing/multiprocessing.py
Due: none

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  docs/pipelines/trainable/ner.md
  edsnlp/core/component.py
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

fix: support packaging in python 3.11
  edsnlp/utils/package.py
Due: none

fix: allow crf to decode illegal tag sequences
  edsnlp/pipelines/trainable/layers/crf.py
Due: none

fix: tests in test_package
  edsnlp/utils/package.py
  tests/utils/test_package.py
Due: none

refacto: unify simple/multiprocessing/spark execution backends via lazy_docs.set_processing(...)
  docs/concepts/inference.md
  docs/tutorials/multiple-texts.md
  edsnlp/accelerators/__init__.py
  edsnlp/accelerators/base.py
  edsnlp/accelerators/multiprocessing.py
  edsnlp/accelerators/simple.py
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/pipelines/base.py
  edsnlp/processing/__init__.py
  edsnlp/processing/deprecated_pipe.py
  edsnlp/processing/distributed.py
  edsnlp/processing/helpers.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/processing/utils.py
  edsnlp/processing/wrapper.py
  edsnlp/utils/collections.py
  pyproject.toml
  tests/conftest.py
  tests/processing/test_backends.py
  tests/processing/test_processing.py
  tests/test_pipeline.py
Due: Running Pytest

test: fix test to support safetensor dumped hf models
  tests/test_pipeline.py
Due: Running Pytest

fix: add default span sentence getter factory (for trainable qualifier)
  edsnlp/utils/span_getters.py
  pyproject.toml
Due: none

feat: allow to define multiple data sources in training script
  edsnlp/train.py
  edsnlp/utils/typing.py
  pyproject.toml
Due: Running Pytest, Installation

fix: allow for empty initial project when packaging
  .github/workflows/tests.yml
  edsnlp/utils/package.py
  pyproject.toml
Due: none

test: move doc testing utils to tests/
  edsnlp/__init__.py
Due: Running Pytest, Installation

feat: lazy module loading (quick import + easy handling optional deps e.g. torch)
  edsnlp/data/__init__.py
  edsnlp/pipelines/factories.py
  edsnlp/utils/lazy_module.py
Due: none

fix: more options for nlp.package() and better support for poetry include fields
  edsnlp/core/pipeline.py
  edsnlp/train.py
  edsnlp/utils/package.py
Due: Running Pytest, Installation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
