Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: compute eds.ner_crf loss as mean over words
  changelog.md
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/utils/batching.py
Due: none

Update main coverage
  coverage.txt
Due: none

fix: add grad spike detection
  changelog.md
  docs/tutorials/training.md
  docs/tutorials/tuning.md
  edsnlp/training/trainer.py
  tests/training/dep_parser_config.yml
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
Due: none

fix: in tuning, seed hyperparameter sampler
  edsnlp/tune.py
Due: Running Pytest, Installation

feat: added various training loggers using confit.Draft
  .pre-commit-config.yaml
  changelog.md
  docs/training/index.md
  docs/training/loggers.md
  docs/tutorials/training.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/pipes/base.py
  edsnlp/training/loggers.py
  edsnlp/training/trainer.py
  edsnlp/utils/typing.py
  mkdocs.yml
  pyproject.toml
  tests/test_pipeline.py
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
  tests/training/test_train.py
Due: Running Pytest, Build documentation

fix: dedup contexts in eds.span_pooler
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
Due: none

docs: make more registered function clickable in the docs
  changelog.md
  docs/scripts/clickable_snippets.py
Due: none

feat: new eds.relation_detector_ffn trainable component
  changelog.md
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
  edsnlp/extensions.py
  edsnlp/metrics/relations.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/base.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/relation_detector_ffn/__init__.py
  edsnlp/pipes/trainable/relation_detector_ffn/factory.py
  edsnlp/pipes/trainable/relation_detector_ffn/relation_detector_ffn.py
  edsnlp/training/trainer.py
  edsnlp/utils/span_getters.py
  pyproject.toml
  tests/data/test_converters.py
  tests/training/dataset_2/sample-1.ann
  tests/training/dataset_2/sample-1.txt
  tests/training/dataset_2/sample-2.ann
  tests/training/dataset_2/sample-2.txt
  tests/training/rel_config.cfg
  tests/training/rel_config.yml
  tests/training/test_train.py
Due: Running Pytest, Installation

Update unit test to verify comments are preserved correctly
  tests/tuning/config.cfg
  tests/tuning/config.yml
  tests/tuning/test_tuning.py
Due: none

Update dependencies in tutrial
  docs/tutorials/tuning.md
Due: none

Fix issue 372: resulting tuning config file now preserve comments (#373)
  docs/tutorials/tuning.md
  edsnlp/tune.py
  pyproject.toml
  tests/tuning/config.cfg
  tests/tuning/config.yml
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

feat: add checkpoint management for tuning
  edsnlp/tune.py
Due: Running Pytest, Installation

Add: wrong version warning in documentation
  changelog.md
  overrides/main.html
Due: none

add checkpoints unit tests
  edsnlp/tune.py
  tests/tuning/test_checkpoints/single_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/single_phase_n_trials/study_.pkl
  tests/tuning/test_checkpoints/two_phase_gpu_hour/config.yml
  tests/tuning/test_checkpoints/two_phase_gpu_hour/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/two_phase_n_trials/config.yml
  tests/tuning/test_checkpoints/two_phase_n_trials/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_n_trials/study_.pkl
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

update tutorial
  docs/tutorials/tuning.md
Due: none

add constant for checkpoint name and remove unused line in two phase
  edsnlp/tune.py
Due: Running Pytest, Installation

Feat: add checkpoint management for tuning (#385)
  docs/tutorials/tuning.md
  edsnlp/tune.py
  tests/tuning/test_checkpoints/single_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/single_phase_n_trials/study_.pkl
  tests/tuning/test_checkpoints/two_phase_gpu_hour/config.yml
  tests/tuning/test_checkpoints/two_phase_gpu_hour/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/two_phase_n_trials/config.yml
  tests/tuning/test_checkpoints/two_phase_n_trials/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_n_trials/study_.pkl
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

feat: add ner confidence score
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

add set_extension to ner_crf component
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

update changelog
  changelog.md
Due: none

Changed score to average token. Changed variable names
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

Updated doc
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

applied review proposed changes
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

updated docstring and mkdocs.yml to handle latex
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  mkdocs.yml
Due: Build documentation

updated unit test
  tests/pipelines/trainable/test_ner.py
Due: none

feat: handling intra-word linebreak as pollution
  edsnlp/language.py
  edsnlp/pipes/core/normalizer/pollution/patterns.py
  edsnlp/utils/doc_to_text.py
Due: Running Pytest, Installation

feat: qualifiers can process Span or Doc
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
Due: none

fix: various disorders/behaviors patches
  edsnlp/pipes/ner/behaviors/alcohol/alcohol.py
  edsnlp/pipes/ner/behaviors/alcohol/patterns.py
  edsnlp/pipes/ner/disorders/base.py
Due: none
