Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

measurements normalization
  edsnlp/pipes/misc/measurements/measurements.py
Due: none

fix: decrease dummy train test performance treshold
  tests/training/test_train.py
Due: none

fix : adding new separator in eds.table and new input check
  changelog.md
  edsnlp/pipes/misc/tables/patterns.py
  edsnlp/pipes/misc/tables/tables.py
Due: none

complete coverage
  tests/pipelines/misc/test_dates.py
Due: none

add table
  edsnlp/pipes/misc/measurements/measurements.py
Due: none

feat: new eds.extractive_qa component
  changelog.md
  docs/pipes/trainable/extractive-qa.md
  docs/pipes/trainable/index.md
  edsnlp/pipes/__init__.py
  edsnlp/pipes/trainable/extractive_qa/__init__.py
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
  edsnlp/pipes/trainable/extractive_qa/factory.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_extractive_qa.py
Due: Build documentation

Ajout relations
  edsnlp/data/converters.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/misc/relations/__init__.py
  edsnlp/pipes/misc/relations/factory.py
  edsnlp/pipes/misc/relations/patterns.py
  edsnlp/pipes/misc/relations/relations.py
  pyproject.toml
  tests/pipelines/misc/test_relations.py
  tests/resources/relations/relations.json
  tests/resources/relations/text.ann
  tests/resources/relations/text.txt
Due: none

ci: drop codecov
  .github/workflows/tests.yml
  README.md
  pyproject.toml
  tests/training/test_train.py
Due: none

Update main coverage
  coverage.svg
  coverage.txt
Due: none

ci: add precision option (default to 2) to coverage
  .github/workflows/tests.yml
Due: none

Update main coverage
  coverage.txt
Due: none

feat: __call__ now calls the torch.nn.Module forward method instead
  changelog.md
  docs/tutorials/make-a-training-script.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/torch_component.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/pipes/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/multiprocessing.py
  edsnlp/train.py
  tests/pipelines/trainable/test_ner.py
Due: Running Pytest, Installation

feat: allow to disable trf stride during training
  changelog.md
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
Due: none

feat: support import span attributes from dict in standoff converter
  edsnlp/data/converters.py
Due: none

test: increase coverage report precision
  .github/workflows/tests.yml
  pyproject.toml
Due: none

fix: update ner_crf docstring and target span getting ops
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

feat: add filter_expr parameter to scorers
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_attributes.py
  tests/test_scorers.py
Due: Running Pytest

feat: add prompts to transformer, move span_getter args to task pipes
  changelog.md
  docs/concepts/torch-component.md
  edsnlp/core/torch_component.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/pipes/trainable/embeddings/typing.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/pipes/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/multiprocessing.py
  edsnlp/utils/span_getters.py
  pyproject.toml
  tests/pipelines/trainable/test_span_linker.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/pipelines/trainable/test_transformer.py
  tests/test_pipeline.py
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/utils/test_span_getters.py
Due: Running Pytest

feat: lazy_collection.map/map_batches now support generators
  changelog.md
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/processing/utils.py
  tests/processing/test_backends.py
Due: none

feat: refactor make_sentence_span_getter -> make_span_context_getter
  edsnlp/utils/span_getters.py
Due: none

refacto: add base span attribute classifier class & rename eds.span_classifier
  changelog.md
  docs/pipes/trainable/index.md
  docs/pipes/trainable/span-classifier.md
  docs/pipes/trainable/span-qualifier.md
  edsnlp/__init__.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/base.py
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
  edsnlp/pipes/trainable/span_classifier/__init__.py
  edsnlp/pipes/trainable/span_classifier/factory.py
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/pipes/trainable/span_qualifier/factory.py
  edsnlp/utils/bindings.py
  edsnlp/utils/lazy_module.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_span_linker.py
  tests/training/test_train.py
  tests/utils/test_bindings.py
Due: Running Pytest, Installation, Build documentation

refacto: add base classes to scorers & rename span_classification to span_attributes
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_attributes.py
  edsnlp/train.py
  edsnlp/utils/typing.py
  pyproject.toml
  tests/test_scorers.py
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
Due: Running Pytest, Installation

fix: stop reading files from json path parent dir
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/data/json.py
Due: none

feat: new eds.ner_overlap_scorer
  changelog.md
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_attributes.py
  pyproject.toml
  tests/test_scorers.py
Due: Running Pytest

fix: add back support for deprecated span pooler span_getter arg
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/utils/span_getters.py
Due: none
