Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

fix: force utf-8 to avoid encoding mismatch in data reading
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

fix: make eds.span_context_getter's context_sents option required
  changelog.md
  edsnlp/utils/span_getters.py
  tests/utils/test_span_getters.py
Due: none

feat: added Pipeline init and load to the new @pipelines registry
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  pyproject.toml
Due: none

fix: clean up spark after tests
  tests/conftest.py
Due: Running Pytest

fix: support sentinel based write_in_worker in mp backend
  changelog.md
  edsnlp/core/stream.py
  edsnlp/data/base.py
  edsnlp/data/parquet.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  tests/data/test_parquet.py
  tests/utils/test_batching.py
Due: none

fix: check autocast is supported on device
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
Due: none

fix: propagate torch sharing strategy to other workers
  changelog.md
  edsnlp/processing/multiprocessing.py
Due: none

fix: support get_current_tokenizer again
  edsnlp/core/stream.py
  edsnlp/data/converters.py
  edsnlp/processing/utils.py
Due: none

docs: update visualization tutorial
  docs/assets/stylesheets/extra.css
  docs/tutorials/quick-examples.md
  docs/tutorials/visualization.md
  mkdocs.yml
Due: Build documentation

fix: support mlg-norm and eds-pseudo again
  edsnlp/__init__.py
  edsnlp/data/converters.py
  edsnlp/metrics/span_attributes.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/train.py
Due: Running Pytest, Installation

docs: update custom training script docs
  docs/tutorials/make-a-training-script.md
  docs/tutorials/training.md
  edsnlp/core/stream.py
  edsnlp/training/trainer.py
  mkdocs.yml
Due: Build documentation

docs: update training, stream and torch components docs
  docs/assets/templates/python/material/docstring.html
  docs/assets/templates/python/material/docstring/parameters.html
  docs/concepts/inference.md
  docs/concepts/torch-component.md
  edsnlp/core/stream.py
  edsnlp/core/torch_component.py
  edsnlp/processing/multiprocessing.py
  edsnlp/training/trainer.py
Due: none

fix: support docs generation (therefore tests too) in py312
  docs/scripts/plugin.py
Due: none

feat: improve sentence detection and train sample splitting
  changelog.md
  edsnlp/pipes/core/sentences/factory.py
  edsnlp/pipes/core/sentences/fast_sentences.pxd
  edsnlp/pipes/core/sentences/fast_sentences.pyx
  edsnlp/pipes/core/sentences/sentences.py
  edsnlp/train.py
  tests/pipelines/core/test_sentences.py
Due: Running Pytest, Installation

chore: rework pipeline-less component instantiation
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/data/converters.py
  tests/test_pipeline.py
Due: Running Pytest

feat: added support for setuptools project in edsnlp.package
  changelog.md
  edsnlp/package.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

refacto: new data api to support shuffling, loop and multi batch sizes
  .pre-commit-config.yaml
  changelog.md
  docs/concepts/inference.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  pyproject.toml
  tests/data/test_converters.py
  tests/data/test_json.py
  tests/data/test_lazy_collection.py
  tests/data/test_pandas.py
  tests/data/test_parquet.py
  tests/data/test_polars.py
  tests/data/test_spark.py
  tests/data/test_standoff.py
  tests/processing/test_backends.py
  tests/resources/brat_data/subfolder/doc-2.txt
  tests/resources/brat_data/subfolder/doc-3.txt
  tests/resources/docs.jsonl
  tests/resources/docs.parquet
  tests/resources/docs.pq
  tests/test_pipeline.py
Due: Running Pytest

feat: added basic repr to Pipeline
  changelog.md
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
Due: Running Pytest

fix: allow (w/o caching) *args and **kw in cached collate and forward
  edsnlp/core/torch_component.py
Due: none

refacto: rename scorers -> metrics
  changelog.md
  edsnlp/__init__.py
  edsnlp/core/registries.py
  edsnlp/metrics/__init__.py
  edsnlp/metrics/ner.py
  edsnlp/metrics/span_attributes.py
  edsnlp/train.py
  pyproject.toml
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
Due: Running Pytest, Installation

fix: sort files when reading standoff/json folders
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

feat: new edsnlp.evaluate script
  changelog.md
  edsnlp/evaluate.py
Due: Running Pytest, Installation

chore: suppress warnings and useless prints in lib and tests
  docs/concepts/torch-component.md
  docs/pipes/core/contextual-matcher.md
  edsnlp/core/pipeline.py
  edsnlp/core/stream.py
  edsnlp/data/converters.py
  edsnlp/package.py
  edsnlp/pipes/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipes/core/contextual_matcher/models.py
  edsnlp/pipes/core/endlines/endlines.py
  edsnlp/pipes/core/sentences/sentences.py
  edsnlp/pipes/misc/dates/dates.py
  edsnlp/pipes/misc/dates/models.py
  edsnlp/pipes/ner/adicap/adicap.py
  edsnlp/pipes/ner/adicap/models.py
  edsnlp/pipes/ner/disorders/solid_tumor/solid_tumor.py
  edsnlp/pipes/ner/tnm/model.py
  edsnlp/pipes/ner/tnm/tnm.py
  edsnlp/pipes/trainable/layers/crf.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/utils/batching.py
  edsnlp/utils/bindings.py
  edsnlp/utils/examples.py
  edsnlp/utils/span_getters.py
  edsnlp/utils/torch.py
  edsnlp/utils/typing.py
  tests/pipelines/misc/test_consultation_date.py
  tests/pipelines/misc/test_quantities.py
  tests/pipelines/misc/test_tables.py
  tests/pipelines/ner/disorders/solid_tumor.py
  tests/pipelines/ner/test_adicap.py
  tests/test_docs.py
  tests/test_span_args.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

feat: support shuffle op on streams (not just in reader)
  edsnlp/core/stream.py
  edsnlp/processing/multiprocessing.py
  tests/data/test_stream.py
  tests/utils/test_batching.py
Due: none

fix: allow use tnm in solid_tumor matcher
  edsnlp/pipes/ner/disorders/solid_tumor/solid_tumor.py
Due: none

docs: added a new model training tutorial
  docs/assets/overrides/main.html
  docs/tutorials/index.md
  docs/tutorials/make-a-training-script.md
  docs/tutorials/training.md
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  mkdocs.yml
Due: Build documentation

ci: add per test timeout of 4min
  edsnlp/pipes/ner/umls/factory.py
  pyproject.toml
Due: none

refacto: new edsnlp.train API
  changelog.md
  docs/assets/templates/python/material/docstring/parameters.html
  docs/pipes/misc/index.md
  docs/pipes/misc/split.md
  docs/tutorials/training.md
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/misc/split/__init__.py
  edsnlp/pipes/misc/split/split.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/train.py
  edsnlp/training/__init__.py
  edsnlp/training/optimization.py
  edsnlp/training/trainer.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  edsnlp/utils/typing.py
  mkdocs.yml
  pyproject.toml
  tests/test_pipeline.py
  tests/training/dataset.jsonl
  tests/training/ner_qlf_config.cfg
  tests/training/ner_qlf_config.yml
  tests/training/qlf_config.cfg
  tests/training/qlf_config.yml
  tests/training/test_train.py
Due: Running Pytest, Installation, Build documentation
