Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: only change the shuffle seed if provided in stream.shuffle
  edsnlp/core/stream.py
Due: none

feat: new eds.relation_detector_ffn trainable component
  edsnlp/data/converters.py
  edsnlp/metrics/relations.py
  edsnlp/pipes/base.py
  edsnlp/pipes/trainable/relation_detector_ffn/relation_detector_ffn.py
  edsnlp/utils/span_getters.py
  tests/training/test_train.py
Due: none

fix: support packaging with poetry 2.0
  changelog.md
  edsnlp/package.py
Due: Running Pytest, Installation

Update main coverage
  coverage.txt
Due: none

fix: add a new tnm regex pattern by default.
  edsnlp/pipes/ner/tnm/patterns.py
  edsnlp/pipes/ner/tnm/patterns_new.py
  edsnlp/pipes/ner/tnm/tnm.py
Due: none

change model.py to be compatible with old and new regex
  edsnlp/pipes/ner/tnm/model.py
  edsnlp/pipes/ner/tnm/patterns.py
  tests/pipelines/ner/test_tnm.py
Due: none

fix: solve pickling issues with multiprocessing when pytorch is installed
  changelog.md
  edsnlp/processing/multiprocessing.py
  edsnlp/reducers.py
  edsnlp/utils/torch.py
  edsnlp/utils/typing.py
  tests/processing/test_backends.py
  tests/test_pipeline.py
Due: Running Pytest, Installation

feat: added hyperparameters tuning
  changelog.md
  docs/tutorials/index.md
  docs/tutorials/tuning.md
  edsnlp/package.py
  edsnlp/training/trainer.py
  edsnlp/tune.py
  mkdocs.yml
  pyproject.toml
  tests/test_pipeline.py
  tests/tuning/config.yml
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
  tests/tuning/test_update_config.py
Due: Running Pytest, Installation, Build documentation

feat: added hyperparameters tuning (#361)
  changelog.md
  docs/tutorials/index.md
  docs/tutorials/tuning.md
  edsnlp/training/trainer.py
  edsnlp/tune.py
  mkdocs.yml
  pyproject.toml
  tests/tuning/config.yml
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
  tests/tuning/test_update_config.py
Due: Running Pytest, Installation, Build documentation

feat: add ExternalInformationQualifier
  changelog.md
  docs/pipes/qualifiers/external_information.md
  edsnlp/pipes/qualifiers/external_information/__init__.py
  edsnlp/pipes/qualifiers/external_information/external_information.py
  edsnlp/pipes/qualifiers/external_information/factory.py
  tests/pipelines/qualifiers/test_external_information.py
Due: none

Fix: contributing doc
  changelog.md
  contributing.md
Due: none

feat: Add ContextualQualifier
  changelog.md
  docs/advanced-tutorials/distant_annotation.md
  docs/pipes/qualifiers/contextual.md
  edsnlp/pipes/__init__.py
  edsnlp/pipes/qualifiers/contextual/__init__.py
  edsnlp/pipes/qualifiers/contextual/contextual.py
  edsnlp/pipes/qualifiers/contextual/factory.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/qualifiers/test_contextual.py
Due: Build documentation

fix: get_pipe_meta function
  changelog.md
  edsnlp/core/pipeline.py
Due: none

Fix: doc template
  changelog.md
  docs/assets/templates/python/material/class.html
Due: none

Add: fixture test
  changelog.md
  tests/conftest.py
Due: Running Pytest

fix sonarqube
  edsnlp/pipes/qualifiers/contextual/contextual.py
  edsnlp/pipes/qualifiers/external_information/external_information.py
  tests/conftest.py
Due: Running Pytest

fix: code doc
  docs/advanced-tutorials/distant_annotation.md
Due: none

fix: remove harcoded metric by using a new 'metric' parameter for tune method
  docs/tutorials/tuning.md
  edsnlp/tune.py
Due: Running Pytest, Installation

formating fixes
  edsnlp/tune.py
Due: Running Pytest, Installation

update unit tests
  edsnlp/tune.py
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

Return optimal config at end of tuning. Update unit tests
  edsnlp/tune.py
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

update tutorial
  docs/tutorials/tuning.md
Due: none

remove debug prints
  edsnlp/tune.py
Due: Running Pytest, Installation

update mkdocstring version in pyproject.toml
  changelog.md
  pyproject.toml
Due: none

update tutorial with optuna links
  docs/tutorials/tuning.md
  edsnlp/tune.py
  pyproject.toml
Due: Running Pytest, Installation

Fix issue 368: Add `metric` parameter and write optimal `config.yml` at the end of tuning. (#369)
  changelog.md
  docs/tutorials/tuning.md
  edsnlp/tune.py
  pyproject.toml
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
