Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: add eds.suicide_attempt matcher
  changelog.md
  docs/pipes/ner/suicide_attempt.md
  docs/references.bib
  edsnlp/pipes/__init__.py
  edsnlp/pipes/ner/suicide_attempt/__init__.py
  edsnlp/pipes/ner/suicide_attempt/factory.py
  edsnlp/pipes/ner/suicide_attempt/patterns.py
  edsnlp/pipes/ner/suicide_attempt/suicide_attempt.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/ner/test_suicide_attempt.py
Due: Build documentation

feat: better packaged models structure + support readme substitutions
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/package.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

chore: generalize sample parser
  edsnlp/utils/examples.py
Due: none

fix: faster hf model loading via pip editable install
  changelog.md
  edsnlp/core/pipeline.py
Due: none

Update main coverage
  coverage.svg
  coverage.txt
Due: none

fix: temporarily cap numpy
  edsnlp/utils/examples.py
  pyproject.toml
Due: none

chore: bump version to 0.12.2
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

Update main coverage
  coverage.txt
Due: none

chore: improve model loading and bump version to 0.12.3
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
Due: Running Pytest, Installation, Build documentation

fix: resolve the correct pip in edsnlp.load
  changelog.md
  edsnlp/core/pipeline.py
Due: none

fix: better handle empty documents
  changelog.md
  edsnlp/pipes/trainable/layers/crf.py
  edsnlp/pipes/trainable/layers/text_cnn.py
  edsnlp/utils/torch.py
  tests/training/test_train.py
Due: none

feat: enable (and expose) torch autocast and inference_mode
  changelog.md
  edsnlp/core/lazy_collection.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
Due: none

Update edsnlp/pipes/ner/suicide_attempt/suicide_attempt.py
  edsnlp/pipes/ner/suicide_attempt/suicide_attempt.py
Due: none

Update changelog.md
  changelog.md
Due: none

feat: Add support for entity relationship extraction and detection
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
Due: none

feat: Update entity relationship detection for EDSNLP correction of middle parameter , update of write_standoff
  edsnlp/data/converters.py
  edsnlp/pipes/misc/relations/__init__.py
  edsnlp/pipes/misc/relations/factory.py
  edsnlp/pipes/misc/relations/patterns.py
  edsnlp/pipes/misc/relations/relations.py
  tests/pipelines/misc/test_relations.py
  tests/resources/relations/text.txt
Due: none

feat: add support for reading and dumping relations in standoff files using Brat
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
Due: none

fix: Fix import statement in relations module 'eds.relations' Added: rule based model for relation prediction using proximity and sentences
  edsnlp/pipes/misc/relations/__init__.py
  edsnlp/pipes/misc/relations/factory.py
  edsnlp/pipes/misc/relations/patterns.py
  edsnlp/pipes/misc/relations/relations.py
Due: none

Added: relation testing for eds.relations and brat relations connector
  tests/pipelines/misc/test_relations.py
  tests/resources/relations/relations.json
  tests/resources/relations/text.txt
Due: none
