Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

fix: catch various tnm false positives
  changelog.md
  edsnlp/pipes/ner/tnm/patterns.py
  edsnlp/pipes/ner/tnm/tnm.py
  tests/pipelines/ner/test_tnm.py
Due: none

fix: enable mmap during multiprocessing model transfers
  changelog.md
  edsnlp/processing/multiprocessing.py
Due: none

fix: don't overwrite Span._.value ext and return user assigned value before getter
  edsnlp/pipes/base.py
  tests/pipelines/ner/test_value_extension.py
Due: none

fix: respect alignment_mode in create_span fn & support for weird chars
  changelog.md
  edsnlp/matchers/regex.py
  edsnlp/matchers/utils/__init__.py
  edsnlp/matchers/utils/offset.py
  edsnlp/matchers/utils/text.py
  edsnlp/utils/doc_to_text.py
  tests/matchers/test_regex.py
Due: none

fix: solve leading/trailing pollution cleaning in get_text
  changelog.md
  edsnlp/utils/doc_to_text.py
  tests/conftest.py
  tests/helpers.py
  tests/matchers/test_regex.py
Due: Running Pytest

bump version to 0.10.1
  changelog.md
  edsnlp/__init__.py
Due: Running Pytest, Installation

fix: support qualifiers on_ents_only=False again
  changelog.md
  edsnlp/pipes/qualifiers/base.py
  tests/pipelines/qualifiers/test_negation.py
Due: none

fix: use spacy entry points for missing factories
  changelog.md
  edsnlp/__init__.py
  edsnlp/core/registry.py
Due: Running Pytest, Installation

fix: use pendulum.timezone instead of pendulum.tz.timezone
  edsnlp/pipes/misc/dates/models.py
Due: none

fix: use pendulum.timezone instead of pendulum.tz.timezone
  changelog.md
  edsnlp/pipes/misc/dates/models.py
Due: none

fix: adapt AsList decorator errors to confit
  edsnlp/utils/typing.py
  tests/utils/test_typing.py
Due: none

feat: auto add underscore to qualifiers
  edsnlp/pipes/trainable/span_qualifier/span_qualifier.py
  edsnlp/scorers/span_classification.py
  edsnlp/utils/bindings.py
Due: none

fix: save qualifiers config during to_disk
  edsnlp/pipes/trainable/span_qualifier/span_qualifier.py
Due: none
