Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: catch zero variance error in tuning importance computation
  changelog.md
  edsnlp/tune.py
Due: Running Pytest, Installation

fix: temporarily cap optuna in tests
  pyproject.toml
Due: none

fix: capped safetensors for python 3.7
  pyproject.toml
Due: none

test: support in py311 and py312 and fix deps
  .github/workflows/tests.yml
  changelog.md
  edsnlp/pipes/core/endlines/model.py
  pyproject.toml
  tests/tuning/config.yml
Due: none

fix: better error messages
  edsnlp/pipes/core/contextual_matcher/factory.py
  edsnlp/utils/bindings.py
  edsnlp/utils/lazy_module.py
  tests/pipelines/test_pipelines.py
Due: none

chore: update ruff
  .pre-commit-config.yaml
Due: none

feat: expose qualifiers default patterns as a default_patterns class attr
  changelog.md
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
Due: none

fix: add grad spike detection
  changelog.md
  docs/tutorials/training.md
  docs/tutorials/tuning.md
  edsnlp/training/trainer.py
  tests/training/dep_parser_config.yml
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
Due: none

ci: auto delete preview docs
  .github/workflows/delete-preview-docs.yml
Due: none

ci: upgrade setup python action
  .github/workflows/tests.yml
Due: none

adicap: handle missing code after 'codification'/'adicap' keywords
  changelog.md
  edsnlp/pipes/ner/adicap/adicap.py
  tests/pipelines/ner/test_adicap.py
Due: none

fix: correct town name typo (berck.sur.mer)
  changelog.md
  edsnlp/pipes/misc/consultation_dates/patterns.py
  tests/pipelines/misc/test_consultation_date.py
  tests/pipelines/misc/test_consultation_date_town.py
Due: none

fix: error when converting relative date expressions with bounds to durations
  changelog.md
  edsnlp/pipes/misc/dates/models.py
  tests/pipelines/misc/test_dates.py
Due: none

fix: avoid pickling error in multiprocessing mode
  changelog.md
  edsnlp/processing/multiprocessing.py
  pyproject.toml
  tests/pipelines/trainable/conftest.py
  tests/pipelines/trainable/test_extractive_qa.py
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_span_linker.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/pipelines/trainable/test_transformer.py
  tests/processing/mp_simple_pipe.py
  tests/processing/test_processing.py
Due: none

chore: add copilot instructions
  .github/copilot-instructions.md
Due: none

feat: add ExternalInformationQualifier
  changelog.md
Due: none

Add: fixture test
  changelog.md
  tests/conftest.py
Due: Running Pytest

Fix: contributing doc
  changelog.md
Due: none

Fix: doc template
  changelog.md
Due: none

fix sonarqube
  tests/conftest.py
Due: Running Pytest

fix: support datetime matching with hours or minutes ending with 00
  changelog.md
  edsnlp/pipes/misc/dates/patterns/atomic/time.py
Due: none

fix: set correct scale of arc-minute and arc-seconds
  changelog.md
  edsnlp/pipes/misc/quantities/patterns.py
  tests/pipelines/misc/test_quantities.py
Due: none

fix: cap spacy < 3.7.8
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
  pyproject.toml
Due: Running Pytest, Installation, Build documentation

fix conflict
  changelog.md
Due: none

changelog
  changelog.md
  changelog_unreleased.md
Due: none

ruff format
  edsnlp/core/pipeline.py
Due: none

ruff
  tests/conftest.py
Due: Running Pytest

fix: cap spacy < 3.7.8, and just for ci pyspark<4
  pyproject.toml
Due: none

chore: bump version to 0.17.1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
