Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

tests: update consultation_dates pipeline
  edsnlp/pipelines/misc/consultation_dates/consultation_dates.py
  tests/pipelines/misc/test_consultation_date.py
Due: none

feat: add date parsing with Pendulum
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/misc/dates/patterns/atomic/directions.py
  edsnlp/pipelines/misc/dates/patterns/relative.py
  requirements.txt
Due: none

feat: add year validator
  edsnlp/pipelines/misc/dates/models.py
  tests/pipelines/misc/test_dates.py
Due: none

fix: tests for dates
  docs/pipelines/misc/consultation-dates.md
  docs/pipelines/misc/dates.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/spacy101.md
  edsnlp/pipelines/misc/dates/models.py
  tests/pipelines/test_pipelines.py
  tests/processing/test_processing.py
  tests/test_docs.py
Due: Running Pytest

docs: update detecting-dates tutorial
  docs/tutorials/detecting-dates.md
Due: none

docs: update dates pipeline
  docs/pipelines/misc/dates.md
Due: none

feat: add durations
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/factory.py
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/misc/dates/patterns/__init__.py
  edsnlp/pipelines/misc/dates/patterns/absolute.py
  edsnlp/pipelines/misc/dates/patterns/atomic/directions.py
  edsnlp/pipelines/misc/dates/patterns/atomic/modes.py
  edsnlp/pipelines/misc/dates/patterns/current.py
  edsnlp/pipelines/misc/dates/patterns/duration.py
  edsnlp/pipelines/misc/dates/patterns/relative.py
  notebooks/dates/prototype.md
  notebooks/dates/user-guide.md
Due: none

fix(dates): mode testing in persiods
  edsnlp/pipelines/misc/dates/dates.py
Due: none

feat(dates): handle durations for periods
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/factory.py
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/misc/dates/patterns/atomic/directions.py
Due: none

fix(dates): adapt tests to the new pipeline
  docs/pipelines/misc/dates.md
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/models.py
  tests/pipelines/misc/test_dates.py
Due: none

chore(dependencies): remove dateparser dependency
  requirements.txt
Due: none

chore(dates): update changelog
  changelog.md
Due: none

docs(dates): update docs
  docs/tutorials/detecting-dates.md
Due: none

feat(zenodo): add citation
  CITATION.cff
  README.md
Due: none

fix(docs): remove lingering links to APHP gitlab
  contributing.md
  docs/references.bib
  docs/utilities/connectors/labeltool.md
Due: Build documentation

feat(dates): add normalisation
  edsnlp/pipelines/misc/dates/models.py
Due: none

style(dates): clean norm method
  edsnlp/pipelines/misc/dates/models.py
Due: none

feat(dates): update demo to use date normalisation
  demo/app.py
Due: none

refactor(dates): method name to "to_datetime"
  edsnlp/pipelines/misc/dates/models.py
  tests/pipelines/misc/test_dates.py
Due: none

feat(dates): clean period model
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/models.py
Due: none

fix(dates): propagate `to_datetime` refactoring
  docs/pipelines/misc/consultation-dates.md
  docs/pipelines/misc/dates.md
  docs/tutorials/detecting-dates.md
  docs/tutorials/spacy101.md
Due: none

docs: document matchers
  .gitignore
  changelog.md
  docs/utilities/matchers.md
  mkdocs.yml
Due: Build documentation

chore(version): bump version to 0.5.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix(ci): use cibuildwheel to compile wheels
  .github/workflows/release.yml
  pyproject.toml
Due: none

docs: add citation
  CITATION.cff
  README.md
  docs/index.md
Due: Build documentation

fix: citation
  CITATION.cff
  README.md
  docs/index.md
Due: Build documentation

fix: citation.cf
  CITATION.cff
Due: none

fix: release workflow
  .github/workflows/release.yml
Due: none
