Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

Hot fix distributed pipe, default extension value
  edsnlp/processing/distributed.py
  edsnlp/processing/wrapper.py
Due: none

Hot fix distributed pipe, default extension value
  edsnlp/processing/wrapper.py
Due: none

fix: remove trailing spaces on get_text function
  edsnlp/matchers/utils/text.py
Due: none

tests: remove strip() method from test_regex
  tests/matchers/test_regex.py
Due: none

chore: clean and comment measurement.py
  edsnlp/pipelines/misc/measurements/measurements.py
Due: none

feat: redesign fully the measurements pipeline, temporarily drop composite measures and add unitless measures
  demo/app.py
  docs/pipelines/misc/measurements.md
  docs/pipelines/misc/measures.md
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/misc/measurements/__init__.py
  edsnlp/pipelines/misc/measurements/factory.py
  edsnlp/pipelines/misc/measurements/measurements.py
  edsnlp/pipelines/misc/measurements/patterns.py
  edsnlp/pipelines/misc/measures/__init__.py
  edsnlp/pipelines/misc/measures/factory.py
  edsnlp/pipelines/misc/measures/measures.py
  edsnlp/pipelines/misc/measures/patterns.py
  setup.py
  tests/conftest.py
  tests/pipelines/misc/test_measure.py
  tests/pipelines/misc/test_measurements.py
Due: Running Pytest, Installation

chore: update changelog
  changelog.md
Due: none

fix: fix measurements in docs and app
  demo/app.py
  docs/index.md
  docs/pipelines/index.md
  mkdocs.yml
Due: Build documentation

chore: bump version to 0.6.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

Update changelog.md
  changelog.md
Due: none

fix: fix norm and to_datetime dates methods
  edsnlp/pipelines/misc/dates/models.py
  tests/pipelines/misc/test_dates.py
Due: none

perf: cythonized SentenceSegmenter and removed _.endline (excluded tag suffices)
  changelog.md
  docs/pipelines/core/endlines.md
  docs/tutorials/endlines.md
  edsnlp/matchers/regex.py
  edsnlp/matchers/utils/offset.py
  edsnlp/matchers/utils/text.py
  edsnlp/pipelines/core/endlines/endlines.py
  edsnlp/pipelines/core/endlines/endlinesmodel.py
  edsnlp/pipelines/core/endlines/functional.py
  edsnlp/pipelines/core/normalizer/__init__.py
  edsnlp/pipelines/core/sentences/factory.py
  edsnlp/pipelines/core/sentences/sentences.pxd
  edsnlp/pipelines/core/sentences/sentences.py
  edsnlp/pipelines/core/sentences/sentences.pyx
  setup.py
  tests/pipelines/core/test_endlines.py
  tests/pipelines/core/test_sentences.py
Due: Installation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
