Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

continue
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  edsnlp/train.py
Due: Running Pytest, Installation

fix: redirect measurements import to quantities
  edsnlp/__init__.py
Due: Running Pytest, Installation

chore: bump version to 0.14.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
  pyproject.toml
Due: Running Pytest, Installation, Build documentation

fix: support nlp-less components
  docs/concepts/pipeline.md
  docs/scripts/clickable_snippets.py
  docs/tutorials/make-a-training-script.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/data/converters.py
  tests/test_pipeline.py
  tests/training/qlf_config.yml
Due: Running Pytest

ci: test build only with pytorch cpu
  .github/workflows/release.yml
  .github/workflows/test-build.yml
Due: none

Update main coverage
  coverage.svg
  coverage.txt
Due: none

fix: better backward compatibility after renaming measurements to quantities
  edsnlp/__init__.py
  edsnlp/pipes/misc/quantities/quantities.py
Due: Running Pytest, Installation

Update main coverage
  coverage.txt
Due: none

Deployed 1ebc7d72c to master with MkDocs 1.6.1 and mike 1.1.2
  master/assets/stylesheets/giscus_dark.css
  master/assets/stylesheets/giscus_light.css
Due: none

Deployed 1ebc7d72c to master with MkDocs 1.6.1 and mike 1.1.2
  master/assets/stylesheets/giscus_dark_theme.css
  master/assets/stylesheets/giscus_light_theme.css
Due: none

Deployed fe816592c to v0.14.0 with MkDocs 1.6.1 and mike 1.1.2
  latest/index.html
  latest/pipes/index.html
  latest/tutorials/qualifying-entities/index.html
  v0.14.0/index.html
  v0.14.0/pipes/index.html
  v0.14.0/tutorials/qualifying-entities/index.html
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
