Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

docs: fix relative links in github pages
  docs/pipelines/index.md
  docs/scripts/autorefs/plugin.py
  docs/scripts/griffe_ext.py
  docs/scripts/plugin.py
  mkdocs.yml
Due: Build documentation

docs: auto update dev docs & minify files
  .github/workflows/documentation.yml
  docs/index.md
  mkdocs.yml
  pyproject.toml
Due: Build documentation

docs: prune docs nav to reduce weight
  docs/advanced-tutorials/overview.md
  docs/index.md
  docs/pipelines/trainable/overview.md
  docs/scripts/plugin.py
  docs/tutorials/overview.md
  docs/utilities/connectors/overview.md
  docs/utilities/overview.md
  mkdocs.yml
  pyproject.toml
Due: Build documentation

ci: don't test build branch w/o pull request
  .github/workflows/test-build.yml
Due: none

chore: bump version to 0.9.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

bumping spacy latest version req
  pyproject.toml
Due: none

fix: improve negation patterns, set diso absent status as negation & default qualif to None
  edsnlp/pipelines/ner/behaviors/alcohol/patterns.py
  edsnlp/pipelines/ner/behaviors/tobacco/patterns.py
  edsnlp/pipelines/ner/disorders/base.py
  edsnlp/pipelines/qualifiers/base.py
  edsnlp/pipelines/qualifiers/family/family.py
  edsnlp/pipelines/qualifiers/history/history.py
  edsnlp/pipelines/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipelines/qualifiers/hypothesis/patterns.py
  edsnlp/pipelines/qualifiers/negation/factory.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/negation/patterns.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  tests/pipelines/ner/disorders/test_all.py
  tests/pipelines/qualifiers/test_negation.py
Due: none

fix: support empty (e.g. lookahead/behind) extra matches in ContextualMatcher
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
Due: none

fix: remove default on_ents_only argument
  edsnlp/pipelines/misc/dates/dates.py
Due: none

fix: remove strict spacy<3.5.0 constraint after #213
  pyproject.toml
Due: none

chore: bump version to 0.9.1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/__init__.py
  edsnlp/patch_spacy.py
  edsnlp/pipelines/core/sentences/factory.py
  edsnlp/pipelines/core/sentences/fast_sentences.pxd
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  setup.py
Due: Running Pytest, Installation

feat: add text_cnn torch component
  edsnlp/layers/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/text_cnn.py
  pyproject.toml
Due: none

refacto: rewrite trainable ner with a torch component (also eds.nested_ner -> eds.ner)
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/pipelines/trainable/nested_ner/__init__.py
  edsnlp/pipelines/trainable/nested_ner/factory.py
  edsnlp/pipelines/trainable/nested_ner/nested_ner.py
  edsnlp/pipelines/trainable/nested_ner/stack_crf_ner.py
  edsnlp/pipelines/trainable/pytorch_wrapper.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_nested_ner.py
Due: none

feat: added trainable transformer component
  edsnlp/pipelines/trainable/embeddings/__init__.py
  edsnlp/pipelines/trainable/embeddings/transformer.py
  edsnlp/pipelines/trainable/embeddings/typing.py
  edsnlp/utils/torch.py
  pyproject.toml
Due: none
