Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: during their init, matchers skip pipes with non-required assigned extensions
  changelog.md
  edsnlp/matchers/phrase.pyx
  edsnlp/matchers/simstring.py
  edsnlp/matchers/utils/__init__.py
Due: none

tests: change nlp fixtures for large refacto
  tests/conftest.py
Due: Running Pytest

chore: add confit to dependencies
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/layers/text_cnn.py
  edsnlp/pipelines/trainable/ner/ner.py
  pyproject.toml
Due: none

feat: add load function
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
Due: Running Pytest, Installation

tests: add end to end training test
  edsnlp/optimization.py
  tests/training/config.cfg
  tests/training/dataset/sample-1.ann
  tests/training/dataset/sample-1.txt
  tests/training/dataset/sample-2.ann
  tests/training/dataset/sample-2.txt
  tests/training/test_train.py
Due: Running Pytest, Installation

feat: make deprecation warnings visible
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/utils/deprecation.py
Due: none

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  docs/pipelines/trainable/ner.md
  edsnlp/core/component.py
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

feat: update confit (deprecation param)
  pyproject.toml
Due: none

feat: added trainable transformer component
  edsnlp/pipelines/trainable/embeddings/__init__.py
  edsnlp/pipelines/trainable/embeddings/transformer.py
  edsnlp/pipelines/trainable/embeddings/typing.py
  edsnlp/utils/torch.py
  pyproject.toml
Due: none

fix: add missing pipeline methods and tests in parallelize
  edsnlp/core/pipeline.py
  tests/pipelines/trainable/test_span_classifier.py
  tests/processing/test_processing.py
Due: none

feat: add text_cnn torch component
  edsnlp/layers/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/text_cnn.py
  pyproject.toml
Due: none

tests: improve coverage
  edsnlp/patch_spacy.py
  edsnlp/utils/colors.py
  edsnlp/utils/regex.py
  pyproject.toml
Due: Running Pytest, Installation

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  tests/pipelines/core/test_sentences.py
Due: none

tests: improve coverage
  edsnlp/core/registry.py
  edsnlp/optimization.py
  edsnlp/utils/collections.py
Due: Running Pytest, Installation

docs: document core refacto concepts
  docs/concepts/inference.md
  docs/concepts/pipeline.md
  docs/concepts/torch-component.md
  mkdocs.yml
Due: Build documentation

feat: add simple and multiprocessing (cpu & gpu) accelerators
  edsnlp/accelerators/__init__.py
  edsnlp/accelerators/base.py
  edsnlp/accelerators/multiprocessing.py
  edsnlp/accelerators/simple.py
  pyproject.toml
Due: none

docs: autolink component occurences to reference
  docs/index.md
  docs/pipelines/architecture.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/overview.md
  docs/pipelines/misc/overview.md
  docs/pipelines/ner/overview.md
  docs/pipelines/ner/scores/overview.md
  docs/pipelines/overview.md
  docs/pipelines/qualifiers/overview.md
  docs/scripts/plugin.py
  docs/tutorials/detecting-dates.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/qualifying-entities.md
  edsnlp/pipelines/qualifiers/history/history.py
Due: Build documentation

fix: allow crf to decode illegal tag sequences
  edsnlp/pipelines/trainable/layers/crf.py
Due: none

test: move doc testing utils to tests/
  edsnlp/__init__.py
Due: Running Pytest, Installation

docs: don't wrap inline code blocks in tables
  docs/assets/stylesheets/extra.css
Due: none

fix: update trainable ner with span_setter
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/ner.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

fix: update pipeline system
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
Due: none

fix: better support for spacy registered pipes
  edsnlp/core/registry.py
Due: none

feat: add windowing options to ner crf
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/utils/torch.py
  tests/pipelines/trainable/test_ner.py
Due: none

chore: improve coverage and clean entry points
  pyproject.toml
Due: none

refacto: rewrite trainable ner with a torch component (also eds.nested_ner -> eds.ner)
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/pipelines/trainable/nested_ner/__init__.py
  edsnlp/pipelines/trainable/nested_ner/factory.py
  edsnlp/pipelines/trainable/nested_ner/nested_ner.py
  edsnlp/pipelines/trainable/nested_ner/stack_crf_ner.py
  edsnlp/pipelines/trainable/pytorch_wrapper.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_nested_ner.py
Due: none

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  pyproject.toml
  tests/test_scorers.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: Running Pytest

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/__init__.py
  edsnlp/patch_spacy.py
  edsnlp/pipelines/core/sentences/factory.py
  edsnlp/pipelines/core/sentences/fast_sentences.pxd
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  setup.py
Due: Running Pytest, Installation

refacto: remove context pipe
  edsnlp/pipelines/core/context/__init__.py
  edsnlp/pipelines/core/context/context.py
  edsnlp/pipelines/core/context/factory.py
  edsnlp/pipelines/factories.py
  pyproject.toml
Due: none

chore: bump version to 0.10.0alpha1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

feat: auto detect boolean qualifiers and fill in False values in brat-sourced docs
  edsnlp/connectors/brat.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
Due: none

fix: drop bratconnector statefulness to avoid missing ents in 2nd, 3rd, ... ann files
  edsnlp/connectors/brat.py
Due: none

feat: add auto packaging api
  edsnlp/core/pipeline.py
  edsnlp/pipelines/misc/measurements/measurements.py
  edsnlp/utils/package.py
  pyproject.toml
  tests/utils/test_package.py
Due: none

chore: update project metadata
  .github/workflows/documentation.yml
  CITATION.cff
  README.md
  changelog.md
  docs/index.md
  pyproject.toml
Due: Build documentation

feat: add train script
  edsnlp/connectors/brat.py
  edsnlp/core/pipeline.py
  edsnlp/pipelines/base.py
  edsnlp/scorers/ner.py
  edsnlp/train.py
  edsnlp/utils/span_getters.py
  pyproject.toml
  tests/test_pipeline.py
Due: Running Pytest, Installation

docs: update style, prepare i18n, add mkdocstring better integration
  docs/assets/stylesheets/extra.css
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
