Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Update main coverage
  coverage.txt
Due: none

ci: use uv
  .github/workflows/tests.yml
Due: none

fix: make new env var EDSNLP_MAX_CPU_WORKERS is optional
  edsnlp/processing/multiprocessing.py
Due: none

feat: expose package script to cli
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/package.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

fix: support importlib_metadata <= 4.13.*
  edsnlp/core/registries.py
Due: none

test: only test koalas for py37 since spark3 is available for py>38
  pyproject.toml
Due: none

fix: improve windows compat
  edsnlp/core/pipeline.py
  tests/conftest.py
Due: Running Pytest

fix: default to importlib.metadata
  edsnlp/core/registries.py
Due: none

chore: bump version to 0.12.0
  .github/workflows/tests.yml
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: make catalogue & entrypoints compatible with py37-py312
  changelog.md
  edsnlp/core/registries.py
Due: none

fix: check that a date has a doc before using note_datetime
  changelog.md
  edsnlp/pipes/misc/dates/models.py
Due: none

chore: clean dependencies
  edsnlp/pipes/core/endlines/model.py
  edsnlp/pipes/qualifiers/base.py
  edsnlp/viz/quick_examples.py
  pyproject.toml
  tests/data/test_lazy_collection.py
  tests/data/test_polars.py
  tests/pipelines/core/test_endlines.py
  tests/pipelines/trainable/test_transformer.py
  tests/processing/test_processing.py
  tests/test_conjugator.py
  tests/test_docs.py
  tests/training/test_train.py
  tests/utils/test_quick_examples.py
  tests/utils/test_spark_dtypes.py
Due: Running Pytest

feat: added binary distribution for linux aarch64
  changelog.md
  pyproject.toml
Due: none

Update main coverage
  coverage.svg
  coverage.txt
Due: none

feat: improve eds.table matcher
  changelog.md
  edsnlp/pipes/misc/tables/__init__.py
  edsnlp/pipes/misc/tables/patterns.py
  edsnlp/pipes/misc/tables/tables.py
  tests/pipelines/misc/test_tables.py
Due: none

fix : adding new separator in eds.table and new input check
  changelog.md
  edsnlp/pipes/misc/tables/patterns.py
  edsnlp/pipes/misc/tables/tables.py
Due: none

chore: bump version to 0.12.1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation
