Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: :lipstick: Improve the termynal extension with a pop-up
  docs/assets/termynal/termynal.css
  docs/assets/termynal/termynal.js
Due: none

add src, tests and doc
  changelog.md
  docs/pipelines/index.md
  docs/pipelines/ner/umls.md
  edsnlp/matchers/phrase.pyx
  edsnlp/pipelines/core/terminology/terminology.py
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/ner/umls/__init__.py
  edsnlp/pipelines/ner/umls/factory.py
  edsnlp/pipelines/ner/umls/patterns.py
  mkdocs.yml
  pyproject.toml
  requirements.txt
  setup.py
  tests/pipelines/ner/test_umls.py
Due: Installation, Build documentation

pin the umls_downloader version
  requirements.txt
Due: none

chore: add missing entries to changelog
  changelog.md
Due: none

fix: fix filter_spans for strictly nested entities
  changelog.md
  edsnlp/utils/filter.py
  tests/utils/test_filter.py
Due: none

fix: fill eds.remove-lowercase assign metadata
  changelog.md
  edsnlp/pipelines/core/normalizer/lowercase/factory.py
Due: none

feat: Elston-Ellis score ner
  changelog.md
  edsnlp/pipelines/ner/scores/__init__.py
  edsnlp/pipelines/ner/scores/elstonellis/__init__.py
  edsnlp/pipelines/ner/scores/elstonellis/factory.py
  edsnlp/pipelines/ner/scores/elstonellis/patterns.py
  tests/pipelines/ner/test_score.py
Due: none

add multiline and change pattern
  edsnlp/pipelines/core/normalizer/pollution/patterns.py
  edsnlp/pipelines/core/normalizer/pollution/pollution.py
Due: none

changelog
  changelog.md
Due: none

tests
  tests/pipelines/core/test_normalisation.py
Due: none

fix: remove missing entry_point
  setup.py
Due: Installation

Patch patterns norm (#150)
  changelog.md
  edsnlp/pipelines/core/normalizer/pollution/patterns.py
  edsnlp/pipelines/core/normalizer/pollution/pollution.py
  tests/pipelines/core/test_normalisation.py
Due: none

chore: bump version to 0.7.2
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

chore: add cache action to avoid re-downloading resources during ci tests
  .github/workflows/tests.yml
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
