Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: new llm extractor pipe
  changelog.md
  docs/pipes/index.md
  docs/pipes/llm/index.md
  docs/pipes/llm/llm-markup-extraction.md
  docs/references.bib
  edsnlp/core/stream.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/llm/__init__.py
  edsnlp/pipes/llm/async_worker.py
  edsnlp/pipes/llm/llm_markup_extractor/__init__.py
  edsnlp/pipes/llm/llm_markup_extractor/factory.py
  edsnlp/pipes/llm/llm_markup_extractor/llm_markup_extractor.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/llm/mock_llm_service.py
  tests/pipelines/llm/test_llm_markup_extractor.py
Due: Build documentation

docs: reorganize landing page
  README.md
  docs/index.md
Due: Build documentation

instance_type
  edsnlp/pipes/qualifiers/external_information/external_information.py
Due: none

change log level
  edsnlp/pipes/qualifiers/llm/llm_utils.py
Due: none

Update span_attribute.py
  edsnlp/metrics/span_attribute.py
Due: none

fix: fix pipe selection when loading models
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
Due: none

docs: add more examples, improve context and notes
  docs/tutorials/hpc.md
Due: none

fix: better check mp stops and detect hdfs before auto choosing fork or spawn
  changelog.md
  edsnlp/core/torch_component.py
  edsnlp/processing/multiprocessing.py
  edsnlp/tune.py
Due: Running Pytest, Installation

docs: new slurm hpc tutorial
  docs/assets/overrides/main.html
  docs/index.md
  docs/tutorials/hpc.md
  docs/tutorials/index.md
  mkdocs.yml
Due: Build documentation

Update main coverage
  coverage.svg
  coverage.txt
Due: none

refacto: move edsnlp.utils.regex to edsnlp.utils.regex_utils
  edsnlp/matchers/regex.py
  edsnlp/pipes/misc/dates/normalizer.py
  edsnlp/pipes/misc/dates/patterns/atomic/days.py
  edsnlp/pipes/misc/dates/patterns/atomic/delimiters.py
  edsnlp/pipes/misc/dates/patterns/atomic/directions.py
  edsnlp/pipes/misc/dates/patterns/atomic/modes.py
  edsnlp/pipes/misc/dates/patterns/atomic/months.py
  edsnlp/pipes/misc/dates/patterns/atomic/numbers.py
  edsnlp/pipes/misc/dates/patterns/atomic/units.py
  edsnlp/pipes/misc/dates/patterns/atomic/years.py
  edsnlp/pipes/misc/dates/patterns/current.py
  edsnlp/pipes/misc/dates/patterns/false_positive.py
  edsnlp/pipes/misc/dates/patterns/relative.py
  edsnlp/pipes/ner/covid/patterns.py
  edsnlp/utils/regex_utils.py
Due: none

feat: new fuzzy text annotation alignment method
  changelog.md
  edsnlp/utils/fuzzy_alignment.py
  tests/conftest.py
  tests/utils/test_fuzzy_aligment.py
Due: Running Pytest

feat: add doc to markup converter and improve markup to doc converter
  changelog.md
  docs/data/converters.md
  edsnlp/data/converters.py
  tests/data/test_converters.py
Due: none

feat: add sents span getter
  changelog.md
  edsnlp/utils/span_getters.py
  tests/test_span_args.py
  tests/utils/test_span_getters.py
Due: Running Pytest

fix: add back alias for edsnlp.utils.regex to regex_utils
  edsnlp/__init__.py
Due: Running Pytest, Installation

Update main coverage
  coverage.txt
Due: none

chore: bump version to 0.19.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix to_disk and from_disk
  edsnlp/pipes/trainable/doc_classifier/doc_classifier.py
Due: none

Stable Multi Head Doc Classifier
  edsnlp/pipes/trainable/doc_classifier/doc_classifier.py
Due: none

feat: new qualifier llm pipe
  docs/pipes/qualifiers/llm-qualifier.md
  docs/tutorials/qualifying-entities-with-llm.md
  edsnlp/pipes/llm/llm_span_qualifier/__init__.py
  edsnlp/pipes/llm/llm_span_qualifier/factory.py
  edsnlp/pipes/llm/llm_span_qualifier/llm_span_qualifier.py
  edsnlp/pipes/llm/llm_span_qualifier/llm_utils.py
  edsnlp/utils/asynchronous.py
  tests/pipelines/llm/test_llm_span_qualifier.py
  tests/pipelines/llm/test_llm_utils.py
Due: none

feat: improve llm qualifier concurrency, rationalize args, standardize schema w/ pydantic
  docs/pipes/llm/index.md
  docs/pipes/llm/llm-span-qualifier.md
  docs/pipes/qualifiers/llm-qualifier.md
  docs/tutorials/qualifying-entities-with-llm.md
  edsnlp/pipes/__init__.py
  edsnlp/pipes/llm/llm_span_qualifier/__init__.py
  edsnlp/pipes/llm/llm_span_qualifier/factory.py
  edsnlp/pipes/llm/llm_span_qualifier/llm_span_qualifier.py
  edsnlp/pipes/llm/llm_span_qualifier/llm_utils.py
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/pipelines/llm/test_llm_span_qualifier.py
  tests/pipelines/llm/test_llm_utils.py
Due: Running Pytest, Build documentation

feat: new annotation migration tutorial
  docs/utilities/annotation-migration.md
  mkdocs.yml
Due: Build documentation

add pruning parameters
  edsnlp/tune.py
Due: Running Pytest, Installation
