Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

ci: only check changed files with pre-commit
  .github/workflows/tests.yml
Due: none

docs: vendor autorefs, add dynamic docstrings, templates, fix code ref with pytest-xdist
  pyproject.toml
Due: none

chore: improve coverage and clean entry points
  edsnlp/components.py
  edsnlp/patch_spacy_dot_components.py
  edsnlp/pipelines/core/normalizer/lowercase/factory.py
  edsnlp/pipelines/core/normalizer/normalizer.py
  edsnlp/pipelines/core/normalizer/remove_lowercase/__init__.py
  edsnlp/pipelines/core/normalizer/remove_lowercase/factory.py
  edsnlp/pipelines/factories.py
  edsnlp/utils/blocs.py
  edsnlp/utils/collections.py
  pyproject.toml
  tests/pipelines/test_pipelines.py
  tests/test_span_args.py
Due: Running Pytest, Installation

chore: switch from flake8 to ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: fix to_datetime/duration docs & integration with eds.history
  changelog.md
  docs/pipelines/misc/dates.md
  docs/pipelines/qualifiers/history.md
  edsnlp/pipelines/misc/consultation_dates/consultation_dates.py
  edsnlp/pipelines/misc/consultation_dates/factory.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/factory.py
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/qualifiers/history/history.py
  tests/pipelines/misc/test_dates.py
Due: none

chore: update entry points
  edsnlp/pipelines/factories.py
  pyproject.toml
Due: none

feat: add all ner pipes to demo
  demo/app.py
Due: none

refacto: split dates into dates and durations & and add bound attribute for period bounds
  changelog.md
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/misc/dates/patterns/atomic/directions.py
  edsnlp/pipelines/misc/dates/patterns/atomic/modes.py
  edsnlp/pipelines/misc/dates/patterns/relative.py
  edsnlp/pipelines/qualifiers/history/history.py
  tests/pipelines/misc/test_dates.py
Due: none

docs: vendor autorefs, add dynamic docstrings, templates, fix code ref with pytest-xdist
  docs/assets/templates/python/material/class.html
  docs/assets/templates/python/material/docstring.html
  docs/assets/templates/python/material/docstring/examples.html
  docs/assets/templates/python/material/docstring/parameters.html
  docs/scripts/autorefs/LICENSE
  docs/scripts/autorefs/plugin.py
  docs/scripts/bibtex.py
  docs/scripts/griffe_ext.py
  docs/scripts/plugin.py
  mkdocs.yml
Due: Build documentation

refacto: move tnm out of scores
  edsnlp/pipelines/ner/tnm/__init__.py
  edsnlp/pipelines/ner/tnm/factory.py
  edsnlp/pipelines/ner/tnm/model.py
  edsnlp/pipelines/ner/tnm/patterns.py
  edsnlp/pipelines/ner/tnm/tnm.py
Due: none

docs: change no-check comments into code fence class & change fr into eds lang
  README.md
  changelog.md
  docs/advanced-tutorials/fastapi.md
  docs/index.md
  docs/pipelines/index.md
  docs/pipelines/overview.md
  docs/pipelines/trainable/index.md
  docs/pipelines/trainable/ner.md
  docs/pipelines/trainable/span-qualifier.md
  docs/tutorials/aggregating-results.md
  docs/tutorials/detecting-dates.md
  docs/tutorials/endlines.md
  docs/tutorials/matching-a-terminology.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/quick-examples.md
  docs/tutorials/reason.md
  docs/utilities/connectors/brat.md
  docs/utilities/connectors/omop.md
  docs/utilities/tests/blocs.md
Due: Build documentation

test: fetch code blocks in docstrings via markdown extension
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Makefile
  contributing.md
  pyproject.toml
  tests/extract_docs_code.py
  tests/test_docs.py
Due: Running Pytest

docs: vendor autorefs, add dynamic docstrings, templates, fix code ref with pytest-xdist
  docs/scripts/plugin.py
Due: none

refacto: add span_getter to qualifier pipes (with backward compat) & update docs
  docs/pipelines/qualifiers/family.md
  docs/pipelines/qualifiers/history.md
  docs/pipelines/qualifiers/hypothesis.md
  docs/pipelines/qualifiers/index.md
  docs/pipelines/qualifiers/negation.md
  docs/pipelines/qualifiers/reported-speech.md
  edsnlp/pipelines/qualifiers/base.py
  edsnlp/pipelines/qualifiers/family/__init__.py
  edsnlp/pipelines/qualifiers/family/factory.py
  edsnlp/pipelines/qualifiers/family/family.py
  edsnlp/pipelines/qualifiers/history/__init__.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/qualifiers/history/history.py
  edsnlp/pipelines/qualifiers/hypothesis/__init__.py
  edsnlp/pipelines/qualifiers/hypothesis/factory.py
  edsnlp/pipelines/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipelines/qualifiers/negation/__init__.py
  edsnlp/pipelines/qualifiers/negation/factory.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/__init__.py
  edsnlp/pipelines/qualifiers/reported_speech/factory.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
Due: none

refacto: rename upper case components
  docs/pipelines/ner/disorders/aids.md
  docs/pipelines/ner/disorders/ckd.md
  docs/pipelines/ner/disorders/copd.md
  edsnlp/pipelines/ner/disorders/aids/__init__.py
  edsnlp/pipelines/ner/disorders/aids/aids.py
  edsnlp/pipelines/ner/disorders/aids/factory.py
  edsnlp/pipelines/ner/disorders/aids/patterns.py
  edsnlp/pipelines/ner/disorders/ckd/__init__.py
  edsnlp/pipelines/ner/disorders/ckd/ckd.py
  edsnlp/pipelines/ner/disorders/ckd/factory.py
  edsnlp/pipelines/ner/disorders/ckd/patterns.py
  edsnlp/pipelines/ner/disorders/copd/__init__.py
  edsnlp/pipelines/ner/disorders/copd/copd.py
  edsnlp/pipelines/ner/disorders/copd/factory.py
  edsnlp/pipelines/ner/disorders/copd/patterns.py
Due: none

fix: quick examples
  edsnlp/viz/quick_examples.py
Due: none

refacto: unify span_getter & span_setter parameters #203
  docs/pipelines/ner/overview.md
  docs/pipelines/qualifiers/overview.md
  edsnlp/pipelines/base.py
Due: none

fix: close ignore case group in tokenizer regex
  docs/tokenizers.md
  edsnlp/language.py
Due: Running Pytest, Installation, Build documentation

docs: fix relative links & span_getter args
  docs/scripts/plugin.py
  edsnlp/pipelines/qualifiers/base.py
  edsnlp/pipelines/qualifiers/family/family.py
  edsnlp/pipelines/qualifiers/history/history.py
  edsnlp/pipelines/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  mkdocs.yml
  pyproject.toml
Due: Build documentation

docs: fix relative links in github pages
  docs/scripts/autorefs/plugin.py
  docs/scripts/griffe_ext.py
  mkdocs.yml
Due: Build documentation

docs: auto update dev docs & minify files
  .github/workflows/documentation.yml
  docs/index.md
  mkdocs.yml
  pyproject.toml
Due: Build documentation

debug: try to understand why relative links don't work on github
  docs/scripts/autorefs/plugin.py
Due: none

docs: auto update dev docs & minify files
  .github/workflows/documentation.yml
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
