Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

chore: bump version to 0.10.5
  README.md
  changelog.md
  docs/index.md
Due: Build documentation

chore: bump version to 0.10.5
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

Deployed 35c964b3 to v0.10.5 with MkDocs 1.5.3 and mike 1.1.2
  latest/scripts/__pycache__/plugin.cpython-39.pyc
  latest/sitemap.xml.gz
  v0.10.5/scripts/__pycache__/plugin.cpython-39.pyc
  v0.10.5/sitemap.xml.gz
Due: none

Deployed 9d2b58fe to v0.10.5 with MkDocs 1.5.3 and mike 1.1.2
  latest/scripts/__pycache__/plugin.cpython-39.pyc
  latest/sitemap.xml.gz
  v0.10.5/scripts/__pycache__/plugin.cpython-39.pyc
  v0.10.5/sitemap.xml.gz
Due: none

docs: update demo url
  demo/index.html
Due: none

feat: compute text_cnn over non-padded input to improve speed & memory usage
  changelog.md
  edsnlp/pipes/trainable/layers/text_cnn.py
Due: none

feat: adapt cache to multitask models with weight sharing in mp backend
  changelog.md
  edsnlp/core/torch_component.py
  edsnlp/processing/multiprocessing.py
  tests/pipelines/trainable/test_transformer.py
  tests/test_pipeline.py
Due: Running Pytest

feat: add batch units, sample sorting to simple/mp backends + fix error handling
  changelog.md
  docs/concepts/inference.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/utils/collections.py
  tests/processing/test_backends.py
  tests/utils/test_collections.py
Due: none

feat: add auto split to eds.transformer to avoid OOM errors
  changelog.md
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

docs: add back parquet functions docstring
  edsnlp/data/parquet.py
Due: none

ci: enable manual action dispatch for all workflows
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
Due: none

feat: add batch units, sample sorting to simple/mp backends + fix error handling
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  tests/test_pipeline.py
Due: Running Pytest

fix: make textcnn autograd compatible + fix multi kernel
  edsnlp/pipes/trainable/layers/text_cnn.py
Due: none

fix: force eval mode during inference & fix caching during cuda training
  edsnlp/core/lazy_collection.py
  edsnlp/core/torch_component.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
Due: none

feat: deprecate 'bool_attributes' in favor of general 'default_attributes'
  changelog.md
  docs/data/converters.md
  edsnlp/data/converters.py
  edsnlp/scorers/span_classification.py
Due: none

docs: improve data processing documentation
  changelog.md
  docs/data/converters.md
  docs/data/index.md
  docs/data/json.md
  docs/data/pandas.md
  docs/data/parquet.md
  docs/data/spark.md
  docs/tutorials/multiple-texts.md
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/spark.py
  mkdocs.yml
  pyproject.toml
Due: Build documentation

fix: disable bos/eos crf transitions when crf windows are enabled
  changelog.md
  edsnlp/pipes/trainable/layers/crf.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  tests/pipelines/trainable/test_ner.py
  tests/test_pipeline.py
Due: Running Pytest

fix: use spacy base tokenizer as base to eds tokenizer
  changelog.md
  edsnlp/language.py
Due: Running Pytest, Installation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
