Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: clean up spark after tests
  tests/conftest.py
Due: Running Pytest

refacto: new edsnlp.train API
  changelog.md
  edsnlp/__init__.py
  edsnlp/pipes/misc/split/split.py
  edsnlp/training/trainer.py
  tests/pipelines/misc/test_split.py
  tests/training/test_train.py
Due: Running Pytest, Installation

feat: added support for setuptools project in edsnlp.package
  edsnlp/package.py
Due: Running Pytest, Installation

fix: check autocast is supported on device
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
Due: none

feat: support shuffle op on streams (not just in reader)
  .pre-commit-config.yaml
  edsnlp/core/stream.py
  edsnlp/data/base.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  edsnlp/utils/stream_sentinels.py
  tests/data/test_json.py
  tests/data/test_pandas.py
  tests/data/test_parquet.py
  tests/data/test_stream.py
  tests/processing/test_backends.py
  tests/utils/test_batching.py
Due: none

ci: switch back to ubuntu 22 to support cached python 3.7 See https://github.com/actions/runner-images/issues/10636
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/test-build.yml
  .github/workflows/tests.yml
Due: none

refacto: rename lazy collections as streams
  changelog.md
  docs/concepts/inference.md
  docs/tutorials/multiple-texts.md
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
  edsnlp/core/stream.py
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  tests/data/test_stream.py
Due: Running Pytest, Installation

fix: avoid pickling modules and complex objects
  edsnlp/processing/multiprocessing.py
Due: none

fix: don't let the mp's processes stop by themselves
  edsnlp/processing/multiprocessing.py
Due: none

fix: support get_current_tokenizer again
  edsnlp/core/stream.py
  edsnlp/data/converters.py
  edsnlp/processing/utils.py
Due: none

fix: ensure mp backend ends nicely and improve throughput
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/core/stream.py
  edsnlp/processing/multiprocessing.py
  edsnlp/training/trainer.py
  tests/processing/test_backends.py
Due: none

fix: propagate torch sharing strategy to other workers
  changelog.md
  edsnlp/processing/multiprocessing.py
Due: none

fix: make eds.span_context_getter's context_sents option required
  changelog.md
  edsnlp/utils/span_getters.py
  tests/utils/test_span_getters.py
Due: none

Update main coverage
  coverage.svg
  coverage.txt
Due: none

Update main coverage
  coverage.txt
Due: none

fix: support docs generation (therefore tests too) in py312
  docs/scripts/plugin.py
Due: none

fix: support batch expression everywhere
  edsnlp/core/stream.py
  tests/data/test_stream.py
Due: none

docs: update training, stream and torch components docs
  docs/assets/templates/python/material/docstring.html
  docs/assets/templates/python/material/docstring/parameters.html
  docs/concepts/inference.md
  docs/concepts/torch-component.md
  docs/tutorials/training.md
  edsnlp/core/stream.py
  edsnlp/core/torch_component.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  edsnlp/processing/multiprocessing.py
  edsnlp/training/trainer.py
Due: none

fix: increase pytest timeout to allow large file downloads
  pyproject.toml
Due: none

docs: fix markdown format and links
  changelog.md
  docs/tutorials/matching-a-terminology.md
Due: none

refacto: improve tutorials, docs and drop create_optimizer
  docs/assets/overrides/main.html
  docs/concepts/torch-component.md
  docs/tutorials/index.md
  docs/tutorials/make-a-training-script.md
  docs/tutorials/training.md
  edsnlp/__init__.py
  edsnlp/pipes/misc/split/split.py
  edsnlp/training/__init__.py
  edsnlp/training/optimization.py
  edsnlp/training/optimizer.py
  edsnlp/training/trainer.py
  edsnlp/utils/batching.py
  mkdocs.yml
  pyproject.toml
  tests/training/ner_qlf_config.yml
  tests/training/test_optimizer.py
  tests/training/test_train.py
Due: Running Pytest, Installation, Build documentation

refacto: improve tutorials, docs and drop create_optimizer
  docs/tutorials/multiple-texts.md
  edsnlp/core/stream.py
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
  edsnlp/pipes/misc/dates/dates.py
  edsnlp/pipes/misc/quantities/quantities.py
Due: none

docs: make most of our API clickable
  changelog.md
  docs/assets/stylesheets/extra.css
  docs/scripts/clickable_snippets.py
  docs/scripts/plugin.py
  docs/tutorials/make-a-training-script.md
  docs/tutorials/matching-a-terminology.md
  docs/tutorials/visualization.md
  mkdocs.yml
  pyproject.toml
Due: Build documentation

docs: add github link to heading that ref code
  docs/assets/stylesheets/extra.css
  docs/scripts/plugin.py
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
