Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

docs: update filter docs
  edsnlp/utils/filter.py
Due: none

Apply suggestions from code review
  docs/pipelines/misc/measures.md
  edsnlp/pipelines/misc/measures/factory.py
  edsnlp/utils/filter.py
Due: none

refactor: moved compile_regex in utils
  edsnlp/matchers/regex.py
  edsnlp/utils/regex.py
Due: none

docs: typo
  docs/pipelines/misc/measures.md
Due: none

fix: handle missing keys in groupdict
  edsnlp/pipelines/misc/measures/measures.py
Due: none

style: remove unused import
  edsnlp/pipelines/misc/measures/factory.py
Due: none

fix: fix typing typo
  edsnlp/utils/filter.py
Due: none

feat: new measure pipeline
  changelog.md
  demo/app.py
  docs/pipelines/misc/measures.md
  edsnlp/matchers/regex.py
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/misc/measures/__init__.py
  edsnlp/pipelines/misc/measures/factory.py
  edsnlp/pipelines/misc/measures/measures.py
  edsnlp/pipelines/misc/measures/patterns.py
  edsnlp/utils/filter.py
  mkdocs.yml
  setup.py
  tests/conftest.py
  tests/pipelines/misc/test_measure.py
Due: Running Pytest, Installation, Build documentation

fix: issues with mkdocstrings
  edsnlp/pipelines/misc/measures/measures.py
  mkdocs.yml
Due: Build documentation

fix: style
  edsnlp/pipelines/misc/measures/measures.py
Due: none

feat: add static dateparser
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/parser/__init__.py
  edsnlp/pipelines/misc/dates/parser/absolute.py
  edsnlp/pipelines/misc/dates/parser/factory.py
  edsnlp/pipelines/misc/dates/parser/models.py
  edsnlp/pipelines/misc/dates/parser/numbers.py
  edsnlp/pipelines/misc/dates/parser/relative.py
  edsnlp/pipelines/misc/dates/patterns/__init__.py
  edsnlp/pipelines/misc/dates/patterns/directions.py
  edsnlp/pipelines/misc/dates/patterns/modifiers.py
  edsnlp/pipelines/misc/dates/patterns/numbers.py
  edsnlp/pipelines/misc/dates/patterns/relative.py
  edsnlp/pipelines/misc/dates/patterns/units.py
  tests/pipelines/misc/test_dates.py
Due: none

docs: added measures pipelines to the docs tables
  docs/index.md
  docs/pipelines/index.md
Due: Build documentation

feat: simplify patterns in dates
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/factory.py
  edsnlp/pipelines/misc/dates/patterns/__init__.py
  edsnlp/pipelines/misc/dates/patterns/relative.py
Due: none

fix: wrong dict for months
  edsnlp/pipelines/misc/dates/parser/absolute.py
Due: none

feat : propose flash text amelioration
  Benchmark_Search_Strings.md
  edsnlp/matchers/phrase.py
  edsnlp/pipelines/core/matcher/__init__.py
  edsnlp/pipelines/core/matcher/factory.py
  edsnlp/pipelines/core/matcher/matcher.py
  edsnlp/utils/flashtext.py
  notebooks/test_competition copy.md
  notebooks/test_competition.md
  notebooks/test_flashtext.md
  notebooks/test_flashtext2.md
  notebooks/test_simstring.md
  problems detected and propositions of upgrades.md
Due: none

fix: update black rev to fix issue with click
  .pre-commit-config.yaml
Due: none

feat: add interrogate pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: version bump to 0.4.4
  README.md
  demo/requirements.txt
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

chore: remove pending title
  changelog.md
Due: none

fix: streamlit normalized_variant column and removed debug prints
  demo/app.py
Due: none
