Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

fix two-phase tuning not writting best values of phase 1 frozen hyperparameters in phase_2 results_summary.txt.
  edsnlp/tune.py
Due: Running Pytest, Installation

fix two-phase tuning not writting best values of phase 1 frozen hyperparameters in phase_2 results_summary.txt. (#371)
  edsnlp/tune.py
Due: Running Pytest, Installation

Update main coverage
  coverage.txt
Due: none

feat: draft dates relations
  edsnlp/extensions.py
  edsnlp/metrics/relations.py
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/dates/dates_qualifier.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
  pyproject.toml
Due: Running Pytest, Installation

fix: resulting tuning config file now preserve comments
  edsnlp/tune.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

fix: add grad spike detection
  changelog.md
  docs/tutorials/training.md
  docs/tutorials/tuning.md
  edsnlp/training/trainer.py
  tests/training/dep_parser_config.yml
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
Due: none

add cfg/ini support, update tutorial and pyproject
  docs/tutorials/tuning.md
  edsnlp/tune.py
  pyproject.toml
Due: Running Pytest, Installation

update unit test
  tests/tuning/config.cfg
  tests/tuning/test_tuning.py
Due: none

feat: added various training loggers using confit.Draft
  changelog.md
  docs/training/index.md
  docs/training/loggers.md
  docs/tutorials/training.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/core/torch_component.py
  edsnlp/pipes/base.py
  edsnlp/train.py
  edsnlp/training/loggers.py
  edsnlp/training/trainer.py
  edsnlp/utils/typing.py
  mkdocs.yml
  pyproject.toml
  tests/test_pipeline.py
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
  tests/training/test_train.py
Due: Running Pytest, Installation, Build documentation

feat: added various training loggers using confit.Draft
  changelog.md
  docs/training/index.md
  docs/training/loggers.md
  docs/training/trainer
  docs/tutorials/training.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/pipes/base.py
  edsnlp/training/loggers.py
  edsnlp/training/trainer.py
  edsnlp/utils/typing.py
  mkdocs.yml
  pyproject.toml
  tests/test_pipeline.py
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
  tests/training/test_train.py
Due: Running Pytest, Build documentation

feat: added various training loggers
  changelog.md
  docs/training/index.md
  docs/training/loggers.md
  docs/tutorials/training.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/pipes/base.py
  edsnlp/training/loggers.py
  edsnlp/training/trainer.py
  mkdocs.yml
  pyproject.toml
  tests/test_pipeline.py
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
  tests/training/test_train.py
Due: Running Pytest, Build documentation

docs: make more registered function clickable in the docs
  changelog.md
  docs/scripts/clickable_snippets.py
Due: none

feat: added various training loggers using confit.Draft
  .pre-commit-config.yaml
  docs/training/loggers.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/pipes/base.py
  edsnlp/training/loggers.py
  edsnlp/training/trainer.py
  edsnlp/utils/typing.py
  pyproject.toml
  tests/test_pipeline.py
  tests/training/test_train.py
Due: Running Pytest

docs: make more registered function clickable in the docs
  docs/scripts/clickable_snippets.py
Due: none

feat: added various training loggers using confit.Draft
  edsnlp/training/loggers.py
  edsnlp/training/trainer.py
  pyproject.toml
  tests/training/test_train.py
Due: none

test: test filter_expr in dependency parsing evaluation
  edsnlp/metrics/dep_parsing.py
  tests/training/dep_parser_config.yml
Due: none

fix: allow deep attributes in Standoff and OMOP doc2dict converters
  changelog.md
  edsnlp/data/converters.py
  edsnlp/utils/bindings.py
Due: none

feat: compute eds.ner_crf loss as mean over words
  changelog.md
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

fix: take filter_expr into account in dependency parsing evaluation
  changelog.md
  edsnlp/metrics/dep_parsing.py
  tests/training/dep_parser_config.yml
Due: none

fix: improve various aspect of stream shuffling
  changelog.md
  edsnlp/core/stream.py
  edsnlp/data/parquet.py
Due: none

fix: eds.split now keeps doc and span attributes in the sub-documents
  changelog.md
  edsnlp/pipes/misc/split/split.py
  tests/pipelines/misc/test_split.py
Due: none

feat: allow importing optims using qualified names in ScheduledOptimizer
  changelog.md
  edsnlp/training/optimizer.py
  tests/training/ner_qlf_diff_bert_config.yml
Due: none
