Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: added basic repr to Pipeline
  changelog.md
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
Due: Running Pytest

feat: added Pipeline init and load to the new @pipelines registry
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  pyproject.toml
Due: none

[lint] use appropriate quotation mark
  edsnlp/data/standoff.py
Due: none

Fs encoding fix (#320)
  changelog.md
  edsnlp/data/standoff.py
Due: none

adding regex matcher in unitless pattern
  edsnlp/pipes/misc/quantities/quantities.py
Due: none

fix: skip spacy 3.8.0 due to numpy build dep
  pyproject.toml
Due: none

skip spacy 3.8.0 due to numpy build dep
  pyproject.toml
Due: none

test
  edsnlp/pipes/misc/quantities/quantities.py
Due: none

highlight necessity of using qualifiers in documentation
  docs/pipes/ner/behaviors/index.md
  docs/pipes/ner/disorders/index.md
  edsnlp/pipes/qualifiers/base.py
Due: none

add a process method to RuleBasedQualifier that qualifies without tagging, defering tagging to the __call__ method
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
Due: none

TobaccoMatcher inherits AlcoholMatcher as they share similar process method
  edsnlp/pipes/ner/behaviors/tobacco/tobacco.py
Due: none

update and fix behaviors/disorders pipes to 1) simplify the 'status' attribute and 2) use negation pipe when needed
  docs/assets/fragments/alcohol-examples.md
  docs/assets/fragments/tobacco-examples.md
  edsnlp/pipes/ner/behaviors/alcohol/alcohol.py
  edsnlp/pipes/ner/behaviors/alcohol/patterns.py
  edsnlp/pipes/ner/behaviors/tobacco/patterns.py
  edsnlp/pipes/ner/behaviors/tobacco/tobacco.py
  edsnlp/pipes/ner/disorders/aids/aids.py
  edsnlp/pipes/ner/disorders/base.py
  edsnlp/pipes/ner/disorders/cerebrovascular_accident/cerebrovascular_accident.py
  edsnlp/pipes/ner/disorders/ckd/ckd.py
  edsnlp/pipes/ner/disorders/connective_tissue_disease/connective_tissue_disease.py
  edsnlp/pipes/ner/disorders/copd/copd.py
  edsnlp/pipes/ner/disorders/dementia/dementia.py
  edsnlp/pipes/ner/disorders/diabetes/diabetes.py
  edsnlp/pipes/ner/disorders/hemiplegia/hemiplegia.py
  edsnlp/pipes/ner/disorders/leukemia/leukemia.py
  edsnlp/pipes/ner/disorders/liver_disease/liver_disease.py
  edsnlp/pipes/ner/disorders/lymphoma/lymphoma.py
  edsnlp/pipes/ner/disorders/myocardial_infarction/myocardial_infarction.py
  edsnlp/pipes/ner/disorders/peptic_ulcer_disease/peptic_ulcer_disease.py
  edsnlp/pipes/ner/disorders/peripheral_vascular_disease/peripheral_vascular_disease.py
  edsnlp/pipes/ner/disorders/solid_tumor/solid_tumor.py
  tests/pipelines/ner/disorders/AIDS.py
  tests/pipelines/ner/disorders/CKD.py
  tests/pipelines/ner/disorders/COPD.py
  tests/pipelines/ner/disorders/alcohol.py
  tests/pipelines/ner/disorders/cerebrovascular_accident.py
  tests/pipelines/ner/disorders/congestive_heart_failure.py
  tests/pipelines/ner/disorders/connective_tissue_disease.py
  tests/pipelines/ner/disorders/dementia.py
  tests/pipelines/ner/disorders/hemiplegia.py
  tests/pipelines/ner/disorders/leukemia.py
  tests/pipelines/ner/disorders/lymphoma.py
  tests/pipelines/ner/disorders/myocardial_infarction.py
  tests/pipelines/ner/disorders/peptic_ulcer_disease.py
  tests/pipelines/ner/disorders/peripheral_vascular_disease.py
  tests/pipelines/ner/disorders/test_all.py
  tests/pipelines/ner/disorders/tobacco.py
Due: none

update changelog
  changelog.md
Due: none

refacto: rename scorers -> metrics
  changelog.md
  edsnlp/__init__.py
  edsnlp/core/registries.py
  edsnlp/metrics/__init__.py
  edsnlp/metrics/ner.py
  edsnlp/metrics/span_attributes.py
  edsnlp/train.py
  pyproject.toml
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
Due: Running Pytest, Installation

fix: sort files when reading standoff/json folders
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

fix: force utf-8 to avoid encoding mismatch in data reading
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

feat: added support for setuptools project in edsnlp.package
  changelog.md
  edsnlp/package.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

chore: rework pipeline-less component instantiation
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/data/converters.py
  tests/test_pipeline.py
Due: Running Pytest

fix: allow (w/o caching) *args and **kw in cached collate and forward
  edsnlp/core/torch_component.py
Due: none

docs: added a new model training tutorial
  docs/assets/overrides/main.html
  docs/tutorials/make-a-training-script.md
  docs/tutorials/training.md
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  mkdocs.yml
Due: Build documentation

feat: new edsnlp.evaluate script
  changelog.md
  edsnlp/evaluate.py
Due: Running Pytest, Installation

refacto: new data api to support shuffling, loop and multi batch sizes
  .pre-commit-config.yaml
  changelog.md
  docs/concepts/inference.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  pyproject.toml
  tests/data/test_converters.py
  tests/data/test_json.py
  tests/data/test_lazy_collection.py
  tests/data/test_pandas.py
  tests/data/test_parquet.py
  tests/data/test_polars.py
  tests/data/test_spark.py
  tests/data/test_standoff.py
  tests/processing/test_backends.py
  tests/resources/brat_data/subfolder/doc-2.txt
  tests/resources/brat_data/subfolder/doc-3.txt
  tests/resources/docs.jsonl
  tests/resources/docs.parquet
  tests/resources/docs.pq
  tests/test_pipeline.py
Due: Running Pytest

feat: improve sentence detection and train sample splitting
  changelog.md
  edsnlp/pipes/core/sentences/factory.py
  edsnlp/pipes/core/sentences/fast_sentences.pxd
  edsnlp/pipes/core/sentences/fast_sentences.pyx
  edsnlp/pipes/core/sentences/sentences.py
  edsnlp/train.py
  tests/pipelines/core/test_sentences.py
Due: Running Pytest, Installation

Update main coverage
  coverage.txt
Due: none

ci: fix docs
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Makefile
  contributing.md
  pyproject.toml
Due: none
