Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: handle 'permet pas + verb' false positive negation patterns
  changelog.md
  edsnlp/pipes/qualifiers/negation/patterns.py
  tests/pipelines/qualifiers/test_negation.py
Due: none

chore: bump version to 0.10.3
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: don't turn parquet fragments gen into list to avoid oom errors
  edsnlp/data/parquet.py
Due: none

fix: support doc->list converter with parquet files
  edsnlp/data/parquet.py
Due: none

feat: slice & batch over transformer windows to avoid GPU OOM errors
  changelog.md
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

fix: list both edsnlp & spacy factories when lookup fail
  changelog.md
  edsnlp/core/registries.py
  tests/test_pipeline.py
Due: Running Pytest

feat: support loading model from package
  changelog.md
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
  tests/utils/test_package.py
Due: Running Pytest

fix: avoid putting all first batches to the same gpu
  edsnlp/processing/multiprocessing.py
Due: none

feat: support filesystem parameter in parquet functions
  changelog.md
  edsnlp/data/parquet.py
Due: none

perf: decrease the max number of enqueued batches per process
  edsnlp/processing/multiprocessing.py
Due: none

docs: fix typos and add a docstring to the deprecated pipe helper
  docs/tutorials/multiple-texts.md
  edsnlp/processing/deprecated_pipe.py
  mkdocs.yml
Due: Build documentation

feat: auto cast doc._.note_datetime from int/float/str/date/datetime to pendulum
  changelog.md
  edsnlp/extensions.py
  tests/pipelines/misc/test_dates.py
Due: Running Pytest, Installation

chore: bump version to 0.10.4
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: allow non-url paths when parquet filesystem is given
  changelog.md
  edsnlp/data/parquet.py
  tests/data/test_parquet.py
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
