Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

ci: delete preview docs of the PR branch
  .github/workflows/delete-preview-docs.yml
Due: none

Update main coverage
  coverage.svg
  coverage.txt
Due: none

ci: upgrade setup python action
  .github/workflows/tests.yml
Due: none

chore: bump version to 0.17.0
  .github/workflows/test-build.yml
  .github/workflows/tests.yml
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

chore: bump version to 0.17.0
  .github/workflows/tests.yml
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: add grad spike detection
  changelog.md
  docs/tutorials/training.md
  docs/tutorials/tuning.md
  edsnlp/training/trainer.py
  tests/training/dep_parser_config.yml
  tests/training/ner_qlf_diff_bert_config.yml
  tests/training/ner_qlf_same_bert_config.yml
Due: none

fix: in tuning, seed hyperparameter sampler
  edsnlp/tune.py
Due: Running Pytest, Installation

fix: register Pipeline as @core=pipeline
  edsnlp/core/pipeline.py
Due: none

deal with empy list or none
  edsnlp/pipes/qualifiers/external_information/external_information.py
Due: none

fix type check
  edsnlp/pipes/qualifiers/external_information/external_information.py
Due: none

fix: avoid pickling error in multiprocessing mode
  changelog.md
  edsnlp/processing/multiprocessing.py
  pyproject.toml
  tests/conftest.py
  tests/pipelines/trainable/conftest.py
  tests/pipelines/trainable/test_extractive_qa.py
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_span_linker.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/pipelines/trainable/test_transformer.py
  tests/processing/mp_simple_pipe.py
  tests/processing/test_processing.py
Due: Running Pytest

fix: correct town name typo (berck.sur.mer)
  changelog.md
  edsnlp/pipes/misc/consultation_dates/patterns.py
  tests/pipelines/misc/test_consultation_date.py
  tests/pipelines/misc/test_consultation_date_town.py
Due: none

Update main coverage
  coverage.txt
Due: none

fix: error when converting relative date expressions with bounds to durations
  changelog.md
  edsnlp/pipes/misc/dates/models.py
  tests/pipelines/misc/test_dates.py
Due: none

chore: add copilot instructions
  .github/copilot-instructions.md
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
