Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

docs: fix docs links and images
  docs/assets/images/model-parallelism.png
  docs/assets/images/transformer-windowing.svg
  docs/concepts/pipeline.md
  docs/scripts/plugin.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

fix: github actions
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

feat: standardize p/r/f metrics
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_classification.py
  tests/test_scorers.py
  tests/training/test_training.py
Due: Running Pytest

refacto: remove nlp & name attributes from pipes (increased pipe autonomy)
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/base.py
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/matcher/matcher.py
  edsnlp/pipelines/core/normalizer/accents/accents.py
  edsnlp/pipelines/core/normalizer/normalizer.py
  edsnlp/pipelines/core/normalizer/pollution/pollution.py
  edsnlp/pipelines/core/normalizer/quotes/quotes.py
  edsnlp/pipelines/core/normalizer/spaces/spaces.py
  edsnlp/pipelines/core/sentences/sentences.py
  edsnlp/pipelines/core/terminology/terminology.py
  edsnlp/pipelines/misc/measurements/measurements.py
  edsnlp/pipelines/misc/reason/reason.py
  edsnlp/pipelines/ner/disorders/base.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/train.py
  tests/test_pipeline.py
Due: Running Pytest, Installation

feat: serialize parameters in separate files per pipe
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
Due: none

docs: add custom tutorial cards
  docs/assets/stylesheets/cards.css
  docs/assets/stylesheets/extra.css
  docs/scripts/cards.py
  docs/tutorials/overview.md
  docs/tutorials/training-ner.md
  mkdocs.yml
Due: Build documentation

fix: add default span sentence getter factory (for trainable qualifier)
  edsnlp/utils/span_getters.py
  pyproject.toml
Due: none

docs: fix relative links
  docs/scripts/plugin.py
Due: none

docs: add training tutorial, update docs & run pre-commit
  README.md
  docs/advanced-tutorials/fastapi.md
  docs/concepts/torch-component.md
  docs/index.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/normalizer.md
  docs/pipelines/ner/behaviors/overview.md
  docs/pipelines/overview.md
  docs/pipelines/trainable/embeddings/span_pooler.md
  docs/pipelines/trainable/overview.md
  docs/scripts/griffe_ext.py
  docs/tokenizers.md
  docs/tutorials/detecting-dates.md
  docs/tutorials/endlines.md
  docs/tutorials/matching-a-terminology.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/overview.md
  docs/tutorials/qualifying-entities.md
  docs/tutorials/quick-examples.md
  docs/tutorials/reason.md
  docs/tutorials/spacy101.md
  docs/tutorials/training-ner.md
  docs/utilities/connectors/brat.md
  docs/utilities/matchers.md
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/core/contextual_matcher/models.py
  edsnlp/pipelines/core/normalizer/remove_lowercase/factory.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/wrapper.py
  edsnlp/utils/collections.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/test_docs.py
  tests/test_pipeline.py
Due: Running Pytest, Build documentation

refacto: add unified edsnlp.data api (json, brat, spark, pandas) and LazyCollection object
  .pre-commit-config.yaml
  docs/assets/templates/python/material/docstring/parameters.html
  docs/data/index.md
  docs/data/json.md
  docs/data/overview.png
  docs/data/pandas.md
  docs/data/schemas.md
  docs/data/spark.md
  docs/data/standoff.md
  edsnlp/__init__.py
  edsnlp/connectors/brat.py
  edsnlp/core/lazy_collection.py
  edsnlp/core/registry.py
  edsnlp/data/__init__.py
  edsnlp/data/base.py
  edsnlp/data/brat.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/utils/collections.py
  edsnlp/utils/span_getters.py
  edsnlp/utils/spark_dtypes.py
  mkdocs.yml
  pyproject.toml
  tests/data/test_converters.py
  tests/data/test_json.py
  tests/data/test_pandas.py
  tests/data/test_spark.py
  tests/data/test_standoff.py
  tests/resources/docs.jsonl
  tests/utils/test_spark_dtypes.py
Due: Running Pytest, Installation, Build documentation

feat: lazy module loading (quick import + easy handling optional deps e.g. torch)
  edsnlp/data/__init__.py
  edsnlp/pipelines/factories.py
  edsnlp/utils/lazy_module.py
Due: none

docs: add custom tutorial cards
  docs/scripts/cards.py
Due: none

refacto: unify simple/multiprocessing/spark execution backends via lazy_docs.set_processing(...)
  docs/concepts/inference.md
  docs/tutorials/multiple-texts.md
  edsnlp/accelerators/__init__.py
  edsnlp/accelerators/base.py
  edsnlp/accelerators/multiprocessing.py
  edsnlp/accelerators/simple.py
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/pipelines/base.py
  edsnlp/processing/__init__.py
  edsnlp/processing/deprecated_pipe.py
  edsnlp/processing/distributed.py
  edsnlp/processing/helpers.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/processing/utils.py
  edsnlp/processing/wrapper.py
  edsnlp/utils/collections.py
  pyproject.toml
  tests/conftest.py
  tests/processing/test_backends.py
  tests/processing/test_processing.py
  tests/test_pipeline.py
Due: Running Pytest

test: deduplicate docs tests (reference pages inserted in other pages)
  tests/extract_docs_code.py
Due: Running Pytest

test: fix test to support safetensor dumped hf models
  tests/test_pipeline.py
Due: Running Pytest

fix: switch SimpleQueues for Queues to avoid pipe buffer overflow induced locking
  edsnlp/processing/multiprocessing.py
Due: none

fix: tests in test_package
  edsnlp/utils/package.py
  tests/utils/test_package.py
Due: none

ci: enable pip cache
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: allow for empty initial project when packaging
  .github/workflows/tests.yml
  edsnlp/utils/package.py
  pyproject.toml
Due: none

feat: prepare finalizing writers (ie with batch accumulation to files) + smoother multiprocessing stopping
  docs/data/json.md
  docs/data/pandas.md
  docs/data/parquet.md
  docs/data/spark.md
  docs/data/standoff.md
  edsnlp/data/base.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
Due: none

feat: allow to keep/skip none values during training with keep_none parameter in span qualifier
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  tests/pipelines/trainable/test_span_qualifier.py
Due: none

feat: allow overriding the config when loading a pipeline from the disk
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
Due: Running Pytest

fix: support pydantic v2
  edsnlp/pipelines/base.py
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/contextual_matcher/models.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/ner/adicap/models.py
  edsnlp/utils/examples.py
  edsnlp/utils/lists.py
  edsnlp/utils/span_getters.py
  tests/test_pipeline.py
  tests/utils/test_examples.py
Due: Running Pytest

fix: update interrogate
  .pre-commit-config.yaml
Due: none

feat: allow access errors in bindings and add tests
  edsnlp/utils/bindings.py
  tests/utils/test_bindings.py
  tests/utils/test_collections.py
Due: none

test: improve coverage
  tests/processing/test_backends.py
  tests/test_pipeline.py
Due: Running Pytest

feat: expose 'eds' tokenizer
  pyproject.toml
Due: none

fix: support packaging in python 3.11
  edsnlp/utils/package.py
Due: none

chore: update changelog and bump version to 0.10.0beta2
  changelog.md
  edsnlp/__init__.py
Due: Running Pytest, Installation

fix: verify files existence
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

fix: allow empty docs in eds.transformer pipe
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

feat: allow to define multiple data sources in training script
  edsnlp/train.py
  edsnlp/utils/typing.py
  pyproject.toml
Due: Running Pytest, Installation

feat: add edsnlp.data support for parquet files with parallel reading / writing
  docs/data/parquet.md
  edsnlp/data/__init__.py
  edsnlp/data/parquet.py
  edsnlp/utils/collections.py
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/data/test_parquet.py
  tests/processing/test_backends.py
  tests/resources/docs.pq
Due: Running Pytest, Build documentation

feat: override model config in to_disk methods (e.g. finetuned hf model path)
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  tests/test_pipeline.py
Due: Running Pytest

fix: better support for model pickling (for legacy spacy multiprocessing)
  edsnlp/pipelines/qualifiers/family/family.py
  edsnlp/pipelines/qualifiers/history/history.py
  edsnlp/pipelines/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  edsnlp/utils/deprecation.py
Due: none

docs: use index.md instead of overview.md (we still redirect to Overview page when clicking section)
  docs/advanced-tutorials/index.md
  docs/index.md
  docs/pipelines/core/index.md
  docs/pipelines/index.md
  docs/pipelines/misc/index.md
  docs/pipelines/ner/behaviors/index.md
  docs/pipelines/ner/disorders/index.md
  docs/pipelines/ner/index.md
  docs/pipelines/ner/scores/index.md
  docs/pipelines/qualifiers/index.md
  docs/pipelines/trainable/index.md
  docs/scripts/plugin.py
  docs/tutorials/index.md
  docs/utilities/index.md
  docs/utilities/processing/index.md
  docs/utilities/processing/multi.md
  docs/utilities/processing/single.md
  docs/utilities/processing/spark.md
  mkdocs.yml
Due: Build documentation

feat: support bitsandbytes quantization in transformer init
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
