Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

ci: fix wheel & sdist artifact uploading
  .github/workflows/release.yml
Due: none

ci: skip py313 wheel
  .github/workflows/release.yml
  pyproject.toml
Due: none

chore: bump version to 0.13.1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
  pyproject.toml
Due: Running Pytest, Installation, Build documentation

ci: test imports up to python 3.12 and remove scikit-learn dependency
  .github/workflows/release.yml
  .github/workflows/tests.yml
  changelog.md
  edsnlp/pipes/core/endlines/endlines.py
  edsnlp/pipes/misc/quantities/quantities.py
  pyproject.toml
  tests/pipelines/test_pipelines.py
Due: none

ci: upgrade upload-artifact to v4
  .github/workflows/release.yml
Due: none

Deployed 430ef227 to v0.13.1 with MkDocs 1.5.3 and mike 1.1.2
  latest/scripts/__pycache__/plugin.cpython-39.pyc
  latest/sitemap.xml.gz
  v0.13.1/scripts/__pycache__/plugin.cpython-39.pyc
  v0.13.1/sitemap.xml.gz
Due: none

add warning for overlapping entities
  docs/pipes/ner/behaviors/index.md
  docs/pipes/ner/disorders/index.md
  docs/pipes/ner/disorders/warning.md
Due: none

ci: fix docs
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Makefile
  contributing.md
  pyproject.toml
Due: none

feat: add patterns for metastasis ct scan
  changelog.md
  docs/pipes/ner/disorders/index.md
  docs/references.bib
  edsnlp/pipes/ner/behaviors/alcohol/alcohol.py
  edsnlp/pipes/ner/behaviors/tobacco/tobacco.py
  edsnlp/pipes/ner/disorders/aids/aids.py
  edsnlp/pipes/ner/disorders/cerebrovascular_accident/cerebrovascular_accident.py
  edsnlp/pipes/ner/disorders/ckd/ckd.py
  edsnlp/pipes/ner/disorders/congestive_heart_failure/congestive_heart_failure.py
  edsnlp/pipes/ner/disorders/connective_tissue_disease/connective_tissue_disease.py
  edsnlp/pipes/ner/disorders/copd/copd.py
  edsnlp/pipes/ner/disorders/dementia/dementia.py
  edsnlp/pipes/ner/disorders/diabetes/diabetes.py
  edsnlp/pipes/ner/disorders/hemiplegia/hemiplegia.py
  edsnlp/pipes/ner/disorders/leukemia/leukemia.py
  edsnlp/pipes/ner/disorders/liver_disease/liver_disease.py
  edsnlp/pipes/ner/disorders/lymphoma/lymphoma.py
  edsnlp/pipes/ner/disorders/myocardial_infarction/myocardial_infarction.py
  edsnlp/pipes/ner/disorders/peptic_ulcer_disease/peptic_ulcer_disease.py
  edsnlp/pipes/ner/disorders/peripheral_vascular_disease/peripheral_vascular_disease.py
  edsnlp/pipes/ner/disorders/solid_tumor/patterns.py
  edsnlp/pipes/ner/disorders/solid_tumor/solid_tumor.py
  tests/pipelines/ner/disorders/solid_tumor.py
  tests/pipelines/ner/disorders/test_all.py
Due: Build documentation

ci: use ubuntu-22 instead of latest to keep python37 compatibility
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/test-build.yml
  .github/workflows/tests.yml
Due: none

feat: handle linebreak inside words and linebreak without leading whitespace
  edsnlp/language.py
  edsnlp/pipes/core/normalizer/pollution/patterns.py
  edsnlp/utils/doc_to_text.py
  tests/pipelines/core/test_normalisation.py
  tests/test_language.py
Due: Running Pytest, Installation

fix: handle case where status is None in behavior/disorder pipes
  edsnlp/pipes/ner/disorders/base.py
Due: none

fix: treat span as doc in Qualifier process method
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
Due: none

fix: small bug in alcohol and tobacco pipes
  edsnlp/pipes/ner/behaviors/alcohol/alcohol.py
  edsnlp/pipes/ner/behaviors/alcohol/patterns.py
  tests/pipelines/ner/disorders/alcohol.py
  tests/pipelines/ner/disorders/test_all.py
  tests/pipelines/ner/disorders/tobacco.py
Due: none

docs: add details for disorders and behavior pipes
  docs/pipes/ner/behaviors/alcohol.md
  docs/pipes/ner/behaviors/index.md
  docs/pipes/ner/disorders/index.md
  docs/pipes/ner/disorders/presentation.md
  docs/pipes/ner/disorders/warning.md
Due: none

chore: update changelog
  changelog.md
Due: none

fix: update pattern for intraword linebreak
  edsnlp/language.py
  edsnlp/pipes/core/normalizer/pollution/patterns.py
Due: Running Pytest, Installation

refacto: rename scorers -> metrics
  changelog.md
  edsnlp/__init__.py
  edsnlp/core/registries.py
  edsnlp/metrics/__init__.py
  edsnlp/metrics/ner.py
  edsnlp/metrics/span_attributes.py
  edsnlp/train.py
  pyproject.toml
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
Due: Running Pytest, Installation

feat: added support for setuptools project in edsnlp.package
  changelog.md
  edsnlp/package.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

refacto: rename lazy collections as streams
  changelog.md
  docs/concepts/inference.md
  docs/tutorials/multiple-texts.md
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
  edsnlp/core/stream.py
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  tests/data/test_stream.py
Due: Running Pytest, Installation

fix: sort files when reading standoff/json folders
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

fix: force utf-8 to avoid encoding mismatch in data reading
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

feat: support shuffle op on streams (not just in reader)
  .pre-commit-config.yaml
  edsnlp/core/stream.py
  edsnlp/data/base.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  edsnlp/utils/stream_sentinels.py
  tests/data/test_json.py
  tests/data/test_pandas.py
  tests/data/test_parquet.py
  tests/data/test_stream.py
  tests/processing/test_backends.py
  tests/utils/test_batching.py
Due: none

feat: added Pipeline init and load to the new @pipelines registry
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  pyproject.toml
Due: none

refacto: new data api to support shuffling, loop and multi batch sizes
  .pre-commit-config.yaml
  changelog.md
  docs/concepts/inference.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  pyproject.toml
  tests/data/test_converters.py
  tests/data/test_json.py
  tests/data/test_lazy_collection.py
  tests/data/test_pandas.py
  tests/data/test_parquet.py
  tests/data/test_polars.py
  tests/data/test_spark.py
  tests/data/test_standoff.py
  tests/processing/test_backends.py
  tests/resources/brat_data/subfolder/doc-2.txt
  tests/resources/brat_data/subfolder/doc-3.txt
  tests/resources/docs.jsonl
  tests/resources/docs.parquet
  tests/resources/docs.pq
  tests/test_pipeline.py
Due: Running Pytest

chore: rework pipeline-less component instantiation
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/data/converters.py
  tests/test_pipeline.py
Due: Running Pytest

feat: added basic repr to Pipeline
  changelog.md
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
Due: Running Pytest

refacto: new edsnlp.train API
  changelog.md
  docs/assets/templates/python/material/docstring/parameters.html
  docs/pipes/misc/index.md
  docs/pipes/misc/split.md
  docs/tutorials/training.md
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/data/base.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/misc/split/__init__.py
  edsnlp/pipes/misc/split/split.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/train.py
  edsnlp/training/__init__.py
  edsnlp/training/optimization.py
  edsnlp/training/trainer.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  edsnlp/utils/typing.py
  mkdocs.yml
  pyproject.toml
  tests/test_pipeline.py
  tests/training/dataset.jsonl
  tests/training/ner_qlf_config.cfg
  tests/training/ner_qlf_config.yml
  tests/training/qlf_config.cfg
  tests/training/qlf_config.yml
  tests/training/test_train.py
Due: Running Pytest, Installation, Build documentation

feat: improve sentence detection and train sample splitting
  changelog.md
  edsnlp/pipes/core/sentences/factory.py
  edsnlp/pipes/core/sentences/fast_sentences.pxd
  edsnlp/pipes/core/sentences/fast_sentences.pyx
  edsnlp/pipes/core/sentences/sentences.py
  edsnlp/train.py
  tests/pipelines/core/test_sentences.py
Due: Running Pytest, Installation

docs: added a new model training tutorial
  docs/assets/overrides/main.html
  docs/tutorials/make-a-training-script.md
  docs/tutorials/training.md
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  mkdocs.yml
Due: Build documentation

fix: allow (w/o caching) *args and **kw in cached collate and forward
  edsnlp/core/torch_component.py
Due: none

feat: new edsnlp.evaluate script
  changelog.md
  edsnlp/evaluate.py
Due: Running Pytest, Installation

fix: avoid pickling modules and complex objects
  edsnlp/processing/multiprocessing.py
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
