Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: add a new TerminologyMatcher
  edsnlp/pipelines/core/terminology/__init__.py
  edsnlp/pipelines/core/terminology/factory.py
  edsnlp/pipelines/core/terminology/terminology.py
Due: none

feat: add factory
  edsnlp/pipelines/factories.py
  setup.py
Due: Installation

test: test terminology component
  tests/pipelines/core/test_terminology.py
Due: none

docs: add terminology entry
  docs/pipelines/core/terminology.md
  mkdocs.yml
Due: Build documentation

chore: mention terminology in changelog
  changelog.md
  docs/pipelines/core/terminology.md
Due: none

feat: add cim10
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/ner/cim10/__init__.py
  edsnlp/pipelines/ner/cim10/factory.py
  edsnlp/pipelines/ner/cim10/patterns.py
  edsnlp/resources/cim10.csv.gz
  scripts/cim10.py
  setup.py
Due: Installation

test: test cim10
  tests/pipelines/ner/test_cim10.py
Due: none

feat: add code patterns to CIM10
  edsnlp/pipelines/ner/cim10/patterns.py
  tests/pipelines/ner/test_cim10.py
Due: none

docs: add cim10 pipeline
  docs/index.md
  docs/pipelines/index.md
  docs/pipelines/ner/cim10.md
Due: Build documentation

chore: mention eds.cim10 in the changelog
  changelog.md
Due: none

feat: add a trainable qualifier
  edsnlp/pipelines/core/qualifier.py
Due: none

fix: issue in set_annotations for qualifiers
  edsnlp/pipelines/core/qualifier.py
Due: none

fix: score qualifiers
  edsnlp/pipelines/core/qualifier.py
Due: none

Update edsnlp/pipelines/ner/drugs/factory.py
  edsnlp/pipelines/ner/drugs/factory.py
Due: none

Update tests/pipelines/ner/test_drugs.py
  tests/pipelines/ner/test_drugs.py
Due: none

Update docs/pipelines/ner/drugs.md
  docs/pipelines/ner/drugs.md
Due: none

feat: add cim10 and drugs to the demo
  demo/app.py
Due: none

docs: update drugs documentation
  docs/pipelines/ner/drugs.md
Due: none

chore: add drugs pipeline to the changelog
  changelog.md
Due: none

fix: changelog
  changelog.md
Due: none

fix: resources
  setup.py
Due: Installation

fix: defer drugs pattern loading to init time
  edsnlp/pipelines/ner/drugs/factory.py
  edsnlp/pipelines/ner/drugs/patterns.py
Due: none
