Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

tests: change nlp fixtures for large refacto
  tests/conftest.py
Due: Running Pytest

tests: add end to end training test
  edsnlp/optimization.py
  tests/training/config.cfg
  tests/training/dataset/sample-1.ann
  tests/training/dataset/sample-1.txt
  tests/training/dataset/sample-2.ann
  tests/training/dataset/sample-2.txt
  tests/training/test_train.py
Due: Running Pytest, Installation

chore: add confit to dependencies
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/layers/text_cnn.py
  edsnlp/pipelines/trainable/ner/ner.py
  pyproject.toml
Due: none

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  docs/pipelines/trainable/ner.md
  edsnlp/core/component.py
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

fix: update trainable ner with span_setter
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/ner.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

fix: allow crf to decode illegal tag sequences
  edsnlp/pipelines/trainable/layers/crf.py
Due: none

tests: improve coverage
  edsnlp/core/registry.py
  edsnlp/optimization.py
  edsnlp/utils/collections.py
Due: Running Pytest, Installation

fix: better support for spacy registered pipes
  edsnlp/core/registry.py
Due: none

feat: add load function
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
Due: Running Pytest, Installation

fix: add missing pipeline methods and tests in parallelize
  edsnlp/core/pipeline.py
  tests/pipelines/trainable/test_span_classifier.py
  tests/processing/test_processing.py
Due: none

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  tests/pipelines/core/test_sentences.py
Due: none

test: move doc testing utils to tests/
  edsnlp/__init__.py
Due: Running Pytest, Installation

feat: update confit (deprecation param)
  pyproject.toml
Due: none

feat: add windowing options to ner crf
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/utils/torch.py
  tests/pipelines/trainable/test_ner.py
Due: none

tests: improve coverage
  edsnlp/patch_spacy.py
  edsnlp/utils/colors.py
  edsnlp/utils/regex.py
  pyproject.toml
Due: Running Pytest, Installation

docs: document core refacto concepts
  docs/concepts/inference.md
  docs/concepts/pipeline.md
  docs/concepts/torch-component.md
  mkdocs.yml
Due: Build documentation

fix: update pipeline system
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
Due: none

docs: autolink component occurences to reference
  docs/index.md
  docs/pipelines/architecture.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/overview.md
  docs/pipelines/misc/overview.md
  docs/pipelines/ner/overview.md
  docs/pipelines/ner/scores/overview.md
  docs/pipelines/overview.md
  docs/pipelines/qualifiers/overview.md
  docs/scripts/plugin.py
  docs/tutorials/detecting-dates.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/qualifying-entities.md
  edsnlp/pipelines/qualifiers/history/history.py
Due: Build documentation

feat: make deprecation warnings visible
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/utils/deprecation.py
Due: none

chore: improve coverage and clean entry points
  pyproject.toml
Due: none

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  pyproject.toml
  tests/test_scorers.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: Running Pytest

docs: don't wrap inline code blocks in tables
  docs/assets/stylesheets/extra.css
Due: none

feat: add simple and multiprocessing (cpu & gpu) accelerators
  edsnlp/accelerators/__init__.py
  edsnlp/accelerators/base.py
  edsnlp/accelerators/multiprocessing.py
  edsnlp/accelerators/simple.py
  pyproject.toml
Due: none

fix: training span qualifiers and multi task models
  docs/pipelines/trainable/embeddings/text_cnn.md
  docs/pipelines/trainable/overview.md
  docs/pipelines/trainable/span-qualifier.md
  edsnlp/accelerators/multiprocessing.py
  edsnlp/connectors/brat.py
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/base.py
  edsnlp/pipelines/ner/disorders/helpers.py
  edsnlp/pipelines/qualifiers/base.py
  edsnlp/pipelines/qualifiers/factories.py
  edsnlp/pipelines/qualifiers/negation/patterns.py
  edsnlp/pipelines/trainable/embeddings/span_pooler/__init__.py
  edsnlp/pipelines/trainable/embeddings/span_pooler/factory.py
  edsnlp/pipelines/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/embeddings/typing.py
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/pipelines/trainable/span_qualifier/span_multi_classifier.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/scorers/span_classification.py
  edsnlp/utils/bindings.py
  edsnlp/utils/torch.py
  pyproject.toml
  tests/pipelines/trainable/test_span_qualifier.py
  tests/pipelines/trainable/test_transformer.py
  tests/test_pipeline.py
  tests/training/dataset/sample-1.ann
  tests/training/dataset/sample-1.txt
  tests/training/dataset/sample-2.ann
  tests/training/dataset/sample-2.txt
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/training/test_train.py
  tests/training/test_training.py
Due: Running Pytest

fix: training span qualifiers and multi task models
  edsnlp/connectors/brat.py
  edsnlp/core/torch_component.py
  edsnlp/optimization.py
  edsnlp/pipelines/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/scorers/span_classification.py
  edsnlp/utils/bindings.py
  edsnlp/utils/filter.py
  tests/conftest.py
  tests/pipelines/core/test_matcher.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/pipelines/trainable/test_transformer.py
  tests/test_pipeline.py
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/training/test_training.py
Due: Running Pytest, Installation

docs: add training tutorial, update docs & run pre-commit
  README.md
  docs/advanced-tutorials/fastapi.md
  docs/concepts/torch-component.md
  docs/index.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/normalizer.md
  docs/pipelines/ner/behaviors/overview.md
  docs/pipelines/overview.md
  docs/pipelines/trainable/embeddings/span_pooler.md
  docs/pipelines/trainable/overview.md
  docs/scripts/griffe_ext.py
  docs/tokenizers.md
  docs/tutorials/detecting-dates.md
  docs/tutorials/endlines.md
  docs/tutorials/matching-a-terminology.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/overview.md
  docs/tutorials/qualifying-entities.md
  docs/tutorials/quick-examples.md
  docs/tutorials/reason.md
  docs/tutorials/spacy101.md
  docs/tutorials/training-ner.md
  docs/utilities/connectors/brat.md
  docs/utilities/matchers.md
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/core/contextual_matcher/models.py
  edsnlp/pipelines/core/normalizer/remove_lowercase/factory.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/wrapper.py
  edsnlp/utils/collections.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/test_docs.py
  tests/test_pipeline.py
Due: Running Pytest, Build documentation

chore: update project metadata
  .github/workflows/documentation.yml
  CITATION.cff
  README.md
  changelog.md
  docs/index.md
  pyproject.toml
Due: Build documentation

docs: add custom tutorial cards
  docs/assets/stylesheets/cards.css
  docs/assets/stylesheets/extra.css
  docs/scripts/cards.py
  docs/tutorials/overview.md
  docs/tutorials/training-ner.md
  mkdocs.yml
Due: Build documentation

docs: update style, prepare i18n, add mkdocstring better integration
  docs/assets/stylesheets/extra.css
Due: none

fix: drop bratconnector statefulness to avoid missing ents in 2nd, 3rd, ... ann files
  edsnlp/connectors/brat.py
Due: none

chore: bump version to 0.10.0alpha1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: github actions
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

Deployed 238dff9c0 to v0.10.0beta1 with MkDocs 1.5.2 and mike 1.1.2
  latest/assets/images/model-parallelism.png
  latest/assets/images/model-parallelism.svg
  latest/sitemap.xml.gz
  v0.10.0beta1/assets/images/model-parallelism.png
  v0.10.0beta1/assets/images/model-parallelism.svg
  v0.10.0beta1/sitemap.xml.gz
Due: none
