Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

remove a test
  tests/pipelines/misc/test_dates.py
Due: none

perf: use str.translate to replace chars in normalizer
  changelog.md
  edsnlp/pipelines/core/normalizer/accents/accents.py
  edsnlp/pipelines/core/normalizer/quotes/quotes.py
  edsnlp/pipelines/core/normalizer/utils.py
Due: none

test: remove useless test
  tests/pipelines/core/test_normalisation.py
Due: none

feat: adding a `ContextAdded` pipe
  edsnlp/pipelines/core/context/__init__.py
  edsnlp/pipelines/core/context/context.py
  edsnlp/pipelines/factories.py
  setup.py
Due: Installation

feat: missing files for ConceptAdder pipe
  edsnlp/pipelines/core/context/context.py
  edsnlp/pipelines/core/context/factory.py
  edsnlp/pipelines/factories.py
Due: none

feat: handling context in processing DataFrames
  docs/tutorials/multiple-texts.md
  edsnlp/processing/distributed.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
  tests/processing/test_processing.py
Due: none

feat: check spacy version when using context
  changelog.md
  edsnlp/processing/distributed.py
  edsnlp/processing/helpers.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
  tests/processing/test_processing.py
Due: none

perf: cache get_first_included to speed up regex matching
  changelog.md
  edsnlp/matchers/regex.py
Due: none

Context (#28)
  changelog.md
  docs/tutorials/multiple-texts.md
  edsnlp/pipelines/core/context/__init__.py
  edsnlp/pipelines/core/context/context.py
  edsnlp/pipelines/core/context/factory.py
  edsnlp/pipelines/factories.py
  edsnlp/processing/distributed.py
  edsnlp/processing/helpers.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
  setup.py
  tests/processing/test_processing.py
Due: Installation

fix: cap Jinja2 version to fix mkdocs
  changelog.md
  requirements-docs.txt
Due: none

Removed a modified file from pull request
  notebooks/dates/prototype.md
Due: none

use new way of normalizing
  edsnlp/pipelines/misc/dates/parsing.py
Due: none

add non-capturing groups
  edsnlp/utils/regex.py
Due: none

add ent_filter_process handling in AdvancedRegex
  edsnlp/pipelines/core/advanced/advanced.py
  edsnlp/pipelines/core/advanced/factory.py
  edsnlp/pipelines/ner/scores/base_score.py
  tests/conftest.py
  tests/pipelines/core/test_advanced_regex.py
Due: Running Pytest

docs: update termynal support
  contributing.md
  docs/advanced-tutorials/fastapi.md
  docs/advanced-tutorials/word-vectors.md
  docs/assets/termynal/termynal.css
  docs/assets/termynal/termynal.js
  docs/index.md
  mkdocs.yml
Due: Build documentation

chore: remove Gitlab CI and dockerfile
  .dockerignore
  .gitlab-ci.yml
  Dockerfile.ci
Due: Running Pytest, Build documentation

docs: add color to termynals
  contributing.md
  docs/advanced-tutorials/fastapi.md
  docs/advanced-tutorials/word-vectors.md
  docs/index.md
Due: Build documentation

docs: remove excess blank line in termynal JS
  docs/assets/termynal/termynal.js
Due: none

docs: add docstring in context
  edsnlp/pipelines/core/context/context.py
Due: none

docs: remove termynal requirement
  requirements-docs.txt
Due: none

feat: add the ability to filter tuples of Span
  edsnlp/utils/filter.py
Due: none

feat: new measure pipeline
  changelog.md
  demo/app.py
  docs/pipelines/misc/measures.md
  edsnlp/matchers/regex.py
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/misc/measures/__init__.py
  edsnlp/pipelines/misc/measures/factory.py
  edsnlp/pipelines/misc/measures/measures.py
  edsnlp/pipelines/misc/measures/patterns.py
  edsnlp/utils/filter.py
  mkdocs.yml
  setup.py
  tests/conftest.py
  tests/pipelines/misc/test_measure.py
Due: Running Pytest, Installation, Build documentation
