Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

fix: support no converter in edsnlp.data readers
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
Due: none

feat: added average precision computation in span_classification scorer
  changelog.md
  edsnlp/scorers/__init__.py
  edsnlp/scorers/span_classification.py
Due: none

feat: new eds.span_linker component
  changelog.md
  docs/assets/images/class_span_linker.png
  docs/assets/images/synonym_span_linker.png
  docs/pipes/trainable/span-linker.md
  docs/references.bib
  edsnlp/pipes/__init__.py
  edsnlp/pipes/trainable/layers/metric.py
  edsnlp/pipes/trainable/span_linker/__init__.py
  edsnlp/pipes/trainable/span_linker/factory.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  pyproject.toml
  tests/pipelines/trainable/test_span_linker.py
Due: Build documentation

chore: bump version to 0.11.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: estimate num cpus and don't tee post_init data anymore
  changelog.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/processing/multiprocessing.py
  tests/data/test_lazy_collection.py
Due: none

fix: rework span_linker doc and fix concept mode
  changelog.md
  docs/pipes/trainable/index.md
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  tests/pipelines/trainable/test_span_linker.py
Due: none

feat: new optim.initialize() method
  changelog.md
  edsnlp/optimization.py
  tests/training/test_train.py
Due: Running Pytest, Installation

chore: bump version to 0.11.1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

docs: cap griffe and fix intra doc links
  docs/concepts/pipeline.md
  edsnlp/core/torch_component.py
  pyproject.toml
Due: none

fix: normalize path
  changelog.md
  edsnlp/utils/file_system.py
  tests/data/test_parquet.py
Due: none

fix: normalize path (#283)
  changelog.md
  edsnlp/utils/file_system.py
  tests/data/test_parquet.py
Due: none

perf: faster fs data loading
  edsnlp/data/json.py
  edsnlp/data/parquet.py
  edsnlp/data/standoff.py
  edsnlp/utils/file_system.py
Due: none

chore: bump version to 0.11.2
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: decrease dummy train test performance treshold
  tests/training/test_train.py
Due: none
