Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

fix: don't fail on internal wrong status assignment in eds disorders
  changelog.md
  edsnlp/pipes/ner/disorders/base.py
Due: none

fix: inline an exclusion pattern in eds.peripheral_vascular_disease pattern
  changelog.md
  edsnlp/pipes/ner/disorders/peripheral_vascular_disease/patterns.py
  tests/pipelines/ner/disorders/test_all.py
Due: none

Update main coverage
  coverage.txt
Due: none

feat: add operators, valueless quantities and better table parsing in eds.quantities
  changelog.md
  edsnlp/pipes/misc/quantities/factory.py
  edsnlp/pipes/misc/quantities/patterns.py
  edsnlp/pipes/misc/quantities/quantities.py
  tests/pipelines/misc/test_quantities.py
Due: none

feat: add operators, valueless quantities and better table parsing in eds.quantities
  edsnlp/pipes/misc/quantities/quantities.py
  tests/pipelines/misc/test_quantities.py
Due: none

ci: workflows and scripts to automate releases
  .github/workflows/release-from-pr.yml
  .github/workflows/test-build.yml
  edsnlp/_version.py
  scripts/prepare_release.py
Due: Running Pytest, Installation

ci: fix docs build for release PR
  .github/workflows/delete-preview-docs.yml
  .github/workflows/tests.yml
Due: none

Update main coverage
  coverage.svg
  coverage.txt
Due: none

fix: support unpickling quantities
  changelog.md
  edsnlp/pipes/misc/quantities/quantities.py
  tests/pipelines/misc/test_quantities.py
Due: none

perf: don't try to torch compile crf reduce functions, massive perf improvement
  changelog.md
  edsnlp/pipes/trainable/layers/crf.py
Due: none

ci: organize the test suite and only run parts of it in the CI
  .github/workflows/test-build.yml
  .github/workflows/tests.yml
  .github/workflows/trusted-pr-controller.yml
  docs/tutorials/training-ner.md
  pyproject.toml
  tests/data/test_spark.py
  tests/data/test_stream.py
  tests/pipelines/ner/test_umls.py
  tests/pipelines/trainable/test_extractive_qa.py
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_span_linker.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/pipelines/trainable/test_transformer.py
  tests/processing/test_backends.py
  tests/processing/test_processing.py
  tests/test_docs.py
  tests/test_pipeline.py
  tests/training/test_optimizer.py
  tests/training/test_train.py
  tests/utils/test_package.py
  tests/utils/test_spark_dtypes.py
Due: Running Pytest

chore: use base version + git hash as the git/local installed project version
  edsnlp/__init__.py
  edsnlp/_version.py
  pyproject.toml
Due: Running Pytest, Installation

ci: reorganize and parallelize tests
  .github/workflows/tests.yml
  pyproject.toml
  tests/data/test_spark.py
  tests/data/test_stream.py
  tests/processing/test_backends.py
  tests/processing/test_processing.py
  tests/tuning/test_dvc.py
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
  tests/tuning/test_update_config.py
  tests/utils/test_spark_dtypes.py
Due: none

feat: new pruner option in edsnlp.tune
  .github/workflows/tests.yml
  changelog.md
  docs/tutorials/tuning.md
  edsnlp/tune.py
  tests/conftest.py
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

feat: new pruner option in edsnlp.tune (#458)
  .github/workflows/tests.yml
  changelog.md
  docs/tutorials/tuning.md
  edsnlp/tune.py
  tests/conftest.py
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

docs: fix changelog formatting
  changelog.md
Due: none
