Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

fix: remove pollution exclusion during numbers matching
  changelog.md
  edsnlp/pipes/misc/measurements/measurements.py
  tests/pipelines/misc/test_measurements.py
Due: none

fix: ensure saved models tensors are contiguous
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

Update main coverage
  coverage.txt
Due: none

rename eds.measurements pipe to eds.quantities
  changelog.md
  demo/app.py
  docs/pipes/misc/index.md
  docs/pipes/misc/measurements.md
  docs/pipes/misc/quantities.md
  docs/pipes/ner/index.md
  edsnlp/pipes/__init__.py
  edsnlp/pipes/misc/measurements/__init__.py
  edsnlp/pipes/misc/quantities/__init__.py
  edsnlp/pipes/misc/quantities/factory.py
  edsnlp/pipes/misc/quantities/patterns.py
  edsnlp/pipes/misc/quantities/quantities.py
  mkdocs.yml
  pyproject.toml
  tests/helpers.py
  tests/pipelines/misc/test_quantities.py
Due: Running Pytest, Build documentation

adding possibility to select cim10 and atc in eds.cim10 and eds.drugs
  edsnlp/pipes/ner/cim10/factory.py
  edsnlp/pipes/ner/cim10/patterns.py
  edsnlp/pipes/ner/drugs/factory.py
  edsnlp/pipes/ner/drugs/patterns.py
Due: none

Update patterns.py
  edsnlp/pipes/ner/drugs/patterns.py
Due: none

fix omop converter
  edsnlp/data/converters.py
Due: none

Force encoding to utf-8
  edsnlp/data/standoff.py
Due: none

Update change log
  changelog.md
Due: none

adding min_rows argument to eds.tables
  changelog.md
  edsnlp/pipes/misc/tables/patterns.py
  edsnlp/pipes/misc/tables/tables.py
  tests/pipelines/misc/test_tables.py
Due: none

ci: add include-hidden-files param to upload coverage files
  .github/workflows/tests.yml
Due: none

feat: new eds.relation_detector_ffn trainable component
  changelog.md
  docs/pipes/trainable/relation-detector-ffn.md
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
  edsnlp/extensions.py
  edsnlp/metrics/relations.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/base.py
  edsnlp/pipes/trainable/relation_detector_ffn/__init__.py
  edsnlp/pipes/trainable/relation_detector_ffn/factory.py
  edsnlp/pipes/trainable/relation_detector_ffn/relation_detector_ffn.py
  edsnlp/training/trainer.py
  edsnlp/utils/span_getters.py
  pyproject.toml
  tests/data/test_converters.py
  tests/training/dataset_2/sample-1.ann
  tests/training/dataset_2/sample-1.txt
  tests/training/dataset_2/sample-2.ann
  tests/training/dataset_2/sample-2.txt
  tests/training/rel_config.cfg
  tests/training/rel_config.yml
  tests/training/test_train.py
Due: Running Pytest, Installation

feat: new eds.relation_detector_ffn trainable component
  changelog.md
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
  edsnlp/extensions.py
  edsnlp/metrics/relations.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/base.py
  edsnlp/pipes/trainable/relation_detector_ffn/__init__.py
  edsnlp/pipes/trainable/relation_detector_ffn/factory.py
  edsnlp/pipes/trainable/relation_detector_ffn/relation_detector_ffn.py
  edsnlp/training/trainer.py
  pyproject.toml
  tests/data/test_converters.py
  tests/training/rel_config.cfg
  tests/training/test_train.py
Due: Running Pytest, Installation

feat: added support for setuptools project in edsnlp.package
  changelog.md
  edsnlp/package.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

chore: rework pipelines-less component instantiation
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/data/converters.py
  tests/test_pipeline.py
Due: Running Pytest

docs: added a new model training tutorial
  docs/assets/overrides/main.html
  docs/tutorials/make-a-training-script.md
  docs/tutorials/training.md
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  mkdocs.yml
Due: Build documentation

fix: set default chunk size for batches of unit != docs
  changelog.md
  edsnlp/core/lazy_collection.py
Due: none

fix: force utf-8 to avoid encoding mismatch in data reading
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

feat: new eds.relation_detector_ffn trainable component
  changelog.md
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
  edsnlp/extensions.py
  edsnlp/metrics/relations.py
  edsnlp/pipes/base.py
  edsnlp/pipes/trainable/relation_detector_ffn/__init__.py
  edsnlp/pipes/trainable/relation_detector_ffn/factory.py
  edsnlp/pipes/trainable/relation_detector_ffn/relation_detector_ffn.py
  edsnlp/train.py
  pyproject.toml
  tests/data/test_converters.py
  tests/training/rel_config.cfg
  tests/training/test_train.py
Due: Running Pytest, Installation

refacto: rename scorers -> metrics
  changelog.md
  edsnlp/__init__.py
  edsnlp/core/registries.py
  edsnlp/metrics/__init__.py
  edsnlp/metrics/ner.py
  edsnlp/metrics/span_attributes.py
  edsnlp/train.py
  pyproject.toml
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/training/test_train.py
Due: Running Pytest, Installation

feat: improve sentence detection and train sample splitting
  changelog.md
  edsnlp/pipes/core/sentences/factory.py
  edsnlp/pipes/core/sentences/fast_sentences.pxd
  edsnlp/pipes/core/sentences/fast_sentences.pyx
  edsnlp/pipes/core/sentences/sentences.py
  edsnlp/train.py
  tests/pipelines/core/test_sentences.py
Due: Running Pytest, Installation

fix: sort files when reading standoff/json folders
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

feat: new edsnlp.evaluate script
  changelog.md
  edsnlp/evaluate.py
Due: Running Pytest, Installation

fix: allow (w/o caching) *args and **kw in cached collate and forward
  edsnlp/core/torch_component.py
Due: none
