Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: support assigning brat AnnotatorNotes as span attributes
  changelog.md
  edsnlp/data/converters.py
  edsnlp/data/standoff.py
  tests/data/test_standoff.py
  tests/resources/brat_data/subfolder/doc-1.ann
Due: none

feat: add map_batches method to lazy collections
  changelog.md
  docs/concepts/inference.md
  edsnlp/core/lazy_collection.py
  tests/data/test_lazy_collection.py
Due: none

feat: add nlp.pipes namespace to access pipes and use lazy eval in nlp.preprocess_many
  changelog.md
  docs/tutorials/make-a-training-script.md
  edsnlp/core/pipeline.py
  edsnlp/utils/collections.py
  tests/test_pipeline.py
Due: Running Pytest

test: don't test changelog code blocks
  tests/extract_docs_code.py
Due: Running Pytest

fix: flatten 'ents' and other doc->list converters output
  changelog.md
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  tests/data/test_converters.py
  tests/data/test_lazy_collection.py
  tests/data/test_parquet.py
Due: none

feat: support builtin attributes in span_attributes converter param
  changelog.md
  edsnlp/data/converters.py
  tests/data/test_converters.py
Due: none

refacto: simplify eds.span_qualifier
  changelog.md
  edsnlp/pipes/trainable/span_qualifier/span_qualifier.py
  edsnlp/utils/bindings.py
  edsnlp/utils/span_getters.py
  tests/conftest.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
Due: Running Pytest

fix: allow aligning trf embedded spans with pooler spans when more than 1 span
  changelog.md
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/utils/filter.py
Due: none

fix: don't raise error in to_disk if existing but empty destination
  changelog.md
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
Due: Running Pytest

fix: don't remove hf transformer pooling layer by default
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  tests/test_pipeline.py
Due: Running Pytest

docs: warn about multiprocessing output order
  docs/tutorials/multiple-texts.md
  edsnlp/processing/multiprocessing.py
Due: none

chore: improve typing
  edsnlp/core/pipeline.py
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipes/trainable/layers/text_cnn.py
Due: none

feat: new data.map_gpu method
  changelog.md
  docs/concepts/inference.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/torch_component.py
  edsnlp/data/base.py
  edsnlp/processing/multiprocessing.py
  tests/data/test_lazy_collection.py
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_transformer.py
Due: none

fix: improve trf auto-batch size detection
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

feat: new eds.span_linker component
  changelog.md
  docs/assets/images/class_span_linker.png
  docs/assets/images/synonym_span_linker.png
  docs/pipes/trainable/span-linker.md
  docs/references.bib
  edsnlp/pipes/__init__.py
  edsnlp/pipes/trainable/layers/metric.py
  edsnlp/pipes/trainable/span_linker/__init__.py
  edsnlp/pipes/trainable/span_linker/factory.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  pyproject.toml
  tests/pipelines/trainable/test_span_linker.py
Due: Build documentation

fix: support no converter in edsnlp.data readers
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/polars.py
  edsnlp/data/spark.py
Due: none

feat: added average precision computation in span_classification scorer
  changelog.md
  edsnlp/scorers/__init__.py
  edsnlp/scorers/span_classification.py
Due: none

fix: fix & optimize batching (massive speedup for large batch sizes)
  changelog.md
  edsnlp/core/lazy_collection.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/utils/batching.py
  edsnlp/utils/collections.py
  tests/data/test_lazy_collection.py
Due: none

docs: improve data processing documentation
  edsnlp/data/converters.py
Due: none

feat: new data.map_gpu method
  changelog.md
  docs/concepts/inference.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/torch_component.py
  edsnlp/data/base.py
  edsnlp/processing/multiprocessing.py
  edsnlp/utils/package.py
  pyproject.toml
  tests/data/test_lazy_collection.py
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_transformer.py
Due: none
