Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

chore: add copilot instructions
  .github/copilot-instructions.md
Due: none

Update main coverage
  coverage.txt
Due: none

fix: add a new tnm regex pattern by default.
  edsnlp/pipes/ner/tnm/patterns.py
  edsnlp/pipes/ner/tnm/patterns_new.py
  edsnlp/pipes/ner/tnm/tnm.py
Due: none

change model.py to be compatible with old and new regex
  edsnlp/pipes/ner/tnm/model.py
  edsnlp/pipes/ner/tnm/patterns.py
  tests/pipelines/ner/test_tnm.py
Due: none

adicap: handle missing code after 'codification'/'adicap' keywords
  changelog.md
  edsnlp/pipes/ner/adicap/adicap.py
  tests/pipelines/ner/test_adicap.py
Due: none

Fix time.py
  edsnlp/pipes/misc/dates/patterns/atomic/time.py
Due: none

Fix patterns.py
  edsnlp/pipes/misc/quantities/patterns.py
Due: none

chore: bump version to 0.17.1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
  pyproject.toml
Due: Running Pytest, Installation, Build documentation

Fix issue 372: resulting tuning config file now preserve comments (#373)
  docs/tutorials/tuning.md
  edsnlp/tune.py
  pyproject.toml
  tests/tuning/config.cfg
  tests/tuning/config.yml
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

fix: improve various aspect of stream shuffling
  changelog.md
  edsnlp/core/stream.py
  edsnlp/data/parquet.py
Due: none

Feat: add checkpoint management for tuning (#385)
  docs/tutorials/tuning.md
  edsnlp/tune.py
  tests/tuning/test_checkpoints/single_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/single_phase_n_trials/study_.pkl
  tests/tuning/test_checkpoints/two_phase_gpu_hour/config.yml
  tests/tuning/test_checkpoints/two_phase_gpu_hour/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/two_phase_n_trials/config.yml
  tests/tuning/test_checkpoints/two_phase_n_trials/results_summary.txt
  tests/tuning/test_checkpoints/two_phase_n_trials/study_.pkl
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

feat: compute eds.ner_crf loss as mean over words
  changelog.md
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/utils/batching.py
Due: none

fix two-phase tuning not writting best values of phase 1 frozen hyperparameters in phase_2 results_summary.txt. (#371)
  edsnlp/tune.py
Due: Running Pytest, Installation

feat: allow importing optims using qualified names in ScheduledOptimizer
  changelog.md
  edsnlp/training/optimizer.py
  tests/training/ner_qlf_diff_bert_config.yml
Due: none

fix: allow deep attributes in Standoff and OMOP doc2dict converters
  changelog.md
  edsnlp/data/converters.py
  edsnlp/utils/bindings.py
Due: none

Fix issue 368: Add `metric` parameter and write optimal `config.yml` at the end of tuning. (#369)
  changelog.md
  docs/tutorials/tuning.md
  edsnlp/tune.py
  pyproject.toml
  tests/tuning/test_end_to_end.py
  tests/tuning/test_tuning.py
Due: Running Pytest, Installation

fix: eds.split now keeps doc and span attributes in the sub-documents
  changelog.md
  edsnlp/pipes/misc/split/split.py
  tests/pipelines/misc/test_split.py
Due: none

feat: add ner confidence score (#387)
  changelog.md
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  mkdocs.yml
  tests/pipelines/trainable/test_ner.py
Due: Build documentation

fix: cap some dependencies to avoid source installs and speed up installation
  pyproject.toml
Due: none

fix: support packaging pep621 poetry projects and fix standard packager
  changelog.md
  edsnlp/package.py
  pyproject.toml
  tests/utils/test_package.py
Due: Running Pytest, Installation

ci: only test docs in PR
  .github/workflows/tests.yml
Due: none

ci: publish docs preview for pull requests
  .github/workflows/tests.yml
  .gitignore
  changelog.md
  edsnlp/package.py
Due: Running Pytest, Installation

fix: prevent include/exclude patterns from matching strictly inside the anchor
  changelog.md
  edsnlp/pipes/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipes/core/contextual_matcher/models.py
  tests/pipelines/core/test_contextual_matcher.py
Due: none

feat: add context_getter argument to eds.matcher
  changelog.md
  edsnlp/pipes/core/matcher/matcher.py
Due: none

ci: delete preview docs of the PR branch
  .github/workflows/delete-preview-docs.yml
Due: none

fix: add missing type hints and suppress pydantic warnings
  edsnlp/core/pipeline.py
  edsnlp/data/converters.py
  edsnlp/package.py
  edsnlp/pipes/misc/dates/models.py
  edsnlp/pipes/ner/scores/charlson/factory.py
  edsnlp/tune.py
Due: Running Pytest, Installation

feat: add required and include args & support for span_getter in contextual_matcher and context window syntax
  changelog.md
  docs/assets/stylesheets/extra.css
  docs/pipes/core/contextual-matcher.md
  edsnlp/matchers/regex.py
  edsnlp/pipes/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipes/core/contextual_matcher/models.py
  edsnlp/pipes/ner/disorders/diabetes/diabetes.py
  edsnlp/utils/span_getters.py
  edsnlp/utils/typing.py
  pyproject.toml
  tests/pipelines/core/test_contextual_matcher.py
  tests/utils/test_span_getters.py
Due: none

fix: Update unit test checkpoint files to match the new InMemoryStorage structure in Optuna 4.3.0.
  changelog.md
  docs/tutorials/tuning.md
  pyproject.toml
  tests/tuning/test_checkpoints/single_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/single_phase_n_trials/study_.pkl
  tests/tuning/test_checkpoints/two_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/two_phase_n_trials/study_.pkl
  tests/tuning/test_end_to_end.py
Due: none

fix: handle list of patterns in eds.score's value_extract param
  changelog.md
  edsnlp/pipes/ner/scores/base_score.py
  tests/pipelines/ner/test_score.py
Due: none

chore: bump version to 0.16.0
  README.md
  changelog.md
  docs/index.md
  docs/tutorials/training.md
  docs/tutorials/tuning.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: try several paths to find current pip executable
  changelog.md
  edsnlp/core/pipeline.py
Due: none

fix: in tuning, seed hyperparameter sampler
  edsnlp/tune.py
Due: Running Pytest, Installation

fix: avoid non-standard (pytoml) syntax in pyproject.toml
  pyproject.toml
Due: none

chore: bump version to 0.17.0
  .github/workflows/tests.yml
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
