Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

docs: update style, prepare i18n, add mkdocstring better integration
  docs/assets/stylesheets/extra.css
Due: none

tests: improve coverage
  edsnlp/patch_spacy.py
  edsnlp/utils/colors.py
  edsnlp/utils/regex.py
  pyproject.toml
Due: Running Pytest, Installation

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  pyproject.toml
  tests/test_scorers.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: Running Pytest

tests: change nlp fixtures for large refacto
  tests/conftest.py
Due: Running Pytest

feat: add simple and multiprocessing (cpu & gpu) accelerators
  edsnlp/accelerators/__init__.py
  edsnlp/accelerators/base.py
  edsnlp/accelerators/multiprocessing.py
  edsnlp/accelerators/simple.py
  pyproject.toml
Due: none

feat: make deprecation warnings visible
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/utils/deprecation.py
Due: none

feat: standardize p/r/f metrics
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_classification.py
  tests/test_scorers.py
  tests/training/test_training.py
Due: Running Pytest

chore: update project metadata
  .github/workflows/documentation.yml
  CITATION.cff
  README.md
  changelog.md
  docs/index.md
  pyproject.toml
Due: Build documentation

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  docs/pipelines/trainable/ner.md
  edsnlp/core/component.py
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

test: move doc testing utils to tests/
  edsnlp/__init__.py
Due: Running Pytest, Installation

feat: update confit (deprecation param)
  pyproject.toml
Due: none

fix: switch SimpleQueues for Queues to avoid pipe buffer overflow induced locking
  edsnlp/processing/multiprocessing.py
Due: none

feat: override model config in to_disk methods (e.g. finetuned hf model path)
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  tests/test_pipeline.py
Due: Running Pytest

fix: support packaging in python 3.11
  edsnlp/utils/package.py
Due: none

fix: tests in test_package
  edsnlp/utils/package.py
  tests/utils/test_package.py
Due: none

refacto: unify simple/multiprocessing/spark execution backends via lazy_docs.set_processing(...)
  docs/concepts/inference.md
  docs/tutorials/multiple-texts.md
  edsnlp/accelerators/__init__.py
  edsnlp/accelerators/base.py
  edsnlp/accelerators/multiprocessing.py
  edsnlp/accelerators/simple.py
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
  edsnlp/pipelines/base.py
  edsnlp/processing/__init__.py
  edsnlp/processing/deprecated_pipe.py
  edsnlp/processing/distributed.py
  edsnlp/processing/helpers.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  edsnlp/processing/utils.py
  edsnlp/processing/wrapper.py
  edsnlp/utils/collections.py
  pyproject.toml
  tests/conftest.py
  tests/processing/test_backends.py
  tests/processing/test_processing.py
  tests/test_pipeline.py
Due: Running Pytest

fix: allow empty docs in eds.transformer pipe
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

chore: update changelog and bump version to 0.10.0beta2
  changelog.md
  edsnlp/__init__.py
Due: Running Pytest, Installation

fix: add default span sentence getter factory (for trainable qualifier)
  edsnlp/utils/span_getters.py
  pyproject.toml
Due: none

docs: use index.md instead of overview.md (we still redirect to Overview page when clicking section)
  docs/advanced-tutorials/index.md
  docs/index.md
  docs/pipelines/core/index.md
  docs/pipelines/index.md
  docs/pipelines/misc/index.md
  docs/pipelines/ner/behaviors/index.md
  docs/pipelines/ner/disorders/index.md
  docs/pipelines/ner/index.md
  docs/pipelines/ner/scores/index.md
  docs/pipelines/qualifiers/index.md
  docs/pipelines/trainable/index.md
  docs/scripts/plugin.py
  docs/tutorials/index.md
  docs/utilities/index.md
  docs/utilities/processing/index.md
  docs/utilities/processing/multi.md
  docs/utilities/processing/single.md
  docs/utilities/processing/spark.md
  mkdocs.yml
Due: Build documentation

test: improve coverage
  tests/processing/test_backends.py
  tests/test_pipeline.py
Due: Running Pytest

refacto: remove nlp & name attributes from pipes (increased pipe autonomy)
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/base.py
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/matcher/matcher.py
  edsnlp/pipelines/core/normalizer/accents/accents.py
  edsnlp/pipelines/core/normalizer/normalizer.py
  edsnlp/pipelines/core/normalizer/pollution/pollution.py
  edsnlp/pipelines/core/normalizer/quotes/quotes.py
  edsnlp/pipelines/core/normalizer/spaces/spaces.py
  edsnlp/pipelines/core/sentences/sentences.py
  edsnlp/pipelines/core/terminology/terminology.py
  edsnlp/pipelines/misc/measurements/measurements.py
  edsnlp/pipelines/misc/reason/reason.py
  edsnlp/pipelines/ner/disorders/base.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/train.py
  tests/test_pipeline.py
Due: Running Pytest, Installation

ci: enable pip cache
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

feat: prepare finalizing writers (ie with batch accumulation to files) + smoother multiprocessing stopping
  docs/data/json.md
  docs/data/pandas.md
  docs/data/parquet.md
  docs/data/spark.md
  docs/data/standoff.md
  edsnlp/data/base.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
Due: none

feat: add edsnlp.data support for parquet files with parallel reading / writing
  docs/data/parquet.md
  edsnlp/data/__init__.py
  edsnlp/data/parquet.py
  edsnlp/utils/collections.py
  mkdocs.yml
  pyproject.toml
  tests/conftest.py
  tests/data/test_parquet.py
  tests/processing/test_backends.py
  tests/resources/docs.pq
Due: Running Pytest, Build documentation

fix: better support for model pickling (for legacy spacy multiprocessing)
  edsnlp/pipelines/qualifiers/family/family.py
  edsnlp/pipelines/qualifiers/history/history.py
  edsnlp/pipelines/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  edsnlp/utils/deprecation.py
Due: none

fix: verify files existence
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

test: deduplicate docs tests (reference pages inserted in other pages)
  tests/extract_docs_code.py
Due: Running Pytest

fix: update interrogate
  .pre-commit-config.yaml
Due: none

feat: auto detect boolean qualifiers and fill in False values in brat-sourced docs
  edsnlp/connectors/brat.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
Due: none

feat: allow to keep/skip none values during training with keep_none parameter in span qualifier
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  tests/pipelines/trainable/test_span_qualifier.py
Due: none

fix: detect torch pipes via the `forward` attribute instead of `batch_process`
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
Due: none

refacto: add unified edsnlp.data api (json, brat, spark, pandas) and LazyCollection object
  .pre-commit-config.yaml
  docs/assets/templates/python/material/docstring/parameters.html
  docs/data/index.md
  docs/data/json.md
  docs/data/overview.png
  docs/data/pandas.md
  docs/data/schemas.md
  docs/data/spark.md
  docs/data/standoff.md
  edsnlp/__init__.py
  edsnlp/connectors/brat.py
  edsnlp/core/lazy_collection.py
  edsnlp/core/registry.py
  edsnlp/data/__init__.py
  edsnlp/data/base.py
  edsnlp/data/brat.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/utils/collections.py
  edsnlp/utils/span_getters.py
  edsnlp/utils/spark_dtypes.py
  mkdocs.yml
  pyproject.toml
  tests/data/test_converters.py
  tests/data/test_json.py
  tests/data/test_pandas.py
  tests/data/test_spark.py
  tests/data/test_standoff.py
  tests/resources/docs.jsonl
  tests/utils/test_spark_dtypes.py
Due: Running Pytest, Installation, Build documentation

feat: serialize parameters in separate files per pipe
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
Due: none

test: fix test to support safetensor dumped hf models
  tests/test_pipeline.py
Due: Running Pytest
