Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

feat: add label_weights parameter
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
Due: none

fix: deduplicate spans between doc.ents and doc.spans during train
  edsnlp/utils/span_getters.py
  pyproject.toml
Due: none

chore: update changelog
  changelog.md
  edsnlp/package.py
Due: Running Pytest, Installation

fix: cast label_weights as float
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  pyproject.toml
Due: none

Update edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

Update ner_crf.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

feat: add ner confidence score (#387)
  changelog.md
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  mkdocs.yml
  tests/pipelines/trainable/test_ner.py
Due: Build documentation

Update main coverage
  coverage.txt
Due: none

chore: bump version to 0.16.0
  README.md
  changelog.md
  docs/index.md
  docs/tutorials/training.md
  docs/tutorials/tuning.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: capped safetensors for python 3.7
  pyproject.toml
Due: none

fix: support packaging pep621 poetry projects and fix standard packager
  changelog.md
  edsnlp/package.py
  pyproject.toml
Due: Running Pytest, Installation

fix: add missing type hints and suppress pydantic warnings
  edsnlp/core/pipeline.py
  edsnlp/data/converters.py
  edsnlp/package.py
  edsnlp/pipes/misc/dates/models.py
  edsnlp/pipes/ner/scores/charlson/factory.py
  edsnlp/tune.py
Due: Running Pytest, Installation

test: run tests also in py311, py312 and py313
  .github/workflows/tests.yml
Due: none

fix: support packaging pep621 poetry projects and fix standard packager
  changelog.md
  edsnlp/package.py
  pyproject.toml
  tests/utils/test_package.py
Due: Running Pytest, Installation

test: support in py311 and py312 and fix deps
  .github/workflows/tests.yml
  changelog.md
  edsnlp/pipes/core/endlines/model.py
  pyproject.toml
  tests/tuning/config.yml
Due: none

fix: temporarily cap optuna in tests
  pyproject.toml
Due: none

fix: avoid non-standard (pytoml) syntax in pyproject.toml
  pyproject.toml
Due: none

fix: try several paths to find current pip executable
  changelog.md
  edsnlp/core/pipeline.py
Due: none

Fix: Update unit test checkpoint files to match the new InMemoryStorage structure in Optuna 4.3.0.
  docs/tutorials/tuning.md
  tests/tuning/test_checkpoints/single_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/single_phase_n_trials/study_.pkl
  tests/tuning/test_checkpoints/two_phase_gpu_hour/study_.pkl
  tests/tuning/test_checkpoints/two_phase_n_trials/study_.pkl
  tests/tuning/test_end_to_end.py
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
