Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

feat: update generic training script & tests
  docs/tutorials/index.md
  docs/tutorials/make-a-training-script.md
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/train.py
  edsnlp/utils/span_getters.py
  mkdocs.yml
  tests/training/dataset/annotation.conf
  tests/training/dataset/dataset.jsonl
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/training/test_train.py
  tests/training/test_training.py
Due: Running Pytest, Installation, Build documentation

fix: upgrade confit to be able to inspect registry.get(x) function signature
  pyproject.toml
Due: none

fix: replace multiprocess with patched multiprocessing to support mp cuda & quantization + faster transfer pipeline via tmp
  edsnlp/processing/multiprocessing.py
  pyproject.toml
Due: none

fix: serialize pipe meta dicts as well when transfering/pickling a pipeline
  edsnlp/core/pipeline.py
Due: none

fix: detect torch pipes via the `forward` attribute instead of `batch_process`
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
Due: none

docs: update for 0.10.0 release
  README.md
  changelog.md
  docs/concepts/inference.md
  docs/concepts/pipeline.md
  docs/index.md
  edsnlp/__init__.py
  edsnlp/data/converters.py
  pyproject.toml
Due: Running Pytest, Installation, Build documentation

fix: more options for nlp.package() and better support for poetry include fields
  edsnlp/core/pipeline.py
  edsnlp/train.py
  edsnlp/utils/package.py
Due: Running Pytest, Installation

fix: during their init, matchers skip pipes with non-required assigned extensions
  changelog.md
  edsnlp/matchers/phrase.pyx
  edsnlp/matchers/simstring.py
  edsnlp/matchers/utils/__init__.py
Due: none

refacto: rewrite trainable ner with a torch component (also eds.nested_ner -> eds.ner)
  edsnlp/core/registry.py
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/ner/__init__.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/pipelines/trainable/nested_ner/__init__.py
  edsnlp/pipelines/trainable/nested_ner/factory.py
  edsnlp/pipelines/trainable/nested_ner/nested_ner.py
  edsnlp/pipelines/trainable/nested_ner/stack_crf_ner.py
  edsnlp/pipelines/trainable/pytorch_wrapper.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/pipelines/trainable/test_nested_ner.py
Due: none

tests: add end to end training test
  edsnlp/optimization.py
  tests/training/config.cfg
  tests/training/dataset/sample-1.ann
  tests/training/dataset/sample-1.txt
  tests/training/dataset/sample-2.ann
  tests/training/dataset/sample-2.txt
  tests/training/test_train.py
Due: Running Pytest, Installation

feat: add windowing options to ner crf
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/utils/torch.py
  tests/pipelines/trainable/test_ner.py
Due: none

fix: update pipeline system
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
Due: none

feat: add auto packaging api
  edsnlp/core/pipeline.py
  edsnlp/pipelines/misc/measurements/measurements.py
  edsnlp/utils/package.py
  pyproject.toml
  tests/utils/test_package.py
Due: none

fix: allow crf to decode illegal tag sequences
  edsnlp/pipelines/trainable/layers/crf.py
Due: none

tests: improve coverage
  edsnlp/core/registry.py
  edsnlp/optimization.py
  edsnlp/utils/collections.py
Due: Running Pytest, Installation

docs: don't wrap inline code blocks in tables
  docs/assets/stylesheets/extra.css
Due: none

fix: better support for spacy registered pipes
  edsnlp/core/registry.py
Due: none

chore: improve coverage and clean entry points
  pyproject.toml
Due: none

docs: autolink component occurences to reference
  docs/index.md
  docs/pipelines/architecture.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/overview.md
  docs/pipelines/misc/overview.md
  docs/pipelines/ner/overview.md
  docs/pipelines/ner/scores/overview.md
  docs/pipelines/overview.md
  docs/pipelines/qualifiers/overview.md
  docs/scripts/plugin.py
  docs/tutorials/detecting-dates.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/qualifying-entities.md
  edsnlp/pipelines/qualifiers/history/history.py
Due: Build documentation

docs: fix docs links and images
  docs/assets/images/model-parallelism.png
  docs/assets/images/transformer-windowing.svg
  docs/concepts/pipeline.md
  docs/scripts/plugin.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

fix: add missing pipeline methods and tests in parallelize
  edsnlp/core/pipeline.py
  tests/pipelines/trainable/test_span_classifier.py
  tests/processing/test_processing.py
Due: none

fix: update trainable ner with span_setter
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/ner.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

feat: add load function
  edsnlp/__init__.py
  edsnlp/core/pipeline.py
Due: Running Pytest, Installation

feat: add train script
  edsnlp/connectors/brat.py
  edsnlp/core/pipeline.py
  edsnlp/pipelines/base.py
  edsnlp/scorers/ner.py
  edsnlp/train.py
  edsnlp/utils/span_getters.py
  pyproject.toml
  tests/test_pipeline.py
Due: Running Pytest, Installation

feat: add text_cnn torch component
  edsnlp/layers/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/text_cnn.py
  pyproject.toml
Due: none

docs: document core refacto concepts
  docs/concepts/inference.md
  docs/concepts/pipeline.md
  docs/concepts/torch-component.md
  mkdocs.yml
Due: Build documentation

fix: github actions
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

docs: add custom tutorial cards
  docs/assets/stylesheets/cards.css
  docs/assets/stylesheets/extra.css
  docs/scripts/cards.py
  docs/tutorials/overview.md
  docs/tutorials/training-ner.md
  mkdocs.yml
Due: Build documentation

chore: add confit to dependencies
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/layers/text_cnn.py
  edsnlp/pipelines/trainable/ner/ner.py
  pyproject.toml
Due: none

chore: bump version to 0.10.0alpha1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

docs: add training tutorial, update docs & run pre-commit
  README.md
  docs/advanced-tutorials/fastapi.md
  docs/concepts/torch-component.md
  docs/index.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/normalizer.md
  docs/pipelines/ner/behaviors/overview.md
  docs/pipelines/overview.md
  docs/pipelines/trainable/embeddings/span_pooler.md
  docs/pipelines/trainable/overview.md
  docs/scripts/griffe_ext.py
  docs/tokenizers.md
  docs/tutorials/detecting-dates.md
  docs/tutorials/endlines.md
  docs/tutorials/matching-a-terminology.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/overview.md
  docs/tutorials/qualifying-entities.md
  docs/tutorials/quick-examples.md
  docs/tutorials/reason.md
  docs/tutorials/spacy101.md
  docs/tutorials/training-ner.md
  docs/utilities/connectors/brat.md
  docs/utilities/matchers.md
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/core/contextual_matcher/models.py
  edsnlp/pipelines/core/normalizer/remove_lowercase/factory.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/wrapper.py
  edsnlp/utils/collections.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/test_docs.py
  tests/test_pipeline.py
Due: Running Pytest, Build documentation

docs: fix relative links
  docs/scripts/plugin.py
Due: none

feat: added trainable transformer component
  edsnlp/pipelines/trainable/embeddings/__init__.py
  edsnlp/pipelines/trainable/embeddings/transformer.py
  edsnlp/pipelines/trainable/embeddings/typing.py
  edsnlp/utils/torch.py
  pyproject.toml
Due: none

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  tests/pipelines/core/test_sentences.py
Due: none

fix: drop bratconnector statefulness to avoid missing ents in 2nd, 3rd, ... ann files
  edsnlp/connectors/brat.py
Due: none

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/__init__.py
  edsnlp/patch_spacy.py
  edsnlp/pipelines/core/sentences/factory.py
  edsnlp/pipelines/core/sentences/fast_sentences.pxd
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  setup.py
Due: Running Pytest, Installation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
