Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

feat: __call__ now calls the torch.nn.Module forward method instead
  changelog.md
  docs/tutorials/make-a-training-script.md
  edsnlp/core/lazy_collection.py
  edsnlp/core/torch_component.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/pipes/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/multiprocessing.py
  edsnlp/train.py
  tests/pipelines/trainable/test_ner.py
Due: Running Pytest, Installation

feat: new eds.ner_overlap_scorer
  changelog.md
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_attributes.py
  pyproject.toml
  tests/test_scorers.py
Due: Running Pytest

test: increase coverage report precision
  .github/workflows/tests.yml
  pyproject.toml
Due: none

fix: stop reading files from json path parent dir
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/data/json.py
Due: none

feat: allow to disable trf stride during training
  changelog.md
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
Due: none

refacto: add base classes to scorers & rename span_classification to span_attributes
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_attributes.py
  edsnlp/train.py
  edsnlp/utils/typing.py
  pyproject.toml
  tests/test_scorers.py
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
Due: Running Pytest, Installation

feat: add prompts to transformer, move span_getter args to task pipes
  changelog.md
  docs/concepts/torch-component.md
  edsnlp/core/torch_component.py
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/pipes/trainable/embeddings/typing.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/pipes/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/multiprocessing.py
  edsnlp/utils/span_getters.py
  pyproject.toml
  tests/pipelines/trainable/test_span_linker.py
  tests/pipelines/trainable/test_span_qualifier.py
  tests/pipelines/trainable/test_transformer.py
  tests/test_pipeline.py
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/utils/test_span_getters.py
Due: Running Pytest

refacto: add base span attribute classifier class & rename eds.span_classifier
  changelog.md
  docs/pipes/trainable/index.md
  docs/pipes/trainable/span-classifier.md
  docs/pipes/trainable/span-qualifier.md
  edsnlp/__init__.py
  edsnlp/pipes/__init__.py
  edsnlp/pipes/base.py
  edsnlp/pipes/qualifiers/base.py
  edsnlp/pipes/qualifiers/family/family.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/pipes/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipes/qualifiers/negation/negation.py
  edsnlp/pipes/qualifiers/reported_speech/reported_speech.py
  edsnlp/pipes/trainable/span_classifier/__init__.py
  edsnlp/pipes/trainable/span_classifier/factory.py
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/pipes/trainable/span_qualifier/factory.py
  edsnlp/utils/bindings.py
  edsnlp/utils/lazy_module.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_span_linker.py
  tests/training/test_train.py
  tests/utils/test_bindings.py
Due: Running Pytest, Installation, Build documentation

feat: add filter_expr parameter to scorers
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_attributes.py
  tests/test_scorers.py
Due: Running Pytest

fix: add back support for deprecated span pooler span_getter arg
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
  edsnlp/pipes/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
  edsnlp/pipes/trainable/span_classifier/span_classifier.py
  edsnlp/pipes/trainable/span_linker/span_linker.py
  edsnlp/utils/span_getters.py
Due: none

fix: fix spacy pickling for recursively stored Doc, Span & Token in extensions
  changelog.md
  edsnlp/__init__.py
  edsnlp/reducers.py
  tests/test_reducers.py
Due: Running Pytest, Installation

Update main coverage
  coverage.svg
  coverage.txt
Due: none

fix: various dates related fixes
  changelog.md
  docs/tutorials/multiple-texts.md
  edsnlp/data/converters.py
  edsnlp/extensions.py
  edsnlp/pipes/misc/consultation_dates/consultation_dates.py
  edsnlp/pipes/misc/dates/dates.py
  edsnlp/pipes/misc/dates/models.py
  edsnlp/pipes/qualifiers/history/history.py
  edsnlp/processing/multiprocessing.py
  pyproject.toml
  tests/conftest.py
  tests/pipelines/misc/test_dates.py
  tests/processing/test_backends.py
Due: Running Pytest, Installation

feat: loading models from the hf hub
  .github/workflows/tests.yml
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/core/registries.py
  edsnlp/utils/package.py
  tests/test_pipeline.py
  tests/utils/test_package.py
Due: Running Pytest

Update main coverage
  coverage.txt
Due: none

feat: expose package script to cli
  changelog.md
  edsnlp/core/pipeline.py
  edsnlp/package.py
  tests/utils/test_package.py
Due: Running Pytest, Installation

fix: make new env var EDSNLP_MAX_CPU_WORKERS is optional
  edsnlp/processing/multiprocessing.py
Due: none

ci: use uv
  .github/workflows/tests.yml
Due: none

fix: support importlib_metadata <= 4.13.*
  edsnlp/core/registries.py
Due: none

test: only test koalas for py37 since spark3 is available for py>38
  pyproject.toml
Due: none

fix: fix training_stride eds.transformer parameter
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

fix: only reinstall hf model when cache files are changed
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
Due: Running Pytest

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
