Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

span_token_contextual_getter
  edsnlp/utils/span_getters.py
  pyproject.toml
Due: none

fix: support empty writer converter by default
  changelog.md
  edsnlp/data/base.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/spark.py
Due: none

feat: add support for polars data importing/exporting
  changelog.md
  docs/data/index.md
  docs/data/polars.md
  edsnlp/data/__init__.py
  edsnlp/data/polars.py
  mkdocs.yml
  pyproject.toml
  tests/data/test_polars.py
Due: Build documentation

fix: save buffers when dumping torch component
  changelog.md
  edsnlp/core/torch_component.py
Due: none

chore: remove unused argument in span_pooler
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
Due: none

fix: allow kwargs in transformer and fix multi gpu auto batch size finder
  changelog.md
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

fix: allow missing meta.json, tokenizer and vocab paths when loading models
  changelog.md
  edsnlp/core/pipeline.py
Due: none

fix: improve inner process chunk => batch splitting
  edsnlp/processing/multiprocessing.py
Due: none

fix: jsonl parsing
  edsnlp/data/json.py
Due: none

chore: bump version to 0.10.7
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: 'disabled' attribute is no longer saved in the pipeline config
  changelog.md
  edsnlp/core/pipeline.py
  tests/test_pipeline.py
Due: Running Pytest

feat: support for a filesystem param in all edsnlp.data readers/writers
  changelog.md
  edsnlp/data/json.py
  edsnlp/data/parquet.py
  edsnlp/data/standoff.py
  edsnlp/utils/file_system.py
Due: none

fix: patch and wrap fsspec for python 3.7
  .github/workflows/tests.yml
  edsnlp/data/json.py
  edsnlp/data/standoff.py
  edsnlp/utils/file_system.py
  pyproject.toml
  tests/data/test_parquet.py
Due: none

fix: add lazy frame to from_polars typing
  edsnlp/data/polars.py
Due: none

feat: add nlp.pipes namespace to access pipes and use lazy eval in nlp.preprocess_many
  changelog.md
  docs/tutorials/make-a-training-script.md
  edsnlp/core/pipeline.py
  edsnlp/utils/collections.py
  tests/test_pipeline.py
Due: Running Pytest

test: don't test changelog code blocks
  tests/extract_docs_code.py
Due: Running Pytest

feat: support builtin attributes in span_attributes converter param
  changelog.md
  edsnlp/data/converters.py
  tests/data/test_converters.py
Due: none

fix: flatten 'ents' and other doc->list converters output
  changelog.md
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
  tests/data/test_converters.py
  tests/data/test_lazy_collection.py
  tests/data/test_parquet.py
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
