Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

fix: use real hf tokenizer vocab size when adding new trainable token
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

docs: add training tutorial, update docs & run pre-commit
  README.md
  docs/advanced-tutorials/fastapi.md
  docs/concepts/torch-component.md
  docs/index.md
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/core/normalizer.md
  docs/pipelines/ner/behaviors/overview.md
  docs/pipelines/overview.md
  docs/pipelines/trainable/embeddings/span_pooler.md
  docs/pipelines/trainable/overview.md
  docs/scripts/griffe_ext.py
  docs/tokenizers.md
  docs/tutorials/detecting-dates.md
  docs/tutorials/endlines.md
  docs/tutorials/matching-a-terminology.md
  docs/tutorials/multiple-texts.md
  docs/tutorials/overview.md
  docs/tutorials/qualifying-entities.md
  docs/tutorials/quick-examples.md
  docs/tutorials/reason.md
  docs/tutorials/spacy101.md
  docs/tutorials/training-ner.md
  docs/utilities/connectors/brat.md
  docs/utilities/matchers.md
  edsnlp/core/pipeline.py
  edsnlp/core/registry.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/core/contextual_matcher/models.py
  edsnlp/pipelines/core/normalizer/remove_lowercase/factory.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/processing/wrapper.py
  edsnlp/utils/collections.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/test_docs.py
  tests/test_pipeline.py
Due: Running Pytest, Build documentation

fix: support pydantic v2
  edsnlp/pipelines/base.py
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/contextual_matcher/models.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/ner/adicap/models.py
  edsnlp/utils/examples.py
  edsnlp/utils/lists.py
  edsnlp/utils/span_getters.py
  tests/test_pipeline.py
  tests/utils/test_examples.py
Due: Running Pytest

feat: add edsnlp.data support for parquet files with parallel reading / writing
  edsnlp/data/parquet.py
Due: none

fix: serialize pipe meta dicts as well when transfering/pickling a pipeline
  edsnlp/core/pipeline.py
Due: none

fix: verify files existence
  edsnlp/data/json.py
  edsnlp/data/standoff.py
Due: none

chore: add confit to dependencies
  edsnlp/pipelines/trainable/layers/crf.py
  edsnlp/pipelines/trainable/layers/text_cnn.py
  edsnlp/pipelines/trainable/ner/ner.py
  pyproject.toml
Due: none

feat: prepare finalizing writers (ie with batch accumulation to files) + smoother multiprocessing stopping
  docs/data/json.md
  docs/data/pandas.md
  docs/data/parquet.md
  docs/data/spark.md
  docs/data/standoff.md
  edsnlp/data/base.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/parquet.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/processing/multiprocessing.py
  edsnlp/processing/simple.py
  edsnlp/processing/spark.py
Due: none

feat: add auto packaging api
  edsnlp/core/pipeline.py
  edsnlp/pipelines/misc/measurements/measurements.py
  edsnlp/utils/package.py
  pyproject.toml
  tests/utils/test_package.py
Due: none

feat: make deprecation warnings visible
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/utils/deprecation.py
Due: none

feat: serialize parameters in separate files per pipe
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
Due: none

chore: apply format rules
  docs/scripts/griffe_ext.py
  edsnlp/connectors/omop.py
  tests/pipelines/core/test_matcher.py
  tests/pipelines/core/test_sentences.py
  tests/pipelines/misc/test_dates.py
  tests/pipelines/ner/test_cim10.py
  tests/pipelines/trainable/test_ner.py
Due: none

docs: update style, prepare i18n, add mkdocstring better integration
  docs/assets/stylesheets/extra.css
Due: none

docs: update for 0.10.0 release
  README.md
  changelog.md
  docs/concepts/inference.md
  docs/concepts/pipeline.md
  docs/index.md
  edsnlp/__init__.py
  edsnlp/data/converters.py
  pyproject.toml
Due: Running Pytest, Installation, Build documentation

ci: enable pip cache
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

feat: auto detect boolean qualifiers and fill in False values in brat-sourced docs
  edsnlp/connectors/brat.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
Due: none

docs: use index.md instead of overview.md (we still redirect to Overview page when clicking section)
  docs/advanced-tutorials/index.md
  docs/index.md
  docs/pipelines/core/index.md
  docs/pipelines/index.md
  docs/pipelines/misc/index.md
  docs/pipelines/ner/behaviors/index.md
  docs/pipelines/ner/disorders/index.md
  docs/pipelines/ner/index.md
  docs/pipelines/ner/scores/index.md
  docs/pipelines/qualifiers/index.md
  docs/pipelines/trainable/index.md
  docs/scripts/plugin.py
  docs/tutorials/index.md
  docs/utilities/index.md
  docs/utilities/processing/index.md
  docs/utilities/processing/multi.md
  docs/utilities/processing/single.md
  docs/utilities/processing/spark.md
  mkdocs.yml
Due: Build documentation

fix: better support for spacy registered pipes
  edsnlp/core/registry.py
Due: none

fix: add missing pipeline methods and tests in parallelize
  edsnlp/core/pipeline.py
  tests/pipelines/trainable/test_span_classifier.py
  tests/processing/test_processing.py
Due: none

feat: allow overriding the config when loading a pipeline from the disk
  edsnlp/core/pipeline.py
  edsnlp/utils/package.py
  tests/test_pipeline.py
  tests/utils/test_package.py
Due: Running Pytest

feat: add text_cnn torch component
  edsnlp/layers/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/text_cnn.py
  pyproject.toml
Due: none

chore: split sentencizer into python/cython files & move spacy patcher
  edsnlp/pipelines/core/sentences/fast_sentences.pyx
  edsnlp/pipelines/core/sentences/sentences.py
  tests/pipelines/core/test_sentences.py
Due: none

feat: standardize p/r/f metrics
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/span_classification.py
  tests/test_scorers.py
  tests/training/test_training.py
Due: Running Pytest

docs: fix relative links
  docs/scripts/plugin.py
Due: none

ci: allow to run test-build.yml manually
  .github/workflows/test-build.yml
Due: none

refacto: update demo to use edsnlp.blank
  demo/app.py
Due: none
