Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: update adicap patterns to match dot formats as in #158
  changelog.md
  edsnlp/pipelines/ner/adicap/adicap.py
  edsnlp/pipelines/ner/adicap/patterns.py
  tests/pipelines/ner/test_adicap.py
Due: none

feat: add tokenization exceptions and detect some false positive end of sent periods
  changelog.md
  edsnlp/language.py
  tests/test_language.py
Due: Running Pytest, Installation

chore: bump version to 0.8.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

diff duration and datetime
  edsnlp/pipelines/misc/dates/models.py
  tests/pipelines/misc/test_dates.py
Due: none

modify test
  tests/pipelines/misc/test_dates.py
Due: none

feat: fix to_datetime/duration docs & integration with eds.history
  docs/pipelines/misc/dates.md
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/qualifiers/history/history.py
Due: none

feat: update dates and history configuration docs
  docs/pipelines/misc/dates.md
  docs/pipelines/qualifiers/history.md
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/factory.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/qualifiers/history/history.py
Due: none

feat: in eds.dates new option for shared date label and assign duration to separate span group
  changelog.md
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/factory.py
  tests/pipelines/misc/test_dates.py
Due: none

docs: update style, prepare i18n, add mkdocstring better integration
  .gitignore
  docs/assets/stylesheets/extra.css
  docs/assets/templates/python/material/docstring.html
  docs/assets/templates/python/material/docstring/parameters.html
  docs/assets/templates/python/material/function.html
  docs/generate_development.py
  docs/generate_reference.py
  docs/index.md
  docs/scripts/plugin.py
  mkdocs.yml
  pyproject.toml
Due: Build documentation

docs: link pipeline docs to docstrings
  docs/pipelines/core/contextual-matcher.md
  docs/pipelines/ner/adicap.md
  docs/pipelines/ner/cim10.md
  docs/pipelines/ner/covid.md
  docs/pipelines/ner/drugs.md
  docs/pipelines/ner/umls.md
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/contextual_matcher/factory.py
  edsnlp/pipelines/ner/adicap/factory.py
  edsnlp/pipelines/ner/cim10/factory.py
  edsnlp/pipelines/ner/covid/factory.py
  edsnlp/pipelines/ner/drugs/factory.py
  edsnlp/pipelines/ner/umls/factory.py
  mkdocs.yml
Due: Build documentation

feat: add ignore_space_tokens option in phrase, simstring and regex matchers
  changelog.md
  docs/pipelines/core/matcher.md
  docs/pipelines/core/normalisation.md
  edsnlp/matchers/phrase.pyx
  edsnlp/matchers/regex.py
  edsnlp/matchers/simstring.py
  edsnlp/matchers/utils/offset.py
  edsnlp/matchers/utils/text.py
  edsnlp/pipelines/core/matcher/matcher.py
  tests/conftest.py
  tests/matchers/test_regex.py
  tests/matchers/test_simstring.py
  tests/pipelines/core/test_matcher.py
Due: Running Pytest

feat: add space token detection in eds.normalizer
  docs/pipelines/core/normalisation.md
  edsnlp/pipelines/core/normalizer/factory.py
  edsnlp/pipelines/core/normalizer/normalizer.py
  edsnlp/pipelines/core/normalizer/spaces/__init__.py
  edsnlp/pipelines/core/normalizer/spaces/factory.py
  edsnlp/pipelines/core/normalizer/spaces/spaces.py
  tests/pipelines/core/test_normalisation.py
Due: none

feat: add ignore_space_tokens to relevant components and update docs & tests
  changelog.md
  docs/pipelines/core/normalisation.md
  docs/pipelines/core/terminology.md
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/contextual_matcher/factory.py
  edsnlp/pipelines/core/endlines/endlines.py
  edsnlp/pipelines/core/matcher/factory.py
  edsnlp/pipelines/core/matcher/matcher.py
  edsnlp/pipelines/core/terminology/factory.py
  edsnlp/pipelines/core/terminology/terminology.py
  edsnlp/pipelines/ner/cim10/factory.py
  edsnlp/pipelines/ner/covid/factory.py
  edsnlp/pipelines/ner/drugs/factory.py
  edsnlp/pipelines/ner/scores/base_score.py
  edsnlp/pipelines/ner/scores/charlson/factory.py
  edsnlp/pipelines/ner/scores/elstonellis/factory.py
  edsnlp/pipelines/ner/scores/emergency/ccmu/factory.py
  edsnlp/pipelines/ner/scores/emergency/gemsa/factory.py
  edsnlp/pipelines/ner/scores/emergency/priority/factory.py
  edsnlp/pipelines/ner/scores/factory.py
  edsnlp/pipelines/ner/scores/sofa/factory.py
  edsnlp/pipelines/ner/scores/sofa/sofa.py
  edsnlp/pipelines/ner/umls/factory.py
  tests/pipelines/core/test_terminology.py
  tests/pipelines/ner/test_score.py
Due: none

refacto of on_ents_only parameters for qualifiers
  edsnlp/pipelines/base.py
  edsnlp/pipelines/core/normalizer/pollution/pollution.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/factory.py
  edsnlp/pipelines/qualifiers/base.py
  edsnlp/pipelines/qualifiers/family/factory.py
  edsnlp/pipelines/qualifiers/family/family.py
  edsnlp/pipelines/qualifiers/history/factory.py
  edsnlp/pipelines/qualifiers/history/history.py
  edsnlp/pipelines/qualifiers/hypothesis/factory.py
  edsnlp/pipelines/qualifiers/hypothesis/hypothesis.py
  edsnlp/pipelines/qualifiers/negation/factory.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/factory.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
Due: none

feat: limit_to_sentence in contextual matcher
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/contextual_matcher/factory.py
Due: none

feat: additional pollution patterns
  edsnlp/pipelines/core/normalizer/pollution/patterns.py
Due: none

feat: limit_to_sentence in context. matcher
  edsnlp/pipelines/core/contextual_matcher/models.py
Due: none

Update tests/pipelines/misc/test_tables.py
  tests/pipelines/misc/test_tables.py
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: Build documentation

Update edsnlp/pipelines/misc/tables/tables.py
  edsnlp/pipelines/misc/tables/tables.py
Due: none

refactor: Convert the attribute to_pd_table into method.
  docs/pipelines/misc/tables.md
  edsnlp/pipelines/misc/tables/__init__.py
  edsnlp/pipelines/misc/tables/factory.py
  edsnlp/pipelines/misc/tables/tables.py
  tests/pipelines/misc/test_tables.py
Due: none

Update changelog
  changelog.md
Due: none

Cap pandas version < 2.0.0
  pyproject.toml
  requirements.txt
Due: none

fix endlines
  pyproject.toml
Due: none
