Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: add doc to markup converter
  changelog.md
  docs/data/converters.md
  edsnlp/data/converters.py
Due: none

feat: add doc to markup converter
  changelog.md
Due: none

feat: add doc to markup converter and improve markup to doc converter
  changelog.md
  docs/data/converters.md
  edsnlp/data/converters.py
  tests/data/test_converters.py
Due: none

chore: bump version to 0.18.0
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

tests
  tests/pipelines/qualifiers/test_llm_qualifier.py
  tests/pipelines/qualifiers/test_llm_utils.py
Due: none

fix: entrypoints
  changelog.md
  pyproject.toml
  tests/test_entrypoints.py
Due: Running Pytest

feat: compute eds.ner_crf loss as mean over words
  changelog.md
  edsnlp/pipes/trainable/ner_crf/ner_crf.py
Due: none

test: test filter_expr in dependency parsing evaluation
  edsnlp/metrics/dep_parsing.py
  tests/training/dep_parser_config.yml
Due: none

docs
  docs/pipes/qualifiers/llm-qualifier.md
  edsnlp/pipes/qualifiers/llm/llm_qualifier.py
  mkdocs.yml
Due: Build documentation

fix: make entrypoint tests compatible with old python versions
  tests/test_entrypoints.py
Due: Running Pytest

docs: fix docs tutorials and warn in training func for mismatched pipe names
  docs/tutorials/training-ner.md
  docs/tutorials/training-span-classifier.md
  edsnlp/training/trainer.py
Due: none

Update main coverage
  coverage.txt
Due: none

ci: fix pyarrow installation during wheel build
  .github/workflows/release.yml
  .github/workflows/test-build.yml
Due: none

chore: move most of optional dependencies to dependency groups
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Makefile
  contributing.md
  docs/tutorials/training-ner.md
  docs/tutorials/training-span-classifier.md
  docs/tutorials/tuning.md
  pyproject.toml
Due: none

fix: add mkdocs-eds explicitely while waiting for py38 drop
  .github/copilot-instructions.md
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  changelog.md
  contributing.md
  edsnlp/metrics/span_attribute.py
  mkdocs.yml
  pyproject.toml
Due: Build documentation

fix: add mkdocs-eds explicitely while waiting for py38 drop
  .github/copilot-instructions.md
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  changelog.md
  contributing.md
  pyproject.toml
Due: none
