Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7

stages:
  - docker
  - test
  - documentation
  - pages
  - package

Build Docker image:
  stage: docker
  image: harbor.eds.aphp.fr/public/kaniko-executor:debug
  script:
    - echo "{\"auths\":{\"harbor.eds.aphp.fr\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.ci --destination harbor.eds.aphp.fr/plateforme-datascience/edsnlp:3.7
  when: manual

Linting:
  stage: test
  before_script:
    - scripts/install.sh
    - pre-commit install
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  script:
    - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
    - coverage xml -o coverage.xml
    - coverage html -d htmlcov
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - htmlcov/
      - coverage.xml
      - report.html
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edsnlp/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
    - pip install .
  rules:
    - changes:
        - setup.py
        - edsnlp/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  script:
    - pip install -r requirements-docs.txt
    - mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mkdir -p public/report
    - mv documentation public/documentation
    - mv htmlcov public/coverage
    - mv report.html public/report/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - scripts/install.sh
    - python scripts/conjugate_verbs.py
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: ${CI_JOB_TOKEN}
  script:
    - pip install twine
    - python setup.py sdist bdist_wheel
    - python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

feat: added conll format
  changelog.md
  docs/assets/stylesheets/extra.css
  docs/data/conll.md
  edsnlp/data/__init__.py
  edsnlp/data/conll.py
  edsnlp/data/converters.py
  edsnlp/utils/file_system.py
  mkdocs.yml
  pyproject.toml
  tests/data/test_conll.py
  tests/training/rhapsodie_sample.conllu
Due: Build documentation

Update main coverage
  coverage.txt
Due: none

fix: support multiprocessing without pytorch
  changelog.md
  edsnlp/processing/multiprocessing.py
Due: none

feat: new eds.extractive_qa component
  changelog.md
  docs/pipes/trainable/extractive-qa.md
  docs/pipes/trainable/index.md
  edsnlp/pipes/__init__.py
  edsnlp/pipes/trainable/extractive_qa/__init__.py
  edsnlp/pipes/trainable/extractive_qa/extractive_qa.py
  edsnlp/pipes/trainable/extractive_qa/factory.py
  mkdocs.yml
  pyproject.toml
  tests/pipelines/trainable/test_extractive_qa.py
Due: Build documentation

fix: suppress simplethread close issue
  edsnlp/processing/multiprocessing.py
Due: none

fix: add autocast and batch_size to eval + better train log
  edsnlp/training/optimizer.py
  edsnlp/training/trainer.py
  pyproject.toml
Due: none

test: support pytorch-less tests
  .github/workflows/tests.yml
  changelog.md
  pyproject.toml
  tests/conftest.py
  tests/data/test_stream.py
  tests/pipelines/test_pipelines.py
  tests/pipelines/trainable/conftest.py
  tests/processing/test_backends.py
  tests/test_docs.py
  tests/test_entrypoints.py
  tests/test_pipeline.py
  tests/training/test_optimizer.py
  tests/training/test_train.py
Due: Running Pytest

Update main coverage
  coverage.svg
  coverage.txt
Due: none

fix: correct conversions for volumes, areas
  edsnlp/pipes/misc/quantities/patterns.py
  edsnlp/pipes/misc/quantities/quantities.py
  tests/pipelines/misc/test_quantities.py
Due: none

fix: correct conversions for unitless patterns
  edsnlp/pipes/misc/quantities/patterns.py
  edsnlp/pipes/misc/quantities/quantities.py
  tests/pipelines/misc/test_quantities.py
Due: none

fix: rescale length, areas, vol dims and re-integrate degree in length
  changelog.md
  edsnlp/pipes/misc/quantities/patterns.py
  edsnlp/pipes/misc/quantities/quantities.py
  tests/pipelines/misc/test_quantities.py
Due: none

chore: bump version to 0.15.0
  README.md
  changelog.md
  docs/index.md
  docs/tutorials/training.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

fix: cap thinc to solve binary compatibility issues
  pyproject.toml
Due: none

fix: dedup contexts in eds.span_pooler
  edsnlp/pipes/trainable/embeddings/span_pooler/span_pooler.py
Due: none
