Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

feat: lazy module loading (quick import + easy handling optional deps e.g. torch)
  edsnlp/data/__init__.py
  edsnlp/pipelines/factories.py
  edsnlp/utils/lazy_module.py
Due: none

feat: allow to define multiple data sources in training script
  edsnlp/train.py
  edsnlp/utils/typing.py
  pyproject.toml
Due: Running Pytest, Installation

feat: support bitsandbytes quantization in transformer init
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

fix: upgrade confit to be able to inspect registry.get(x) function signature
  pyproject.toml
Due: none

fix: serialize pipe meta dicts as well when transfering/pickling a pipeline
  edsnlp/core/pipeline.py
Due: none

fix: replace multiprocess with patched multiprocessing to support mp cuda & quantization + faster transfer pipeline via tmp
  edsnlp/processing/multiprocessing.py
  pyproject.toml
Due: none

fix: allow for empty initial project when packaging
  .github/workflows/tests.yml
  edsnlp/utils/package.py
  pyproject.toml
Due: none

feat: update generic training script & tests
  docs/tutorials/index.md
  docs/tutorials/make-a-training-script.md
  edsnlp/pipelines/trainable/ner_crf/ner_crf.py
  edsnlp/train.py
  edsnlp/utils/span_getters.py
  mkdocs.yml
  tests/training/dataset/annotation.conf
  tests/training/dataset/dataset.jsonl
  tests/training/ner_qlf_config.cfg
  tests/training/qlf_config.cfg
  tests/training/test_train.py
  tests/training/test_training.py
Due: Running Pytest, Installation, Build documentation

feat: expose 'eds' tokenizer
  pyproject.toml
Due: none

refacto: remove context pipe
  edsnlp/pipelines/core/context/__init__.py
  edsnlp/pipelines/core/context/context.py
  edsnlp/pipelines/core/context/factory.py
  edsnlp/pipelines/factories.py
  pyproject.toml
Due: none

feat: allow access errors in bindings and add tests
  edsnlp/utils/bindings.py
  tests/utils/test_bindings.py
  tests/utils/test_collections.py
Due: none

feat: allow overriding the config when loading a pipeline from the disk
  edsnlp/core/pipeline.py
  edsnlp/utils/package.py
  tests/test_pipeline.py
  tests/utils/test_package.py
Due: Running Pytest

fix: support pydantic v2
  edsnlp/pipelines/base.py
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/contextual_matcher/models.py
  edsnlp/pipelines/misc/dates/dates.py
  edsnlp/pipelines/misc/dates/models.py
  edsnlp/pipelines/ner/adicap/models.py
  edsnlp/utils/examples.py
  edsnlp/utils/lists.py
  edsnlp/utils/span_getters.py
  tests/test_pipeline.py
  tests/utils/test_examples.py
Due: Running Pytest

feat: add edsnlp.data support for parquet files with parallel reading / writing
  edsnlp/data/parquet.py
Due: none

fix: more options for nlp.package() and better support for poetry include fields
  edsnlp/core/pipeline.py
  edsnlp/train.py
  edsnlp/utils/package.py
Due: Running Pytest, Installation

chore: apply format rules
  docs/scripts/griffe_ext.py
  edsnlp/connectors/omop.py
  tests/pipelines/core/test_matcher.py
  tests/pipelines/core/test_sentences.py
  tests/pipelines/misc/test_dates.py
  tests/pipelines/ner/test_cim10.py
  tests/pipelines/trainable/test_ner.py
Due: none

fix: update numpy build dependency marker to fix poetry installs
  pyproject.toml
Due: none

docs: update for 0.10.0 release
  README.md
  changelog.md
  docs/concepts/inference.md
  docs/concepts/pipeline.md
  docs/index.md
  edsnlp/__init__.py
  edsnlp/data/converters.py
  pyproject.toml
Due: Running Pytest, Installation, Build documentation

fix: use real hf tokenizer vocab size when adding new trainable token
  edsnlp/pipes/trainable/embeddings/transformer/transformer.py
Due: none

fix: allow empty docs in eds.transformer pipe
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

feat: added trainable transformer component
  edsnlp/pipelines/trainable/embeddings/__init__.py
  edsnlp/pipelines/trainable/embeddings/transformer.py
  edsnlp/pipelines/trainable/embeddings/typing.py
  edsnlp/utils/torch.py
  pyproject.toml
Due: none

docs: fix docs links and images
  docs/assets/images/model-parallelism.png
  docs/assets/images/transformer-windowing.svg
  docs/concepts/pipeline.md
  docs/scripts/plugin.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
Due: none

refacto: remove nlp & name attributes from pipes (increased pipe autonomy)
  edsnlp/core/pipeline.py
  edsnlp/core/torch_component.py
  edsnlp/pipelines/base.py
  edsnlp/pipelines/core/contextual_matcher/contextual_matcher.py
  edsnlp/pipelines/core/matcher/matcher.py
  edsnlp/pipelines/core/normalizer/accents/accents.py
  edsnlp/pipelines/core/normalizer/normalizer.py
  edsnlp/pipelines/core/normalizer/pollution/pollution.py
  edsnlp/pipelines/core/normalizer/quotes/quotes.py
  edsnlp/pipelines/core/normalizer/spaces/spaces.py
  edsnlp/pipelines/core/sentences/sentences.py
  edsnlp/pipelines/core/terminology/terminology.py
  edsnlp/pipelines/misc/measurements/measurements.py
  edsnlp/pipelines/misc/reason/reason.py
  edsnlp/pipelines/ner/disorders/base.py
  edsnlp/pipelines/qualifiers/negation/negation.py
  edsnlp/pipelines/qualifiers/reported_speech/reported_speech.py
  edsnlp/pipelines/trainable/embeddings/text_cnn/text_cnn.py
  edsnlp/pipelines/trainable/embeddings/transformer/transformer.py
  edsnlp/pipelines/trainable/span_qualifier/span_qualifier.py
  edsnlp/train.py
  tests/test_pipeline.py
Due: Running Pytest, Installation

refacto: add unified edsnlp.data api (json, brat, spark, pandas) and LazyCollection object
  .pre-commit-config.yaml
  docs/assets/templates/python/material/docstring/parameters.html
  docs/data/index.md
  docs/data/json.md
  docs/data/overview.png
  docs/data/pandas.md
  docs/data/schemas.md
  docs/data/spark.md
  docs/data/standoff.md
  edsnlp/__init__.py
  edsnlp/connectors/brat.py
  edsnlp/core/lazy_collection.py
  edsnlp/core/registry.py
  edsnlp/data/__init__.py
  edsnlp/data/base.py
  edsnlp/data/brat.py
  edsnlp/data/converters.py
  edsnlp/data/json.py
  edsnlp/data/pandas.py
  edsnlp/data/spark.py
  edsnlp/data/standoff.py
  edsnlp/utils/collections.py
  edsnlp/utils/span_getters.py
  edsnlp/utils/spark_dtypes.py
  mkdocs.yml
  pyproject.toml
  tests/data/test_converters.py
  tests/data/test_json.py
  tests/data/test_pandas.py
  tests/data/test_spark.py
  tests/data/test_standoff.py
  tests/resources/docs.jsonl
  tests/utils/test_spark_dtypes.py
Due: Running Pytest, Installation, Build documentation

chore: update project metadata
  .github/workflows/documentation.yml
  CITATION.cff
  README.md
  changelog.md
  docs/index.md
  pyproject.toml
Due: Build documentation

refacto: redesign pipeline scorers, add input and output spans params to trainable_ner #203
  edsnlp/scorers/__init__.py
  edsnlp/scorers/ner.py
  edsnlp/scorers/speed.py
  pyproject.toml
  tests/test_scorers.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: Running Pytest

fix: update trainable ner with span_setter
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/trainable/ner/factory.py
  edsnlp/pipelines/trainable/ner/ner.py
  edsnlp/scorers/ner.py
  pyproject.toml
  tests/pipelines/trainable/test_ner.py
  tests/training/config.cfg
  tests/training/test_train.py
Due: none

chore: bump version to 0.10.0alpha1
  README.md
  changelog.md
  docs/index.md
  edsnlp/__init__.py
Due: Running Pytest, Installation, Build documentation

tests: improve coverage
  edsnlp/core/registry.py
  edsnlp/optimization.py
  edsnlp/utils/collections.py
Due: Running Pytest, Installation

docs: document core refacto concepts
  docs/concepts/inference.md
  docs/concepts/pipeline.md
  docs/concepts/torch-component.md
  mkdocs.yml
Due: Build documentation

feat: add train script
  edsnlp/connectors/brat.py
  edsnlp/core/pipeline.py
  edsnlp/pipelines/base.py
  edsnlp/scorers/ner.py
  edsnlp/train.py
  edsnlp/utils/span_getters.py
  pyproject.toml
  tests/test_pipeline.py
Due: Running Pytest, Installation

fix: detect torch pipes via the `forward` attribute instead of `batch_process`
  edsnlp/core/lazy_collection.py
  edsnlp/core/pipeline.py
Due: none

tests: change nlp fixtures for large refacto
  tests/conftest.py
Due: Running Pytest

tests: add end to end training test
  edsnlp/optimization.py
  tests/training/config.cfg
  tests/training/dataset/sample-1.ann
  tests/training/dataset/sample-1.txt
  tests/training/dataset/sample-2.ann
  tests/training/dataset/sample-2.txt
  tests/training/test_train.py
Due: Running Pytest, Installation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
