Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

perf: cythonized the EDSPhraseMatcher
  .github/workflows/tests.yml
  .gitignore
  edsnlp/matchers/phrase.pxd
  edsnlp/matchers/phrase.py
  edsnlp/matchers/phrase.pyx
  edsnlp/pipelines/core/normalizer/pollution/pollution.py
  requirements-setup.txt
  setup.py
  tests/matchers/test_phrase.py
Due: Installation

feat: add styling to data table
  demo/app.py
Due: none

fix: update black rev to fix issue with click
  .pre-commit-config.yaml
Due: none

feat: add interrogate pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: linting
  demo/app.py
Due: none

fix: streamlit normalized_variant column and removed debug prints
  demo/app.py
Due: none

fix: stop mutating default param in Sections pipeline
  edsnlp/pipelines/misc/sections/sections.py
Due: none

feat: add code blocks testing
  edsnlp/utils/blocks.py
  requirements-dev.txt
  tests/test_docs.py
Due: Running Pytest

fix: fastapi examples
  docs/advanced-tutorials/fastapi.md
Due: none

fix: normalisation examples
  docs/pipelines/core/normalisation.md
Due: none

fix: endlines examples
  docs/pipelines/core/endlines.md
Due: none

fix: sentences examples
  docs/pipelines/core/sentences.md
Due: none

fix: dates examples
  docs/pipelines/misc/dates.md
Due: none

fix: measures examples
  docs/pipelines/misc/measures.md
Due: none

fix: reason examples
  docs/pipelines/misc/reason.md
Due: none

fix: score examples
  docs/pipelines/ner/score.md
Due: none

fix: qualifier examples
  docs/pipelines/qualifiers/family.md
  docs/pipelines/qualifiers/history.md
  docs/pipelines/qualifiers/hypothesis.md
  docs/pipelines/qualifiers/index.md
  docs/pipelines/qualifiers/negation.md
  docs/pipelines/qualifiers/reported-speech.md
Due: none

fix: remove check pipeline example
  docs/pipelines/index.md
Due: none

fix: detecting-dates examples
  docs/tutorials/detecting-dates.md
Due: none

fix: endlines examples
  docs/tutorials/endlines.md
Due: none

fix: matching tutorial examples
  docs/tutorials/matching-a-terminology.md
Due: none

feat: new custom eds language for french clinical documents
  changelog.md
  demo/app.py
  edsnlp/__init__.py
  edsnlp/language.py
  edsnlp/pipelines/misc/dates/patterns/__init__.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  scripts/serve.py
  setup.py
  tests/conftest.py
  tests/pipelines/misc/test_measure.py
  tests/pipelines/misc/test_reason.py
  tests/pipelines/qualifiers/conftest.py
  tests/processing/test_processing.py
  tests/test_language.py
Due: Running Pytest, Installation

fix: reasons examples
  docs/tutorials/reason.md
Due: none

fix: spacy101 examples
  docs/tutorials/spacy101.md
Due: none

fix: remove checking for omop and brat examples
  docs/utilities/connectors/brat.md
  docs/utilities/connectors/omop.md
Due: none

feat: better indentation handling in block testing
  edsnlp/utils/blocks.py
Due: none

fix: multiple-texts examples
  docs/tutorials/multiple-texts.md
Due: none

docs: document EDSLanguage
  docs/languages.md
  mkdocs.yml
Due: Build documentation

feat: add docstrings to blocks
  changelog.md
  docs/pipelines/core/endlines.md
  edsnlp/utils/blocks.py
  tests/test_docs.py
Due: Running Pytest

feat: add pyproject.toml to configure pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  tests/pipelines/core/test_normalisation.py
  tests/processing/test_processing.py
Due: none

feat: update tests workflow
  .github/workflows/tests.yml
Due: none

Update docs/languages.md
  docs/languages.md
Due: Build documentation

feat: log potential tokenization errors
  edsnlp/language.py
Due: Running Pytest, Installation

docs: document EDSLanguage
  docs/languages.md
  edsnlp/language.py
Due: Running Pytest, Installation, Build documentation

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
