Repository aphp/edsnlp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

Running Pytest:
  stage: test
  before_script:
  - scripts/install.sh
  - python scripts/conjugate_verbs.py
  script:
  - python -m pytest --cov edsnlp --junitxml=report.xml --html=report.html --self-contained-html
  after_script:
  - coverage xml -o coverage.xml
  - coverage html -d htmlcov
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  ...

Installation:
  stage: test
  image: harbor.eds.aphp.fr/public/python:3.7
  script:
  - pip install .

Build documentation:
  stage: documentation
  script:
  - pip install -r requirements-docs.txt
  - mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

fix: blacken-docs issue
  docs/tutorials/multiple-texts.md
Due: none

feat: add TNM pipeline
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/ner/scores/tnm/__init__.py
  edsnlp/pipelines/ner/scores/tnm/factory.py
  edsnlp/pipelines/ner/scores/tnm/patterns.py
  edsnlp/pipelines/ner/scores/tnm/tnm.py
  notebooks/tnm/prototype.md
  setup.py
Due: Installation

fix: slugify with _ instead of -
  edsnlp/processing/helpers.py
  tests/processing/test_processing.py
Due: none

feat: allow recursive attributes in processing
  docs/tutorials/multiple-texts.md
  edsnlp/processing/distributed.py
  edsnlp/processing/helpers.py
  edsnlp/processing/simple.py
  tests/processing/test_processing.py
Due: none

fix: balck in docs
  docs/tutorials/multiple-texts.md
Due: none

chore: complete changelog
  changelog.md
Due: none

feat: add some normalisation
  edsnlp/pipelines/ner/scores/tnm/models.py
  edsnlp/pipelines/ner/scores/tnm/patterns.py
  edsnlp/pipelines/ner/scores/tnm/tnm.py
Due: none

feat: rename tnm to TNM
  edsnlp/pipelines/ner/scores/tnm/factory.py
Due: none

docs: add minimal score documenation
  docs/pipelines/ner/score.md
Due: none

chore: update changelog
  changelog.md
Due: none

test: add TNM test
  tests/pipelines/ner/test_tnm.py
Due: none

docs: add reference to TNM pipeline
  docs/index.md
  docs/pipelines/index.md
Due: Build documentation

fix: pre-commit
  edsnlp/pipelines/ner/scores/tnm/models.py
  edsnlp/pipelines/ner/scores/tnm/tnm.py
Due: none

fix: tnm now writes to doc.ents
  edsnlp/pipelines/ner/scores/tnm/tnm.py
Due: none

feat: add generic callback
  edsnlp/processing/distributed.py
  edsnlp/processing/helpers.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
Due: none

drugs_pipeline: add drugs.json resource containing French drugs: brand names and active ingredients with their ATC codes
  edsnlp/resources/drugs.json
Due: none

drugs_pipeline: add the new drugs_pipeline (factory/patterns), register it in setup.py and add a unit test
  edsnlp/pipelines/factories.py
  edsnlp/pipelines/ner/drugs/__init__.py
  edsnlp/pipelines/ner/drugs/factory.py
  edsnlp/pipelines/ner/drugs/patterns.py
  setup.py
  tests/pipelines/ner/test_drugs.py
Due: Installation

drugs_pipeline: add the documentation, register it in mkdocs.yml
  docs/index.md
  docs/pipelines/index.md
  docs/pipelines/ner/drugs.md
  mkdocs.yml
Due: Build documentation

test: add callback tests
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
  tests/processing/test_processing.py
Due: none

feat(multiprocessing)!: rename extractor function
  edsnlp/processing/distributed.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
  tests/processing/test_processing.py
Due: none

docs(multiprocessing): update multiple-texts doc
  docs/tutorials/multiple-texts.md
Due: none

style: apply pre-commit
  edsnlp/processing/distributed.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
  tests/processing/test_processing.py
Due: none

feat(mp)!: rename results_extractor
  edsnlp/processing/distributed.py
  edsnlp/processing/parallel.py
  edsnlp/processing/simple.py
  edsnlp/processing/wrapper.py
  tests/processing/test_processing.py
Due: none

docs: update mp documentation
  docs/tutorials/multiple-texts.md
  tests/processing/test_processing.py
Due: none

Update doc
  docs/pipelines/core/endlines.md
Due: none

update changelog
  changelog.md
  edsnlp/__init__.py
Due: Running Pytest, Installation

Revert "Update doc"
  docs/pipelines/core/endlines.md
Due: none

Revert "Revert "Update doc""
  docs/pipelines/core/endlines.md
Due: none

Revert "update changelog"
  changelog.md
  edsnlp/__init__.py
Due: Running Pytest, Installation

Update doc citation endlines (#60)
  docs/pipelines/core/endlines.md
Due: none

Path conditions:
  Running Pytest: any of: tests/**, edsnlp/**, .gitlab-ci.yml
  Installation: any of: setup.py, edsnlp/**
  Build documentation: any of: docs/**, mkdocs.yml, .gitlab-ci.yml
